openapi: 3.2.0
info:
  description: Accela API for transactional records and related record resources
  title: Records/Addresses API
  version: v4
servers:
- url: https://apis.accela.com/
tags:
- name: Records/Addresses
  description: A record can have at least one associated address, such as the address of the application contact or the location of a permit application, service request, or work order.
paths:
  /v4/records/{recordId}/addresses:
    get:
      tags:
      - Records/Addresses
      summary: Get All Record Addresses
      description: 'Gets the addresses linked to the specified record.


        **API Endpoint**: GET /v4/records/{recordId}/addresses


        **Scope**: records


        **App Type**: All


        **Authorization Type**: No auth required


        **Civic Platform version**: 7.3.3.2'
      operationId: v4.get.records.recordId.addresses
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: Filter by the primary address flag.
        in: query
        name: isPrimary
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/recordAddressModel'
                type: array
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
    post:
      tags:
      - Records/Addresses
      summary: Create Record Addresses
      description: 'Creates new address(es) for the specified record.


        **API Endpoint**: POST /v4/records/{recordId}/addresses


        **Scope**: records


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      operationId: v4.post.records.recordId.addresses
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/recordId'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/recordAddressModel'
              type: array
        description: Record address request information to be created.
  /v4/records/{recordId}/addresses/{id}:
    put:
      description: 'Updates the address for the specified record.


        **API Endpoint**: PUT /v4/records/{recordId}/addresses/{id}


        **Scope**: records


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Update Record Address
      operationId: v4.put.records.recordId.addresses.id
      tags:
      - Records/Addresses
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/recordId'
      - description: The ID of the address to update.
        in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressModel'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/request_recordAddressModel'
        description: Address information to be updated.
        required: true
  /v4/records/{recordId}/addresses/{ids}:
    delete:
      tags:
      - Records/Addresses
      summary: Delete Record Addresses
      description: 'Deletes addresses from the specified record.


        **API Endpoint**: DELETE /v4/records/{recordId}/addresses/{idS}


        **Scope**: records


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      operationId: v4.delete.records.recordId.addresses.ids
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/recordId'
      - description: Comma-delimited IDs of of the addresses to be deleted.
        in: path
        name: ids
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
components:
  schemas:
    identifierModel:
      type: object
      properties:
        text:
          type: string
        value:
          type: string
    capIDModel:
      type: object
      properties:
        customId:
          type: string
        id:
          type: string
        serviceProviderCode:
          type: string
        trackingId:
          format: int64
          type: integer
        value:
          type: string
    response_resultModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/resultModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    addressModel:
      type: object
      properties:
        addressLine1:
          type: string
        addressLine2:
          type: string
        addressTypeFlag:
          $ref: '#/components/schemas/identifierModel'
        city:
          type: string
        country:
          $ref: '#/components/schemas/identifierModel'
        county:
          type: string
        description:
          type: string
        direction:
          $ref: '#/components/schemas/identifierModel'
        distance:
          format: double
          type: number
        houseAlphaEnd:
          type: string
        houseAlphaStart:
          type: string
        houseFractionEnd:
          $ref: '#/components/schemas/identifierModel'
        houseFractionStart:
          $ref: '#/components/schemas/identifierModel'
        id:
          format: int64
          type: integer
        inspectionDistrict:
          type: string
        inspectionDistrictPrefix:
          type: string
        isPrimary:
          type: string
        levelEnd:
          type: string
        levelPrefix:
          type: string
        levelStart:
          type: string
        neighborhood:
          type: string
        neighborhoodPrefix:
          type: string
        postalCode:
          type: string
        recordId:
          $ref: '#/components/schemas/capIDModel'
        refAddressId:
          format: int64
          type: integer
        secondaryStreet:
          type: string
        secondaryStreetNumber:
          type: integer
        serviceProviderCode:
          type: string
        state:
          $ref: '#/components/schemas/identifierModel'
        status:
          $ref: '#/components/schemas/identifierModel'
        streetAddress:
          type: string
        streetEnd:
          type: integer
        streetEndFrom:
          type: integer
        streetEndTo:
          type: integer
        streetName:
          type: string
        streetPrefix:
          type: string
        streetStart:
          type: integer
        streetStartFrom:
          type: integer
        streetStartTo:
          type: integer
        streetSuffix:
          $ref: '#/components/schemas/identifierModel'
        streetSuffixDirection:
          $ref: '#/components/schemas/identifierModel'
        type:
          $ref: '#/components/schemas/identifierModel'
        unitEnd:
          type: string
        unitStart:
          type: string
        unitType:
          $ref: '#/components/schemas/identifierModel'
        xCoordinate:
          format: double
          type: number
        yCoordinate:
          format: double
          type: number
    recordAddressModel:
      type: object
      properties:
        addressLine1:
          type: string
          description: The first line of the address.
        addressLine2:
          type: string
          description: The second line of the address.
        addressTypeFlag:
          type: object
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
          description: A code name or an abbreviation of the address type.
        city:
          type: string
          description: The name of the city.
        country:
          type: object
          description: The name of the country. See [Get All Address Countries](./api-settings.html#operation/v4.get.settings.addresses.countries).
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        crossStreetNameStart:
          type: string
          description: 'The beginning intersecting street name for searching.


            Added in Civic Platform version: 9.2.0

            '
        crossStreetNameEnd:
          type: string
          description: 'The ending intersecting street name for searching.


            Added in Civic Platform version: 9.2.0

            '
        county:
          type: string
          description: The name of the county.
        description:
          type: string
          description: A description of the address.
        direction:
          description: The street direction of the primary address associated with the application.
          type: object
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        distance:
          type: number
          format: double
          description: The distance from another landmark used to locate the address.
        houseAlphaStart:
          type: string
          description: The beginning alphabetic unit in street address.
        houseAlphaEnd:
          type: string
          description: The ending alphabetic unit in street address.
        houseFractionStart:
          type: object
          description: Beginning fraction value used in combination with the Street number fields.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        houseFractionEnd:
          type: object
          description: Ending franction value used in combination with the Street number fields.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        id:
          format: int64
          type: integer
          description: The unique address id assigned by the Civic Platform server.
        inspectionDistrict:
          type: string
          description: The inspection district where the address is located.
        inspectionDistrictPrefix:
          type: string
          description: The prefix for the inspection district where the address is located.
        isPrimary:
          type: string
          description: Indicates whether or not to designate the address as the primary address. Only one address can be primary at any given time.
        levelEnd:
          type: string
          description: The ending level number (floor number) that makes up the address within a complex.
        levelPrefix:
          type: string
          description: The prefix for the level numbers (floor numbers) that make up the address.
        levelStart:
          type: string
          description: The starting level number (floor number) that makes up the address within a complex.
        locationType:
          type: string
          description: 'The type of location used for Right of Way Management. The valid values are configured with the LOCATION_TYPE standard choice in Civic Platform Administration.


            Added in Civic Platform version: 9.2.0

            '
        neighborhood:
          type: string
          description: The neighborhood where the address is located.
        neighborhoodPrefix:
          type: string
          description: The prefix for neighborhood where the address is located.
        postalCode:
          type: string
          description: The postal ZIP code for the address.
        recordId:
          $ref: '#/components/schemas/recordIdModel'
        refAddressId:
          description: The reference address id.
          format: int64
          type: integer
        secondaryStreet:
          type: string
          description: This field (along with the Secondary Road Number field) displays an extra description for the location when two roads that cross or a street with two names makes up the address of the location.
        secondaryStreetNumber:
          type: number
          format: long
          description: This field (along with the Secondary Road field) displays an extra description for the location when two roads that cross or a street with two names makes up the address of the location.
        serviceProviderCode:
          description: The unique agency identifier.
          type: string
        state:
          type: object
          description: The name of the state.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        status:
          type: object
          description: The address status indicating whether the address is active or inactive.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        streetAddress:
          type: string
          description: The street address.
        streetEnd:
          type: number
          format: long
          description: The ending number of a street address range.
        streetEndFrom:
          description: The beginning number of a street end address range.
          format: int64
          type: integer
        streetEndTo:
          description: The ending number of a street end address range.
          format: int64
          type: integer
        streetName:
          type: string
          description: The name of the street.
        streetNameStart:
          type: string
          description: 'The beginning street name for searching.


            Added in Civic Platform version: 9.2.0

            '
        streetNameEnd:
          type: string
          description: 'The ending street name for searching.


            Added in Civic Platform version: 9.2.0

            '
        streetPrefix:
          type: string
          description: Any part of an address that appears before a street name or number. For example, if the address is 123 West Main, "West" is the street prefix.
        streetStart:
          type: number
          format: long
          description: The starting number of a street address range.
        streetStartFrom:
          description: The beginning number of a street start address range.
          format: int64
          type: integer
        streetStartTo:
          description: The ending number of a street start address range.
          format: int64
          type: integer
        streetSuffix:
          type: object
          description: The type of street such as "Lane" or "Boulevard".
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        streetSuffixDirection:
          type: object
          description: The direction appended to the street suffix. For example, if the address is 500 56th Avenue NW, "NW" is the street suffix direction.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        type:
          type: object
          description: The address type.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        unitStart:
          type: string
          description: The starting value of a range of unit numbers.
        unitEnd:
          type: string
          description: The ending value of a range of unit numbers.
        unitType:
          type: object
          description: The unit type designation of the address.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        xCoordinate:
          type: number
          format: double
          description: The longitudinal coordinate for this address.
        yCoordinate:
          type: number
          format: double
          description: The latitudinal coordinate for this address.
    recordIdModel:
      type: object
      properties:
        customId:
          description: An ID based on a different numbering convention from the numbering convention used by the record ID (xxxxx-xx-xxxxx). Accela Automation auto-generates and applies an alternate ID value when you submit a new application.
          type: string
        id:
          description: The record system id assigned by the Civic Platform server.
          type: string
        serviceProviderCode:
          description: The unique agency identifier.
          type: string
        trackingId:
          description: The application tracking number (IVR tracking number).
          format: int64
          type: integer
        value:
          description: The alphanumeric record id.
          type: string
    resultModel:
      type: object
      properties:
        code:
          description: The error code, if an error is encountered.
          type: string
        id:
          description: The system id of the object in this operation.
          format: int64
          type: integer
        isSuccess:
          description: Indicates whether or not the operation on the object is successful.
          type: boolean
        message:
          description: The error message, if an error is encountered
          type: string
    request_recordAddressModel:
      type: object
      properties:
        addressLine1:
          type: string
          description: The first line of the address.
        addressLine2:
          type: string
          description: The first line of the address.
        addressTypeFlag:
          type: object
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
          description: A code name or an abbreviation of the address type.
        city:
          type: string
          description: The name of the city.
        country:
          type: object
          description: The name of the country. See [Get All Address Countries](./api-settings.html#operation/v4.get.settings.addresses.countries).
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        county:
          type: string
          description: The name of the county.
        crossStreetNameStart:
          type: string
          description: 'The beginning intersecting street name for searching.


            Added in Civic Platform version: 9.2.0

            '
        crossStreetNameEnd:
          type: string
          description: 'The ending intersecting street name for searching.


            Added in Civic Platform version: 9.2.0

            '
        description:
          type: string
          description: A description of the address.
        direction:
          description: The street direction of the primary address associated with the application.
          type: object
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        distance:
          type: number
          format: double
          description: The distance from another landmark used to locate the address.
        houseAlphaStart:
          type: string
          description: The beginning alphabetic unit in street address.
        houseAlphaEnd:
          type: string
          description: The ending alphabetic unit in street address.
        houseFractionStart:
          type: object
          description: Beginning fraction value used in combination with the Street number fields.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        houseFractionEnd:
          type: object
          description: Ending franction value used in combination with the Street number fields.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        inspectionDistrict:
          type: string
          description: The inspection district where the address is located.
        inspectionDistrictPrefix:
          type: string
          description: The prefix for the inspection district where the address is located.
        isPrimary:
          type: string
          description: Indicates whether or not to designate the address as the primary address. Only one address can be primary at any given time.
        levelStart:
          type: string
          description: The starting level number (floor number) that makes up the address within a complex.
        levelEnd:
          type: string
          description: The ending level number (floor number) that makes up the address within a complex.
        levelPrefix:
          type: string
          description: The prefix for the level numbers (floor numbers) that make up the address.
        locationType:
          type: string
          description: 'The type of location used for Right of Way Management. The valid values are configured with the LOCATION_TYPE standard choice in Civic Platform Administration.


            Added in Civic Platform version: 9.2.0

            '
        neighborhood:
          type: string
          description: The neighborhood where the address is located.
        neighborhoodPrefix:
          type: string
          description: The prefix for neighborhood where the address is located.
        postalCode:
          type: string
          description: The postal ZIP code for the address.
        secondaryStreet:
          type: string
          description: This field (along with the Secondary Road Number field) displays an extra description for the location when two roads that cross or a street with two names makes up the address of the location.
        secondaryStreetNumber:
          type: number
          format: long
          description: This field (along with the Secondary Road field) displays an extra description for the location when two roads that cross or a street with two names makes up the address of the location.
        state:
          type: object
          description: The name of the state.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        status:
          type: object
          description: The address status indicating whether the address is active or inactive.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        streetAddress:
          type: string
          description: The street address.
        streetEnd:
          type: number
          format: long
          description: The ending number of a street address range.
        streetName:
          type: string
          description: The name of the street.
        streetNameStart:
          type: string
          description: 'The beginning street name for searching.


            Added in Civic Platform version: 9.2.0

            '
        streetNameEnd:
          type: string
          description: 'The ending street name for searching.


            Added in Civic Platform version: 9.2.0

            '
        streetPrefix:
          type: string
          description: Any part of an address that appears before a street name or number. For example, if the address is 123 West Main, "West" is the street prefix.
        streetStart:
          type: number
          format: long
          description: The starting number of a street address range.
        streetSuffix:
          type: object
          description: The type of street such as "Lane" or "Boulevard".
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        streetSuffixDirection:
          type: object
          description: The direction appended to the street suffix. For example, if the address is 500 56th Avenue NW, "NW" is the street suffix direction.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        type:
          type: object
          description: The address type.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        unitStart:
          type: string
          description: The starting value of a range of unit numbers.
        unitEnd:
          type: string
          description: The ending value of a range of unit numbers.
        unitType:
          type: object
          description: The unit type designation of the address.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        xCoordinate:
          type: number
          format: double
          description: The longitudinal coordinate for this address.
        yCoordinate:
          type: number
          format: double
          description: The latitudinal coordinate for this address.
  parameters:
    lang:
      description: Language parameter to support I18N. Default language is en_US.
      in: query
      name: lang
      required: false
      schema:
        type: string
    recordId:
      description: The ID of the record to fetch. See [Get All Records](./api-records.html#operation/v4.get.records), [Search Records](./api-search.html#operation/v4.post.search.records), or [Get My Records](./api-records.html#operation/v4.get.records.mine).
      in: path
      name: recordId
      required: true
      schema:
        type: string
    fields:
      description: Comma-delimited names of fields to be returned in the response. Note - Field names are case-sensitive and only first-level fields are supported. Invalid field names are ignored.
      in: query
      name: fields
      required: false
      schema:
        type: string
    authHeaderParam:
      description: Construct oAuth2 authentication token
      in: header
      name: Authorization
      required: true
      schema:
        type: string
x-api-evangelist-provenance:
  generated: '2026-09-06'
  method: searched
  source: https://developer.accela.com/api/v4/v4-records.json
  note: Harvested verbatim from the Accela Developer Portal API Reference, which renders these Swagger 2.0 documents via ReDoc (spec-url on developer.accela.com/docs/api_reference/api-*.html). The byte-identical original is kept at openapi/_original/. This copy is the same document serialized to YAML.
