openapi: 3.2.0
info:
  description: Use the Inspections API to manage inspection records during their complete lifecycle from application submittal to permit issuance or license issuance. Your agency may need to complete inspections on new property developments, homes, or complaints.
  title: Inspections API
  version: v4
servers:
- url: https://apis.accela.com/
tags:
- name: Inspections
paths:
  /v4/inspections:
    get:
      description: 'Gets a list of inspections stored in the system.


        **API Endpoint**: GET /v4/inspections


        **Scope**: inspections


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Get All Inspections
      operationId: v4.get.inspections
      tags:
      - Inspections
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: Filter by multiple (comma-delimited) inspection types. See [Get All Inspection Types](./api-settings.html#operation/v4.get.settings.inspections.types).
        in: query
        name: types
        required: false
        schema:
          type: string
      - description: The start date of schedule date range filter. Use the date format yyyy-mm-dd.
        in: query
        name: scheduledDateFrom
        required: false
        schema:
          type: string
      - description: The end date of schedule date range filter. Use the date format yyyy-mm-dd.
        in: query
        name: scheduledDateTo
        required: false
        schema:
          type: string
      - description: 'Filter by inspector IDs. See [Get All Inspectors](./api-inspections.html#operation/v4.get.inspectors). '
        in: query
        name: inspectorIds
        required: false
        schema:
          type: string
      - description: Filter by district IDs.
        in: query
        name: districtIds
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - description: Filter by module.
        in: query
        name: module
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_inspectionModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{ids}:
    get:
      description: 'Gets the information for one or more requested inspections.


        **API Endpoint**: GET /v4/inspections/{ids}


        **Scope**: inspections


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Get Inspections
      operationId: v4.get.inspections.ids
      tags:
      - Inspections
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: Comma-delimited IDs of the inspections to fetch.
        in: path
        name: ids
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_inspectionModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
    delete:
      description: 'Deletes one or more specified inspections.


        **API Endpoint**: DELETE /v4/inspections/{ids}


        **Scope**: inspections


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Delete Inspections
      operationId: v4.delete.inspections.ids
      tags:
      - Inspections
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: Comma-delimited IDs of the inspections to be deleted.
        in: path
        name: ids
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/availableDates:
    get:
      description: 'Gets available dates for scheduling an inspection, starting on the specified {startDate}. This API allows a date range of up to 31 days. Note that this API does not filter the available dates based on the Schedule Cut-off Time and Schedule Number of Days Out fields on the Civic Platform inspection calendar. To filter the available dates based on the Schedule Cut-off Time and Schedule Number of Days Out inspection calendar fields, set both {validateScheduleNumOfDays} and {validateScheduleNumOfDays} parameters to true.


        **API Endpoint**: GET /v4/inspections/availableDates


        **Scope**: inspections


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Get All Available Dates for Inspection
      operationId: v4.get.inspections.availableDates
      tags:
      - Inspections
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: Filter by inspection type id.
        in: query
        name: typeId
        schema:
          type: integer
          format: int64
      - description: Filter by record id.
        in: query
        name: recordId
        required: true
        schema:
          type: string
      - description: Filter by start date.
        in: query
        name: startDate
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request returns an array of available inspection dates. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                items:
                  description: Array of available inspection dates.
                  format: date
                  type: string
                type: array
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/checkAvailability:
    get:
      description: 'Checks inspection availability for a given record and inspection type. This API returns an array of inspectors and their available inspection dates and times, based on the record''s inspection workflow, calendar, and permissions. The results include available dates for the current and following months.


        **API Endpoint**: GET /v4/inspections/checkAvailability


        **Scope**: inspections


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.3.4'
      summary: Check Inspection Availability
      operationId: v4.get.inspections.checkAvailability
      tags:
      - Inspections
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: 'The record to check. See [Get Records](./api-records.html#operation/v4.get.records.ids). '
        in: query
        name: recordId
        required: true
        schema:
          type: string
      - description: 'The inspection type to check for the specified record. See [Get All Inspection Types for Record](./api-records.html#operation/v4.get.records.recordIds.inspectionTypes). '
        in: query
        name: inspectionTypeId
        required: true
        schema:
          type: string
      - description: 'Filter by inspection id. See [Get All Inspections](./api-inspections.html#operation/v4.get.inspections). '
        in: query
        name: inspectionId
        schema:
          type: string
      - description: 'Filter by department. See [Get All Departments](./api-settings.html#operation/v4.get.settings.departments). '
        in: query
        name: department
        schema:
          type: string
      - description: Filter by start date, using the date format yyyy-mm-dd.
        in: query
        name: startDate
        schema:
          type: string
      - description: Filter by end date, using the date format yyyy-mm-dd.
        in: query
        name: endDate
        schema:
          type: string
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_inspectionAvailabilityArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/schedule:
    post:
      description: 'Creates an inspection with the specified inspection and scheduling information. The Schedule Inspection API automatically sets the inspection status to "Scheduled" and category to "Insp Scheduled".


        **API Endpoint**: POST /v4/inspections/schedule


        **Scope**: inspections


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Schedule Inspection
      operationId: v4.post.inspections.schedule
      tags:
      - Inspections
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_inspectionModel'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/requestSchedule_inspectionModel'
        description: The inspection to schedule.
        required: true
  /v4/inspections/{id}:
    put:
      description: 'Updates an inspection with the specified inspection details such as schedule date, time, and inspector. The Update Inspection API updates the inspection status and category with the specified status and category request fields.


        **API Endpoint**: PUT /v4/inspections/{id}


        **Scope**: inspections


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Update Inspection
      operationId: v4.put.inspections.id
      tags:
      - Inspections
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: The ID of the inspection to update.
        in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_inspectionModel'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/requestUpdate_inspectionModel'
        description: The inspection information to be updated.
        required: true
  /v4/inspections/{id}/reschedule:
    put:
      description: 'Updates an inspection with the specified schedule date, time, inspectorId, and comments. The Reschedule Inspection API automatically sets the inspection status to "Scheduled" and category to "Insp Scheduled".


        **API Endpoint**: PUT /v4/inspections/{id}/reschedule


        **Scope**: inspections


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Reschedule Inspection
      operationId: v4.put.inspections.id.reschedule
      tags:
      - Inspections
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: Inspection Id
        in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_inspectionModel'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/requestReschedule_inspectionModel'
        description: The inspection information to reschedule.
        required: true
  /v4/inspections/{id}/result:
    put:
      description: 'Provides the results of a specified inspection.


        **API Endpoint**: PUT /v4/inspections/{id}/result


        **Scope**: inspections


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Result Inspection
      operationId: v4.put.inspections.id.result
      tags:
      - Inspections
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: Inspection Id
        in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_inspectionModel'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/requestUpdate_inspectionModel'
        description: The inspection result to update.
        required: true
  /v4/inspections/{id}/schedule:
    put:
      description: 'Updates a pending inspection with the specified inspection details such as schedule date, time, and inspector. The Schedule Pending Inspection API automatically sets the inspection status to "Scheduled" and category to "Insp Scheduled".


        **API Endpoint**: PUT /v4/inspections/{id}/schedule


        **Scope**: inspections


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Schedule Pending Inspection
      operationId: v4.put.inspections.id.schedule
      tags:
      - Inspections
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: Inspection Id
        in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_inspectionModel'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/requestSchedule_inspectionModel'
        description: The inspection information to update.
        required: true
  /v4/inspections/{ids}/assign:
    put:
      description: 'Assigns an inspector to the specified inspection.


        **API Endpoint**: PUT /v4/inspections/{ids}/assign


        **Scope**: inspections


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Assign Inspections
      operationId: v4.put.inspections.ids.assign
      tags:
      - Inspections
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: Comma-delimited IDs of the inspections to assign
        in: path
        name: ids
        required: true
        schema:
          type: string
      - description: The inspector to assign to.
        in: query
        name: inspectorId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{ids}/cancel:
    delete:
      description: 'Cancels scheduled inspections.


        **API Endpoint**: DELETE /v4/inspections/{ids}/cancel


        **Scope**: inspections


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Cancel Inspections
      operationId: v4.delete.inspections.ids.cancel
      tags:
      - Inspections
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: Comma-delimited IDs of the inspections to cancel.
        in: path
        name: ids
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{id}/related:
    get:
      description: 'Gets the related (child) inspections for the specified parent inspection.


        **API Endpoint**: GET /v4/inspections/{id}/related


        **Scope**: inspections


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Get Related Inspections
      operationId: v4.get.inspections.id.related
      tags:
      - Inspections
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/idInspection'
      - description: Filter by type of inspection relationship
        in: query
        name: relationship
        required: false
        schema:
          type: string
          enum:
          - child
          - parent
          - renewal
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/response_inspectionRelatedModelArray'
                type: array
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
    post:
      description: 'Adds related (child) inspections to the specified parent inspection.


        **API Endpoint**: POST /v4/inspections/{id}/related


        **Scope**: inspections


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Create Related Inspections
      operationId: v4.post.inspections.id.related
      tags:
      - Inspections
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/idInspection'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
      requestBody:
        content:
          application/json:
            schema:
              items:
                format: int64
                type: integer
              type: array
        description: An array of inspection IDs to be linked to the parent inspection. See [Get All Inspections](./api-inspections.html#operation/v4.get.inspections), [Get Related Inspections](./api-inspections.html#operation/v4.get.inspections.id.related).
        required: true
  /v4/inspections/{id}/related/{childIds}:
    delete:
      description: 'Deletes one or more related (child) inspections from the specified parent inspection.


        **API Endpoint**: DELETE /v4/inspections/{id}/related/{childIds}


        **Scope**: inspections


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Delete Related Inspections
      operationId: v4.delete.inspections.id.related.childIds
      tags:
      - Inspections
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: The ID of the inspection to fetch.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Comma-delimited IDs of child inspections to be deleted.
        in: path
        name: childIds
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{inspectionId}/comments:
    get:
      description: 'Gets the comments for the specified inspection.


        **API Endpoint**: GET /v4/inspections/{inspectionId}/comments


        **Scope**: inspections


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Get All Comments for Inspection
      operationId: v4.get.inspections.inspectionId.comments
      tags:
      - Inspections
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/inspectionId'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_inspectionCommentModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{inspectionIds}/histories:
    get:
      description: 'Gets the history for the specified inspections.


        **API Endpoint**: GET /v4/inspections/{inspectionIds}/histories


        **Scope**: inspections


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Get Inspection History
      operationId: v4.get.inspections.inspectionIds.histories
      tags:
      - Inspections
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: Comma-delimited IDs of inspections to fetch.
        in: path
        name: inspectionIds
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_inspectionModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
components:
  schemas:
    requestSchedule_inspectionModel:
      type: object
      properties:
        teamName:
          description: Inspection Team name. It's not required if use department.
          type: string
        floor:
          description: Inspection Floor.
          type: string
        floorUnit:
          description: Inspection Floor Unit.
          type: string
        billable:
          description: This defines whether or not the item is billable.
          enum:
          - Y
          - N
          type: string
        category:
          description: The inspection category, which is used to organize inspection types. An inspection type is assigned to one or more inspection categories.
          type: string
        commentDisplay:
          description: Indicates whether or not Accela Citizen Access users can view the inspection results comments.
          type: string
        commentPublicVisible:
          description: "Specifies the type of user who can view the inspection result comments. \"All ACA Users\" - Both registered and anonymous Accela Citizen Access users can view the comments for inspection results. \"Record Creator Only\" - the user who created the record can see the comments for the inspection results. \"Record Creator and Licensed Professional\" - The user who created the record and the licensed professional associated with the record can see the comments for the inspection results.\t"
          items:
            type: string
          type: array
        completedAMPM:
          description: Indicates whether completed time is "AM" or "PM".
          type: string
        completedDate:
          description: The date of completion.
          format: date-time
          type: string
        completedTime:
          description: The time of completion.
          type: string
        contact:
          $ref: '#/components/schemas/inspectionContactModel'
        desiredAMPM:
          description: Indicates whether the desired inspection time is AM or PM.
          type: string
        desiredDate:
          description: The desired inspection date.
          format: date-time
          type: string
        desiredTime:
          description: The desired inspection time.
          type: string
        endMileage:
          description: The ending mileage for the inspection.
          format: float
          type: number
        endTime:
          description: The time the inspection was completed.
          format: date-time
          type: string
        estimatedEndTime:
          description: inspection estimated end time.
          type: string
        estimatedStartTime:
          description: The scheduled start time for the inspection.
          type: string
        gisAreaName:
          description: The GIS Object ID of the parent application if the application that the inspection is scheduled for has a parent application that is a project application.
          type: string
        grade:
          description: The name of the inspection grade.
          type: string
        inspectorId:
          description: The ID number of the inspector. See [Get All Inspectors](./api-inspections.html#operation/v4.get.inspectors).
          type: string
        isAutoAssign:
          description: This defines whether or not you want to automatically reschedule the inspection when the previous inspection status attains Approved status.
          type: string
        latitude:
          description: The angular distance of a place north or south of the earth's equator, usually expressed in degrees and minutes.
          format: float
          type: number
        longitude:
          description: The angular distance of a place east or west of the meridian at Greenwich, England, usually expressed in degrees and minutes.
          format: float
          type: number
        majorViolation:
          description: The number of major violations.
          format: int64
          type: integer
        overtime:
          description: A labor cost factor that indicates time worked beyond a worker's regular working hours.
          type: string
        priority:
          description: The priority level assigned to the inspection.
          format: double
          type: number
        publicVisible:
          description: This defines whether or not Accela Citizen Access users can view comment about the inspection results.
          type: string
        recordId:
          $ref: '#/components/schemas/recordIdModel'
        requestComment:
          description: Comments about the new inspection. For example, you may identify who requested the inspection.
          type: string
        requestorFirstName:
          description: The first name of the person requesting an inspection-related operation.
          type: string
        requestorLastName:
          description: The last name of the person requesting an inspection-related operation.
          type: string
        requestorMiddleName:
          description: The middle name of the person requesting an inspection-related operation.
          type: string
        requestorPhone:
          description: The telephone number for the person who processes the inspection request or schedules the inspection.
          type: string
        requestorPhoneIDD:
          description: The telephone number for the person who processes the inspection request or schedules the inspection.
          type: string
        requestorUserId:
          description: The user Id of the person requesting an inspection-related operation.
          type: string
        requiredInspection:
          description: This defines whether the inspection is optional or required.
          type: string
        resultComment:
          description: The inspection result comments.
          type: string
        resultType:
          description: 'The type of result that can be ascibed to an inspection. There are three result types: Approved: Approves (passes) the checklist item. Denied: Denies (fails) the checklist item. Informational: Indicates that the checklist items do not need a status of app'
          type: string
        scheduleEndAMPM:
          description: Indicates whether the scheduleEndTime is in the AM or PM.
          enum:
          - AM
          - PM
          type: string
        scheduleEndTime:
          description: The scheduled end time for the inspection.
          type: string
        scheduleStartAMPM:
          description: AM indicates the 12 hour period from midnight to noon. PM indicates the 12 hour period from noon to midnight.
          enum:
          - AM
          - PM
          type: string
        scheduleStartTime:
          description: The scheduled start time for the inspection.
          type: string
        serviceProviderCode:
          description: The unique agency identifier.
          type: string
        startMileage:
          description: The starting mileage for the inspection.
          format: float
          type: number
        startTime:
          description: The time when you started the inspection.
          format: date-time
          type: string
        status:
          type: object
          description: The inspection status. See [Get All Inspection Statuses](./api-settings.html#operation/v4.get.settings.inspections.statuses).
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        totalMileage:
          description: The total mileage for the inspection.
          format: float
          type: number
        totalScore:
          description: The overall score of the inspection that includes the inspection result, inspection grade, checklist total score and checklist major violation option.
          format: int64
          type: integer
        totalTime:
          description: The total amount of time used to do an inspection.
          format: double
          type: number
        type:
          $ref: '#/components/schemas/inspectionTypeModel'
        unitNumber:
          description: The number of time units (see timeUnitDuration) comprising an inspection.
          type: string
        units:
          description: The amount of time comprising the smallest time unit for conducting an inspection.
          format: double
          type: number
        vehicleId:
          description: A number, such as the license plate number or VIN, that identifies the vehicle used to complete an inspection.
          type: string
    response_inspectionModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/inspectionModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    response_inspectionCommentModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/inspectionCommentModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    inspectionRelatedModel:
      type: object
      properties:
        teamName:
          description: Inspection Team name.
          type: string
        floor:
          description: Inspection Floor.
          type: string
        floorUnit:
          description: Inspection Floor Unit.
          type: string
        address:
          $ref: '#/components/schemas/inspectionAddressModel'
        billable:
          description: This defines whether or not the item is billable.
          enum:
          - Y
          - N
          type: string
        category:
          description: The inspection category, which is used to organize inspection types. An inspection type is assigned to one or more inspection categories.
          type: string
        commentDisplay:
          description: Indicates whether or not Accela Citizen Access users can view the inspection results comments.
          type: string
        commentPublicVisible:
          description: "Specifies the type of user who can view the inspection result comments. \"All ACA Users\" - Both registered and anonymous Accela Citizen Access users can view the comments for inspection results. \"Record Creator Only\" - the user who created the record can see the comments for the inspection results. \"Record Creator and Licensed Professional\" - The user who created the record and the licensed professional associated with the record can see the comments for the inspection results.\t"
          items:
            type: string
          type: array
        completedAMPM:
          description: Indicates whether completed time is "AM" or "PM".
          type: string
        completedDate:
          description: The date of completion.
          format: date-time
          type: string
        completedTime:
          description: The time of completion.
          type: string
        contact:
          $ref: '#/components/schemas/inspectionContactModel'
        contactFirstName:
          description: The contact's first name. This field is only active when the Contact Type selected is Individual.
          type: string
        contactLastName:
          description: The last name of the contact.
          type: string
        contactMiddleName:
          description: The middle name of the contact.
          type: string
        desiredAMPM:
          description: Indicates whether the desired inspection time is AM or PM.
          type: string
        desiredDate:
          description: The desired inspection date.
          format: date-time
          type: string
        desiredTime:
          description: The desired inspection time.
          type: string
        endMileage:
          description: The ending mileage for the inspection.
          format: float
          type: number
        endTime:
          description: The time the inspection was completed.
          format: date-time
          type: string
        estimatedEndTime:
          description: inspection estimated end time.
          type: string
        estimatedStartTime:
          description: The scheduled start time for the inspection.
          type: string
        gisAreaName:
          description: The GIS Object ID of the parent application if the application that the inspection is scheduled for has a parent application that is a project application.
          type: string
        grade:
          description: The name of the inspection grade.
          type: string
        id:
          description: The inspection system id assigned by the Civic Platform server.
          format: int64
          type: integer
        inspectorFullName:
          description: The name of the inspector performing the assessment.
          type: string
        inspectorId:
          description: The ID number of the inspector. See [Get All Inspectors](./api-inspections.html#operation/v4.get.inspectors).
          type: string
        isAutoAssign:
          description: This defines whether or not you want to automatically reschedule the inspection when the previous inspection status attains Approved status.
          type: string
        latitude:
          description: The angular distance of a place north or south of the earth's equator, usually expressed in degrees and minutes.
          format: float
          type: number
        longitude:
          description: The angular distance of a place east or west of the meridian at Greenwich, England, usually expressed in degrees and minutes.
          format: float
          type: number
        majorViolation:
          description: The number of major violations.
          format: int64
          type: integer
        overtime:
          description: A labor cost factor that indicates time worked beyond a worker's regular working hours.
          type: string
        priority:
          description: The priority level assigned to the inspection.
          format: double
          type: number
        publicVisible:
          description: This defines whether or not Accela Citizen Access users can view comment about the inspection results.
          type: string
        recordId:
          $ref: '#/components/schemas/recordIdModel'
        recordType:
          $ref: '#/components/schemas/recordTypeModel_2'
        relationship:
          description: The type of inspection record relationship.
          enum:
          - Child
          - Parent
          - Renewal
          type: string
        requestAMPM:
          description: The time segment, AM or PM, for the time specified in the requestTime field.
          type: string
        requestComment:
          description: Comments about the new inspection. For example, you may identify who requested the inspection.
          type: string
        requestDate:
          description: The date when an inspection request is submitted.
          format: date-time
          type: string
        requestTime:
          description: This time is automatically generated when a new inspection is scheduled and submitted.
          type: string
        requestorFirstName:
          description: The first name of the person requesting an inspection-related operation.
          type: string
        requestorLastName:
          description: The last name of the person requesting an inspection-related operation.
          type: string
        requestorMiddleName:
          description: The middle name of the person requesting an inspection-related operation.
          type: string
        requestorPhone:
          description: The telephone number for the person who processes the inspection request or schedules the inspection.
          type: string
        requestorPhoneIDD:
          description: The telephone number for the person who processes the inspection request or schedules the inspection.
          type: string
        requestorUserId:
          description: The user Id of the person requesting an inspection-related operation.
          type: string
        requiredInspection:
          description: This defines whether the inspection is optional or required.
          type: string
        resultComment:
          description: The inspection result comments.
          type: string
        resultType:
          description: 'The type of result that can be ascibed to an inspection. There are three result types: Approved: Approves (passes) the checklist item. Denied: Denies (fails) the checklist item. Informational: Indicates that the checklist items do not need a status of app'
          type: string
        scheduleDate:
          description: The date when the inspection gets scheduled.
          format: date-time
          type: string
        scheduleEndAMPM:
          description: Indicates whether the scheduleEndTime is in the AM or PM.
          enum:
          - AM
          - PM
          type: string
        scheduleEndTime:
          description: The scheduled end time for the inspection.
          type: string
        scheduleStartAMPM:
          description: AM indicates the 12 hour period from midnight to noon. PM indicates the 12 hour period from noon to midnight.
          enum:
          - AM
          - PM
          type: string
        scheduleStartTime:
          description: The scheduled start time for the inspection.
          type: string
        serviceProviderCode:
          description: The unique agency identifier.
          type: string
        startMileage:
          description: The starting mileage for the inspection.
          format: float
          type: number
        startTime:
          description: The time when you started the inspection.
          format: date-time
          type: string
        status:
          type: object
          description: The inspection status. See [Get All Inspection Statuses](./api-settings.html#operation/v4.get.settings.inspections.statuses).
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        submitAMPM:
          description: The time block for the scheduled inspection.
          type: string
        submitDate:
          description: The date that the inspection was submitted.
          format: date-time
          type: string
        submitTime:
          description: The time that a new inspection is submitted. Civic Platform generates this value.
          type: string
        totalMileage:
          description: The total mileage for the inspection.
          format: float
          type: number
        totalScore:
          description: The overall score of the inspection that includes the inspection result, inspection grade, checklist total score and checklist major violation option.
          format: int64
          type: integer
        totalTime:
          description: The total amount of time used to do an inspection.
          format: double
          type: number
        type:
          $ref: '#/components/schemas/inspectionTypeModel'
        unitNumber:
          description: The number of time units (see timeUnitDuration) comprising an inspection.
          type: string
        units:
          description: The amount of time comprising the smallest time unit for conducting an inspection.
          format: double
          type: number
        vehicleId:
          description: A number, such as the license plate number or VIN, that identifies the vehicle used to complete an inspection.
          type: string
    inspectionCommentModel:
      type: object
      properties:
        createdBy:
          description: The userid of the individual that created the entry.
          type: string
        createdDate:
          description: The date the comment was created.
          type: string
        inspectionId:
          description: The ID of the inspection the comment is attached to.
          format: int64
          type: integer
        recordId:
          $ref: '#/components/schemas/recordIdModel'
        text:
          description: The comment.
          type: string
        type:
          description: The comment type.
          type: string
    recordTypeModel_2:
      type: object
      properties:
        category:
          description: The 4th level in a 4-level record type structure (Group-Type-Subtype-Category).
          type: string
        filterName:
          description: The name of the record type filter which defines the record types to be displayed for the citizen user.
          type: string
        group:
          description: The 1st level in a 4-level record type structure (Group-Type-Subtype-Category).
          type: string
        id:
          description: The record type system id assigned by the Civic Platform server.
          type: string
        module:
          description: Use to filter by the module. See [Get All Modules](./api-settings.html#operation/v4.get.settings.modules).
          type: string
        subType:
          description: The 3rd level in a 4-level record type structure (Group-Type-Subtype-Category).
          type: string
        text:
          description: The record type display text
          type: string
        type:
          description: The 2nd level in a 4-level record type structure (Group-Type-Subtype-Category).
          type: string
        value:
          description: The record type value.
          type: string
    response_resultModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/resultModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    inspectionAvailabilityArray:
      type: object
      properties:
        availableDates:
          items:
            $ref: '#/components/schemas/availableDatesArray'
          type: array
        inspectorId:
          type: string
          description: The inspector userid whose availability is specified in availableDates[].
    recordIdModel:
      type: object
      properties:
        customId:
          description: An ID based on a different numbering convention from the numbering convention used by the record ID (xxxxx-xx-xxxxx). Accela Automation auto-generates and applies an alternate ID value when you submit a new application.
          type: string
        id:
          description: The record system id assigned by the Civic Platform server.
          type: string
        serviceProviderCode:
          description: The unique agency identifier.
          type: string
        trackingId:
          description: The application tracking number (IVR tracking number).
          format: int64
          type: integer
        value:
          description: The alphanumeric record id.
          type: string
    availableTimesArray:
      type: object
      properties:
        startTime:
          type: string
          format: time
          description: A start time (hh:mm:ss 24-hour format) the inspector is available.
        endTime:
          type: string
          format: time
          description: The corresponding end time (hh:mm:ss 24-hour format) the inspector is available.
        startDate:
          type: string
          format: time
          description: Deprecated.
        endDate:
          type: string
          format: time
          description: Deprecated.
    response_inspectionRelatedModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/inspectionRelatedModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    inspectionTypeModel:
      type: object
      properties:
        group:
          description: The name of a group of inspection types.
          type: string
        id:
          description: The inspection type system id assigned by the Civic Platform server.
          format: int64
          type: integer
        text:
          description: The inspection type display text.
          type: string
        value:
          description: The inspection type value.
          type: string
    requestUpdate_inspectionModel:
      type: object
      properties:
        teamName:
          description: Inspection Team name. It's not required if use department.
          type: string
        floor:
          description: Inspection Floor.
          type: string
        floorUnit:
          description: Inspection Floor Unit.
          type: string
        billable:
          description: This defines whether or not the item is billable.
          enum:
          - Y
          - N
          type: string
        category:
          description: The inspection category, which is used to organize inspection types. An inspection type is assigned to one or more inspection categories.
          type: string
        commentDisplay:
          description: Indicates whether or not Accela Citizen Access users can view the inspection results comments.
          type: string
        commentPublicVisible:
          description: "Specifies the type of user who can view the inspection result comments. \"All ACA Users\" - Both registered and anonymous Accela Citizen Access users can view the comments for inspection results. \"Record Creator Only\" - the user who created the record can see the comments for the inspection results. \"Record Creator and Licensed Professional\" - The user who created the record and the licensed professional associated with the record can see the comments for the inspection results.\t"
          items:
            type: string
          type: array
        completedAMPM:
          description: Indicates whether completed time is "AM" or "PM".
          type: string
        completedDate:
          description: The date of completion.
          format: date-time
          type: string
        completedTime:
          description: The time of completion.
          type: string
        contact:
          $ref: '#/components/schemas/inspectionContactModel'
        desiredAMPM:
          description: Indicates whether the desired inspection time is AM or PM.
          type: string
        desiredDate:
          description: The desired inspection date.
          format: date-time
          type: string
        desiredTime:
          description: The desired inspection time.
          type: string
        endMileage:
          description: The ending mileage for the inspection.
          format: float
          type: number
        endTime:
          description: The time the inspection was completed.
          format: date-time
          type: string
        estimatedEndTime:
          description: inspection estimated end time.
          type: string
        estimatedStartTime:
          description: The scheduled start time for the inspection.
          type: string
        gisAreaName:
          description: The GIS Object ID of the parent application if the application that the inspection is scheduled for has a parent application that is a project application.
          type: string
        grade:
          description: The name of the inspection grade.
          type: string
        inspectorId:
          description: The ID number of the inspector. See [Get All Inspectors](./api-inspections.html#operation/v4.get.inspectors).
          type: string
        isAutoAssign:
          description: This defines whether or not you want to automatically reschedule the inspection when the previous inspection status attains Approved status.
          type: string
        latitude:
          description: The angular distance of a place north or south of the earth's equator, usually expressed in degrees and minutes.
          format: float
          type: number
        longitude:
          description: The angular distance of a place east or west of the meridian at Greenwich, England, usually expressed in degrees and minutes.
          format: float
          type: number
        majorViolation:
          description: The number of major violations.
          format: int64
          type: integer
        overtime:
          description: A labor cost factor that indicates time worked beyond a worker's regular working hours.
          type: string
        publicVisible:
          description: This defines whether or not Accela Citizen Access users can view comment about the inspection results.
          type: string
        requestAMPM:
          description: The time segment, AM or PM, for the time specified in the requestTime field.
          type: string
        requestComment:
          description: Comments about the new inspection. For example, you may identify who requested the inspection.
          type: string
        requestDate:
          description: The date when an inspection request is submitted.
          format: date-time
          type: string
        requestTime:
          description: This time is automatically generated when a new inspection is scheduled and submitted.
          type: string
        requestorFirstName:
          description: The first name of the person requesting an inspection-related operation.
          type: string
        requestorLastName:
          description: The last name of the person requesting an inspection-related operation.
          type: string
        requestorMiddleName:
          description: The middle name of the person requesting an inspection-related operation.
          type: string
        requestorPhone:
          description: The telephone number for the person who processes the inspection request or schedules the inspection.
          type: string
        requestorPhoneIDD:
          description: The telephone number for the person who processes the inspection request or schedules the inspection.
          type: string
        requiredInspection:
          description: This defines whether the inspection is optional or required.
          type: string
        resultComment:
          description: The inspection result comments.
          type: string
        resultType:
          description: 'The type of result that can be ascibed to an inspection. There are three result types: Approved: Approves (passes) the checklist item. Denied: Denies (fails) the checklist item. Informational: Indicates that the checklist items do not need a status of app'
          type: string
        scheduleEndAMPM:
          description: Indicates whether the scheduleEndTime is in the AM or PM.
          enum:
          - AM
          - PM
          type: string
        scheduleEndTime:
          description: The scheduled end time for the inspection.
          type: string
        scheduleStartAMPM:
          description: AM indicates the 12 hour period from midnight to noon. PM indicates the 12 hour period from noon to midnight.
          enum:
          - AM
          - PM
          type: string
        scheduleStartTime:
          description: The scheduled start time for the inspection.
          type: string
        serviceProviderCode:
          description: The unique agency identifier.
          type: string
        startMileage:
          description: The starting mileage for the inspection.
          format: float
          type: number
        startTime:
          description: The time when you started the inspection.
          format: date-time
          type: string
        status:
          type: object
          description: The inspection status. See [Get All Inspection Statuses](./api-settings.html#operation/v4.get.settings.inspections.statuses).
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        submitAMPM:
          description: The time block for the scheduled inspection.
          type: string
        submitDate:
          description: The date that the inspection was submitted.
          format: date-time
          type: string
        submitTime:
          description: The time that a new inspection is submitted. Civic Platform generates this value.
          type: string
        totalMileage:
          description: The total mileage for the inspection.
          format: float
          type: number
        totalScore:
          description: The overall score of the inspection that includes the inspection result, inspection grade, checklist total score and checklist major violation option.
          format: int64
          type: integer
        totalTime:
          description: The total amount of time used to do an inspection.
          format: double
          type: number
        type:
          $ref: '#/components/schemas/inspectionTypeModel'
        unitNumber:
          description: The number of time units (see timeUnitDuration) comprising an inspection.
          type: string
        units:
          description: The amount of time comprising the smallest time unit for conducting an inspection.
          format: double
          type: number
        vehicleId:
          description: A number, such as the license plate number or VIN, that identifies the vehicle used to complete an inspection.
          type: string
    resultModel:
      type: object
      properties:
        code:
          description: The error code, if an error is encountered.
          type: string
        id:
          description: The system id of the object in this operation.
          format: int64
          type: integer
        isRequired:
          description: Indicates whether or not the field is required.
          enum:
          - Y
          - N
          type: string
        isSuccess:
          description: Indicates whether or not the operation on the object is successful.
          type: boolean
        message:
          description: The error message, if an error is encountered
          type: string
    ownerAddressModel:
      type: object
      properties:
        addressLine1:
          description: The first line of the address.
          type: string
        addressLine2:
          description: The second line of the address.
          type: string
        addressLine3:
          description: The third line of the address.
          type: string
        city:
          description: The name of the city.
          type: string
        country:
          type: object
          description: ''
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        postalCode:
          description: The postal ZIP code for the address.
          type: string
        state:
          type: object
          description: ''
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
    response_inspectionAvailabilityArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/inspectionAvailabilityArray'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    inspectionModel:
      type: object
      properties:
        teamName:
          description: Inspection Team name.
          type: string
        floor:
          description: Inspection Floor.
          type: string
        floorUnit:
          description: Inspection Floor Unit.
          type: string
        address:
          $ref: '#/components/schemas/inspectionAddressModel'
        billable:
          description: This defines whether or not the item is billable.
          enum:
          - Y
          - N
          type: string
        category:
          description: The inspection category, which is used to organize inspection types. An inspection type is assigned to one or more inspection categories.
          type: string
        commentDisplay:
          description: Indicates whether or not Accela Citizen Access users can view the inspection results comments.
          type: string
        commentPublicVisible:
          description: "Specifies the type of user who can view the inspection result comments. \"All ACA Users\" - Both registered and anonymous Accela Citizen Access users can view the comments for inspection results. \"Record Creator Only\" - the user who created the record can see the comments for the inspection results. \"Record Creator and Licensed Professional\" - The user who created the record and the licensed professional associated with the record can see the comments for the inspection results.\t"
          items:
            type: string
          type: array
        completedAMPM:
          description: Indicates whether completed time is "AM" or "PM".
          type: string
        completedDate:
          description: The date of completion.
          format: date-time
          type: string
        completedTime:
          description: The time of completion.
          type: string
        contact:
          $ref: '#/components/schemas/inspectionContactModel'
        contactFirstName:
          description: The contact's first name. This field is only active when the Contact Type selected is Individual.
          type: string
        contactLastName:
          description: The last name of the contact.
          type: string
        contactMiddleName:
          description: The middle name of the contact.
          type: string
        desiredAMPM:
          description: Indicates whether the desired inspection time is AM or PM.
          type: string
        desiredDate:
          description: The desired inspection date.
          format: date-time
          type: string
        desiredTime:
          description: The desired inspection time.
          type: string
        endMileage:
          description: The ending mileage for the inspection.
          format: float
          type: number
        endTime:
          description: The time the inspection was completed.
          format: date-time
          type: string
        estimatedEndTime:
          description: inspection estimated end time.
          type: string
        estimatedStartTime:
          description: The scheduled start time for the inspection.
          type: string
        gisAreaName:
          description: The GIS Object ID of the parent application if the application that the inspection is scheduled for has a parent application that is a project application.
          type: string
        grade:
          description: The name of the inspection grade.
          type: string
        id:
          description: The inspection system id assigned by the Civic Platform server.
          format: int64
          type: integer
        inspectorFullName:
          description: The name of the inspector performing the assessment.
          type: string
        inspectorId:
          description: The ID number of the inspector. See [Get All Inspectors](./api-inspections.html#operation/v4.get.inspectors).
          type: string
        isAutoAssign:
          description: This defines whether or not you want to automatically reschedule the inspection when the previous inspection status attains Approved status.
          type: string
        latitude:
          description: The angular distance of a place north or south of the earth's equator, usually expressed in degrees and minutes.
          format: float
          type: number
        longitude:
          description: The angular distance of a place east or west of the meridian at Greenwich, England, usually expressed in degrees and minutes.
          format: float
          type: number
        majorViolation:
          description: The number of major violations.
          format: int64
          type: integer
        overtime:
          description: A labor cost factor that indicates time worked beyond a worker's regular working hours.
          type: string
        priority:
          description: The priority level assigned to the inspection.
          format: double
          type: number
        publicVisible:
          description: This defines whether or not Accela Citizen Access users can view comment about the inspection results.
          type: string
        recordId:
          $ref: '#/components/schemas/recordIdModel'
        recordType:
          $ref: '#/components/schemas/recordTypeModel_2'
        requestAMPM:
          description: The time segment, AM or PM, for the time specified in the requestTime field.
          type: string
        requestComment:
          description: Comments about the new inspection. For example, you may identify who requested the inspection.
          type: string
        requestDate:
          description: The date when an inspection request is submitted.
          format: date-time
          type: string
        requestTime:
          description: This time is automatically generated when a new inspection is scheduled and submitted.
          type: string
        requestorFirstName:
          description: The first name of the person requesting an inspection-related operation.
          type: string
        requestorLastName:
          description: The last name of the person requesting an inspection-related operation.
          type: string
        requestorMiddleName:
          description: The middle name of the person requesting an inspection-related operation.
          type: string
        requestorPhone:
          description: The telephone number for the person who processes the inspection request or schedules the inspection.
          type: string
        requestorPhoneIDD:
          description: The telephone number for the person who processes the inspection request or schedules the inspection.
          type: string
        requestorUserId:
          description: The user Id of the person requesting an inspection-related operation.
          type: string
        requiredInspection:
          description: This defines whether the inspection is optional or required.
          type: string
        resultComment:
          description: The inspection result comments.
          type: string
        resultType:
          description: 'The type of result that can be ascibed to an inspection. There are three result types: Approved: Approves (passes) the checklist item. Denied: Denies (fails) the checklist item. Informational: Indicates that the checklist items do not need a status of app'
          type: string
        scheduleDate:
          description: The date when the inspection gets scheduled.
          format: date-time
          type: string
        scheduleEndAMPM:
          description: Indicates whether the scheduleEndTime is in the AM or PM.
          enum:
          - AM
          - PM
          type: string
        scheduleEndTime:
          description: The scheduled end time for the inspection.
          type: string
        scheduleStartAMPM:
          description: AM indicates the 12 hour period from midnight to noon. PM indicates the 12 hour period from noon to midnight.
          enum:
          - AM
          - PM
          type: string
        scheduleStartTime:
          description: The scheduled start time for the inspection.
          type: string
        serviceProviderCode:
          description: The unique agency identifier.
          type: string
        startMileage:
          description: The starting mileage for the inspection.
          format: float
          type: number
        startTime:
          description: The time when you started the inspection.
          format: date-time
          type: string
        status:
          type: object
          description: The inspection status. See [Get All Inspection Statuses](./api-settings.html#operation/v4.get.settings.inspections.statuses).
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        submitAMPM:
          description: The time block for the scheduled inspection.
          type: string
        submitDate:
          description: The date that the inspection was submitted.
          format: date-time
          type: string
        submitTime:
          description: The time that a new inspection is submitted. Civic Platform generates this value.
          type: string
        totalMileage:
          description: The total mileage for the inspection.
          format: float
          type: number
        totalScore:
          description: The overall score of the inspection that includes the inspection result, inspection grade, checklist total score and checklist major violation option.
          format: int64
          type: integer
        totalTime:
          description: The total amount of time used to do an inspection.
          format: double
          type: number
        type:
          $ref: '#/components/schemas/inspectionTypeModel'
        unitNumber:
          description: The number of time units (see timeUnitDuration) comprising an inspection.
          type: string
        units:
          description: The amount of time comprising the smallest time unit for conducting an inspection.
          format: double
          type: number
        vehicleId:
          description: A number, such as the license plate number or VIN, that identifies the vehicle used to complete an inspection.
          type: string
    response_inspectionModel:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/inspectionModel'
        status:
          type: integer
          description: The HTTP return status.
    inspectionAddressModel:
      type: object
      properties:
        addressLine1:
          type: string
          description: The first line of the address.
        addressLine2:
          type: string
          description: The first line of the address.
        addressTypeFlag:
          type: object
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
          description: A code name or an abbreviation of the address type.
        city:
          type: string
          description: The name of the city.
        country:
          type: object
          description: The name of the country. See [Get All Address Countries](./api-settings.html#operation/v4.get.settings.addresses.countries).
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        county:
          type: string
          description: The name of the county.
        description:
          type: string
          description: A description of the address.
        direction:
          description: The street direction of the primary address associated with the application.
          type: object
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        distance:
          type: number
          format: double
          description: The distance from another landmark used to locate the address.
        houseAlphaStart:
          type: string
          description: The beginning alphabetic unit in street address.
        houseAlphaEnd:
          type: string
          description: The ending alphabetic unit in street address.
        houseFractionStart:
          type: object
          description: Beginning fraction value used in combination with the Street number fields.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        houseFractionEnd:
          type: object
          description: Ending franction value used in combination with the Street number fields.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        id:
          format: int64
          type: integer
          description: The unique address id assigned by the Civic Platform server.
        inspectionDistrict:
          type: string
          description: The inspection district where the address is located.
        inspectionDistrictPrefix:
          type: string
          description: The prefix for the inspection district where the address is located.
        isPrimary:
          type: string
          description: Indicates whether or not to designate the address as the primary address. Only one address can be primary at any given time.
        levelStart:
          type: string
          description: The starting level number (floor number) that makes up the address within a complex.
        levelEnd:
          type: string
          description: The ending level number (floor number) that makes up the address within a complex.
        levelPrefix:
          type: string
          description: The prefix for the level numbers (floor numbers) that make up the address.
        neighborhood:
          type: string
          description: The neighborhood where the address is located.
        neighborhoodPrefix:
          type: string
          description: The prefix for neighborhood where the address is located.
        postalCode:
          type: string
          description: The postal ZIP code for the address.
        recordId:
          $ref: '#/components/schemas/recordIdModel'
        refAddressId:
          description: The reference address id.
          format: int64
          type: integer
        secondaryStreet:
          type: string
          description: This field (along with the Secondary Road Number field) displays an extra description for the location when two roads that cross or a street with two names makes up the address of the location.
        secondaryStreetNumber:
          type: number
          format: long
          description: This field (along with the Secondary Road field) displays an extra description for the location when two roads that cross or a street with two names makes up the address of the location.
        serviceProviderCode:
          description: The unique agency identifier.
          type: string
        state:
          type: object
          description: The name of the state.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        status:
          type: object
          description: The address status indicating whether the address is active or inactive.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        streetAddress:
          type: string
          description: The street address.
        streetEnd:
          type: number
          format: long
          description: The ending number of a street address range.
        streetEndFrom:
          description: The beginning number of a street end address range.
          format: int64
          type: integer
        streetEndTo:
          description: The ending number of a street end address range.
          format: int64
          type: integer
        streetName:
          type: string
          description: The name of the street.
        streetPrefix:
          type: string
          description: Any part of an address that appears before a street name or number. For example, if the address is 123 West Main, "West" is the street prefix.
        streetStart:
          type: number
          format: long
          description: The starting number of a street address range.
        streetStartFrom:
          description: The beginning number of a street start address range.
          format: int64
          type: integer
        streetStartTo:
          description: The ending number of a street start address range.
          format: int64
          type: integer
        streetSuffix:
          type: object
          description: The type of street such as "Lane" or "Boulevard".
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        streetSuffixDirection:
          type: object
          description: The direction appended to the street suffix. For example, if the address is 500 56th Avenue NW, "NW" is the street suffix direction.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        unitStart:
          type: string
          description: The starting value of a range of unit numbers.
        unitEnd:
          type: string
          description: The ending value of a range of unit numbers.
        unitType:
          type: object
          description: The unit type designation of the address.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        xCoordinate:
          type: number
          format: double
          description: The longitudinal coordinate for this address.
        yCoordinate:
          type: number
          format: double
          description: The latitudinal coordinate for this address.
    availableDatesArray:
      type: object
      properties:
        date:
          type: string
          format: date
          description: A date during which the inspector is available.
        times:
          items:
            $ref: '#/components/schemas/availableTimesArray'
          type: array
    requestReschedule_inspectionModel:
      type: object
      properties:
        teamName:
          description: Inspection Team name. It's not required if use department.
          type: string
        floor:
          description: Inspection Floor.
          type: string
        floorUnit:
          description: Inspection Floor Unit.
          type: string
        billable:
          description: This defines whether or not the item is billable.
          enum:
          - Y
          - N
          type: string
        category:
          description: The inspection category, which is used to organize inspection types. An inspection type is assigned to one or more inspection categories.
          type: string
        commentDisplay:
          description: Indicates whether or not Accela Citizen Access users can view the inspection results comments.
          type: string
        commentPublicVisible:
          description: "Specifies the type of user who can view the inspection result comments. \"All ACA Users\" - Both registered and anonymous Accela Citizen Access users can view the comments for inspection results. \"Record Creator Only\" - the user who created the record can see the comments for the inspection results. \"Record Creator and Licensed Professional\" - The user who created the record and the licensed professional associated with the record can see the comments for the inspection results.\t"
          items:
            type: string
          type: array
        completedAMPM:
          description: Indicates whether completed time is "AM" or "PM".
          type: string
        completedDate:
          description: The date of completion.
          format: date-time
          type: string
        completedTime:
          description: The time of completion.
          type: string
        contact:
          $ref: '#/components/schemas/inspectionContactModel'
        desiredAMPM:
          description: Indicates whether the desired inspection time is AM or PM.
          type: string
        desiredDate:
          description: The desired inspection date.
          format: date-time
          type: string
        desiredTime:
          description: The desired inspection time.
          type: string
        endMileage:
          description: The ending mileage for the inspection.
          format: float
          type: number
        endTime:
          description: The time the inspection was completed.
          format: date-time
          type: string
        estimatedEndTime:
          description: inspection estimated end time.
          type: string
        estimatedStartTime:
          description: The scheduled start time for the inspection.
          type: string
        gisAreaName:
          description: The GIS Object ID of the parent application if the application that the inspection is scheduled for has a parent application that is a project application.
          type: string
        grade:
          description: The name of the inspection grade.
          type: string
        inspectorId:
          description: The ID number of the inspector. See [Get All Inspectors](./api-inspections.html#operation/v4.get.inspectors).
          type: string
        isAutoAssign:
          description: This defines whether or not you want to automatically reschedule the inspection when the previous inspection status attains Approved status.
          type: string
        latitude:
          description: The angular distance of a place north or south of the earth's equator, usually expressed in degrees and minutes.
          format: float
          type: number
        longitude:
          description: The angular distance of a place east or west of the meridian at Greenwich, England, usually expressed in degrees and minutes.
          format: float
          type: number
        majorViolation:
          description: The number of major violations.
          format: int64
          type: integer
        overtime:
          description: A labor cost factor that indicates time worked beyond a worker's regular working hours.
          type: string
        publicVisible:
          description: This defines whether or not Accela Citizen Access users can view comment about the inspection results.
          type: string
        recordId:
          $ref: '#/components/schemas/recordIdModel'
        requestComment:
          description: Comments about the new inspection. For example, you may identify who requested the inspection.
          type: string
        requestorFirstName:
          description: The first name of the person requesting an inspection-related operation.
          type: string
        requestorLastName:
          description: The last name of the person requesting an inspection-related operation.
          type: string
        requestorMiddleName:
          description: The middle name of the person requesting an inspection-related operation.
          type: string
        requestorPhone:
          description: The telephone number for the person who processes the inspection request or schedules the inspection.
          type: string
        requestorPhoneIDD:
          description: The telephone number for the person who processes the inspection request or schedules the inspection.
          type: string
        requestorUserId:
          description: The user Id of the person requesting an inspection-related operation.
          type: string
        requiredInspection:
          description: This defines whether the inspection is optional or required.
          type: string
        resultComment:
          description: The inspection result comments.
          type: string
        resultType:
          description: 'The type of result that can be ascibed to an inspection. There are three result types: Approved: Approves (passes) the checklist item. Denied: Denies (fails) the checklist item. Informational: Indicates that the checklist items do not need a status of app'
          type: string
        scheduleDate:
          description: The date when the inspection is scheduled.
          format: date-time
          type: string
        scheduleEndAMPM:
          description: Indicates whether the scheduleEndTime is in the AM or PM.
          enum:
          - AM
          - PM
          type: string
        scheduleEndTime:
          description: The scheduled end time for the inspection.
          type: string
        scheduleStartAMPM:
          description: AM indicates the 12 hour period from midnight to noon. PM indicates the 12 hour period from noon to midnight.
          enum:
          - AM
          - PM
          type: string
        scheduleStartTime:
          description: The scheduled start time for the inspection.
          type: string
        serviceProviderCode:
          description: The unique agency identifier.
          type: string
        startMileage:
          description: The starting mileage for the inspection.
          format: float
          type: number
        startTime:
          description: The time when you started the inspection.
          format: date-time
          type: string
        status:
          type: object
          description: The inspection status. See [Get All Inspection Statuses](./api-settings.html#operation/v4.get.settings.inspections.statuses).
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        totalMileage:
          description: The total mileage for the inspection.
          format: float
          type: number
        totalScore:
          description: The overall score of the inspection that includes the inspection result, inspection grade, checklist total score and checklist major violation option.
          format: int64
          type: integer
        totalTime:
          description: The total amount of time used to do an inspection.
          format: double
          type: number
        type:
          $ref: '#/components/schemas/inspectionTypeModel'
        unitNumber:
          description: The number of time units (see timeUnitDuration) comprising an inspection.
          type: string
        units:
          description: The amount of time comprising the smallest time unit for conducting an inspection.
          format: double
          type: number
        vehicleId:
          description: A number, such as the license plate number or VIN, that identifies the vehicle used to complete an inspection.
          type: string
    inspectionContactModel:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/ownerAddressModel'
        birthCity:
          type: object
          description: The city of birth for an individual.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        birthDate:
          description: The birth date.
          format: date-time
          type: string
        birthRegion:
          type: object
          description: The country of birth or region of birth for an individual.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        birthState:
          type: object
          description: The state of birth for an individual.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        businessName:
          description: A secondary business name for the applicable individual.
          type: string
        comment:
          description: A comment about the inspection contact.
          type: string
        deceasedDate:
          description: The deceased date.
          format: date-time
          type: string
        driverLicenseNumber:
          description: The driver's license number of the contact. This field is active only when the Contact Type selected is Individual.
          type: string
        driverLicenseState:
          type: object
          description: The state that issued the driver's license.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        email:
          description: The contact's email address.
          type: string
        fax:
          description: The fax number for the contact.
          type: string
        faxCountryCode:
          description: Fax Number Country Code
          type: string
        federalEmployerId:
          description: The Federal Employer Identification Number. It is used to identify a business for tax purposes.
          type: string
        firstName:
          description: The contact's first name.
          type: string
        fullName:
          description: 'The contact''s full name. '
          type: string
        gender:
          type: object
          description: The gender (male or female) of the individual.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        id:
          description: The contact system id assigned by the Civic Platform server.
          type: string
        individualOrOrganization:
          description: The organization to which the contact belongs. This field is only active when the Contact Type selected is Organization.
          type: string
        lastName:
          description: The last name (surname).
          type: string
        middleName:
          description: "The middle name.\t"
          type: string
        organizationName:
          description: The organization to which the contact belongs. This field is only active when the Contact Type selected is Organization.
          type: string
        passportNumber:
          description: The contact's passport number. This field is only active when the Contact Type selected is Individual.
          type: string
        phone1:
          description: The primary telephone number of the contact.
          type: string
        phone1CountryCode:
          description: Phone Number 1 Country Code
          type: string
        phone2:
          description: The secondary telephone number of the contact.
          type: string
        phone2CountryCode:
          description: Phone Number 2 Country Code
          type: string
        phone3:
          description: The tertiary telephone number for the contact.
          type: string
        phone3CountryCode:
          description: Phone Number 3 Country Code
          type: string
        postOfficeBox:
          description: The post office box number.
          type: string
        preferredChannel:
          type: object
[...]
