openapi: 3.2.0
info:
  description: The Settings API provides configuration values that have been defined in Civic Platform Administration, typically as standard choice values. The Settings APIs are helpful when you need reference or custom-configured values in your API calls.
  title: Settings/Asset Types API
  version: v4
servers:
- url: https://apis.accela.com/
tags:
- name: Settings/Asset Types
paths:
  /v4/settings/assettypes/classTypes:
    get:
      description: 'Returns all out-of-the-box asset class types in Civic Platform.


        **API Endpoint**: GET /v4/settings/assettypes/classTypes


        **Scope**: assets


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 9.0.0'
      summary: Get All Asset Class Types
      operationId: v4.get.settings.assettypes.classTypes
      tags:
      - Settings/Asset Types
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                description: Contains the class types.
                type: object
                properties:
                  result:
                    items:
                      type: string
                      description: An asset class type
                    type: array
                  status:
                    type: integer
                    description: The HTTP return status.
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/settings/assettypes/ratingTypes:
    get:
      description: 'Returns all configured asset rating types. Specify both {assetType} and {assetGroup} parameters to filter by asset type and asset group.


        **API Endpoint**: GET /v4/settings/assettypes/ratingTypes


        **Scope**: assets


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 9.0.0'
      summary: Get All Asset Rating Types
      operationId: v4.get.settings.assettypes.ratingTypes
      tags:
      - Settings/Asset Types
      parameters:
      - description: '**NOTE: If this parameter is provided, then assetType is required. If this parameter is omitted, then assetType must also be omitted too.** Filter by asset group. For example: Water or Street. An Asset Group is an agency-defined collection of objects the agency owns or maintains.'
        in: query
        name: assetGroup
        schema:
          type: string
      - description: '**NOTE: If this parameter is provided, then assetGroup is required. If this parameter is omitted, assetGroup must also be omitted too.** Filter by type of asset. For example: Hydrant or Manhole. An Asset Type is an agencydefined classification of similar objects that share the same standard asset attributes. Related asset types belong to an asset group, and multiple asset types can share the same Class Type. See [Get All Asset Types](./api-settings.html#operation/v4.get.settings.assettypes.types).'
        in: query
        name: assetType
        schema:
          type: string
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_ratingTypeModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/settings/assettypes/recordtypes:
    get:
      description: 'Returns all configured record types for a given asset type or asset group.


        **API Endpoint**: GET /v4/settings/assettypes/recordtypes


        **Scope**: settings


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 9.0.0'
      summary: Get All Record Types for Asset Type
      operationId: v4.get.settings.assettypes.recordtypes
      tags:
      - Settings/Asset Types
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: 'Filter by asset group. For example: Water or Street. An Asset Group is an agency-defined collection of objects the agency owns or maintains.'
        in: query
        name: assetGroup
        required: true
        schema:
          type: string
      - description: 'Filter by type of asset. For example: Hydrant or Manhole. An Asset Type is an agencydefined classification of similar objects that share the same standard asset attributes. Related asset types belong to an asset group, and multiple asset types can share the same Class Type. See [Get All Asset Types](./api-settings.html#operation/v4.get.settings.assettypes.types).'
        in: query
        name: assetType
        schema:
          type: string
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_assetRecordTypeModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/settings/assettypes/types:
    get:
      description: 'Returns all asset types, which can be filtered by asset group.


        **API Endpoint**: GET /v4/settings/assettypes/types


        **Scope** : assets


        **App Type** : Agency


        **Authorization Type** : Access token


        **Civic Platform version** : 9.0.0'
      summary: Get All Asset Types
      operationId: v4.get.settings.assettypes.types
      tags:
      - Settings/Asset Types
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: Filter by asset group.
        in: query
        name: assetGroup
        schema:
          type: string
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_assetTypeModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/settings/assettypes/usageTypes:
    get:
      description: 'Returns all configured asset usage types.


        **API Endpoint**: GET /v4/settings/assettypes/usageTypes


        **Scope**: assets


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 9.0.0'
      summary: Get All Asset Usage Types
      operationId: v4.get.settings.assettypes.usageTypes
      tags:
      - Settings/Asset Types
      parameters:
      - description: Asset group filter
        in: query
        name: assetGroup
        schema:
          type: string
      - description: Asset type filter
        in: query
        name: assetType
        schema:
          type: string
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_assetUnitTypeModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
components:
  parameters:
    lang:
      description: Language parameter to support I18N. Default language is en_US.
      in: query
      name: lang
      required: false
      schema:
        type: string
    limit:
      description: Search result size limit.
      in: query
      name: limit
      required: false
      schema:
        type: integer
        format: int64
        enum:
        - range[1,1000]
    fields:
      description: Comma-delimited names of fields to be returned in the response. Note - Field names are case-sensitive and only first-level fields are supported. Invalid field names are ignored.
      in: query
      name: fields
      required: false
      schema:
        type: string
    offset:
      description: The offset position of the first record in the results response array. For example, if offset is 100, the first item in the results array in the response is the 100th record in the search result list.
      in: query
      name: offset
      required: false
      schema:
        type: integer
        format: int64
    authHeaderParam:
      description: Construct oAuth2 authentication token
      in: header
      name: Authorization
      required: true
      schema:
        type: string
  schemas:
    response_assetTypeModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/assetTypeModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    ratingTypeModel:
      type: object
      properties:
        manualEntryRatingValue:
          description: If 'Y', a user can create a rating formula. If the user creates a formula, the user can enter manual rating values in addition to the calculated rating values. If the user does not create a formula, the user must enter rating values manually. If 'N', the user must create a rating formula.
          type: string
        recordStatus:
          description: The status of the rating type.
          type: string
        updatedBy:
          description: The person who last updated the rating type.
          type: string
        updatedDate:
          description: The date the rating type was last updated.
          format: date-time
          type: string
    assetUnitTypeModel:
      type: object
      properties:
        recordStatus:
          description: Indicates whether or not the attribute is active.
          type: string
        updatedBy:
          description: The user who last updated the usage type.
          type: string
        updatedDate:
          description: The date and time the usage type was last updated.
          format: date-time
          type: string
        usageDescription:
          description: The usage type's description.
          type: string
        usageType:
          description: The usage type value.
          type: string
    assetRecordTypeModel:
      type: object
      properties:
        alias:
          description: The record type alias.
          type: string
        associations:
          $ref: '#/components/schemas/recordTypeAssociationsModel'
        category:
          description: The 4th level in a 4-level record type structure (Group-Type-Subtype-Category).
          type: string
        createable:
          description: Indicates whether or not the record can be created.
          type: boolean
        deletable:
          description: Indicates whether or not the record can be deleted.
          type: boolean
        filterName:
          description: The name of the record type filter which defines the record types to be displayed for the citizen user.
          type: string
        group:
          description: The 1st level in a 4-level record type structure (Group-Type-Subtype-Category).
          type: string
        id:
          description: The record type id.
          type: string
        module:
          description: The module the record type belongs to.
          type: string
        readable:
          description: Indicates whether or not values for sibling fields are readable.
          type: boolean
        searchable:
          description: Indicates whether or not the item is searchable.
          type: boolean
        subType:
          description: The 3rd level in a 4-level record type structure (Group-Type-Subtype-Category).
          type: string
        text:
          description: The localized display text.
          type: string
        type:
          description: The 2nd level in a 4-level record type structure (Group-Type-Subtype-Category).
          type: string
        updatable:
          description: Indicates whether or not the item can be updated.
          type: boolean
        value:
          description: The stored value.
          type: string
    response_ratingTypeModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/ratingTypeModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    assetTypeModel:
      type: object
      properties:
        display:
          description: "\tDisplays the hierarchical name of the asset type, which includes the asset group and type."
          type: string
        gisIDForAssetID:
          description: "\tThe name of the GIS ID field that is mapped to the asset ID."
          type: string
        gisLayer:
          $ref: '#/components/schemas/gISLayerIdModel'
        gisService:
          description: "\tThe GIS service to be used with the asset. The GIS service should be a configured map service in Accela GIS Administration."
          type: string
        group:
          description: 'The name of the asset group. For example: Water or Street. An Asset Group is an agency-defined collection of objects the agency owns or maintains.'
          type: string
        id:
          description: The id of the asset type.
          type: string
        type:
          description: 'The type of asset. For example: Hydrant or Manhole. An Asset Type is an agencydefined classification of similar objects that share the same standard asset attributes. Related asset types belong to an asset group, and multiple asset types can share the same Class Type.'
          type: string
    recordTypeAssociationsModel:
      type: object
      properties:
        addressTypeGroup:
          description: The name of the address type group that contains permissible address tyeps for instances of the record type.
          type: string
        customFormGroup:
          description: The name of the custom forms group for instances of the record type.
          type: string
        documentCode:
          description: The code that defines the document types for the record type.
          type: string
        expirationCode:
          description: The code that defines the parameters for expiring records that are instances of the record type.
          type: string
        feeSchedule:
          description: The name of the fee schedule associated with instances of the record type.
          type: string
        inspectionGroup:
          description: The name of the inspection group that contains the inspection-related parameters applied to instances of the record type.
          type: string
        recordStatusGroup:
          description: The group of record statuses associated with the record type.
          type: string
        standardCommentGroup:
          items:
            type: object
            description: The name of the standard comment group associated with instances of the record type.
            properties:
              text:
                description: The localized display value.
                type: string
              value:
                description: The data value.
                type: string
          type: array
        virtualFolderGroup:
          description: The name of the virtual folder group associated with instances of the record type.
          type: string
        workflow:
          description: The name of the workflow associated with instances of the record type.
          type: string
    gISLayerIdModel:
      description: The GIS layer in the GIS service to be used with the asset. The GIS layer should be a configured map layer on the GIS service in Accela GIS Administration.
      type: object
      properties:
        display:
          description: The display name of the GIS layer ID.
          type: string
    response_assetRecordTypeModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/assetRecordTypeModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    response_assetUnitTypeModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/assetUnitTypeModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
x-api-evangelist-provenance:
  generated: '2026-09-06'
  method: searched
  source: https://developer.accela.com/api/v4/v4-settings.json
  note: Harvested verbatim from the Accela Developer Portal API Reference, which renders these Swagger 2.0 documents via ReDoc (spec-url on developer.accela.com/docs/api_reference/api-*.html). The byte-identical original is kept at openapi/_original/. This copy is the same document serialized to YAML.
