openapi: 3.2.0
info:
  description: The Contacts and Professionals APIs enable apps to manage reference contacts and licensed professionals.
  title: Contacts and Professionals Contacts/Conditions API
  version: v4
servers:
- url: https://apis.accela.com/
tags:
- name: Contacts/Conditions
paths:
  /v4/contacts/{contactId}/conditions:
    get:
      description: 'Gets condition information for the specified contact.


        **API Endpoint**: GET /v4/contacts/{contactId}/conditions


        **Scope**: contacts


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.3.4'
      summary: Get All Contact Conditions
      operationId: v4.get.contacts.contactId.conditions
      tags:
      - Contacts/Conditions
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/contactIdString'
      - description: Filter by contact types. See [Get All Contact Types](./api-settings.html#operation/v4.get.settings.contacts.types).
        in: query
        name: type
        required: false
        schema:
          type: string
      - description: Filter by condition name. See [Get All Approval Conditions](./api-misc.html#operation/v4.get.conditionApprovals.standard), [Get All Standard Conditions](./api-misc.html#operation/v4.get.conditions.standard).
        in: query
        name: name
        required: false
        schema:
          type: string
      - description: Filter by status.
        in: query
        name: status
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_commonConditionModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
    post:
      description: 'Adds condition information to the specified contact.


        **API Endpoint**: POST /v4/contacts/{contactId}/conditions


        **Scope**: contacts


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Create Contact Conditions
      operationId: v4.post.contacts.contactId.conditions
      tags:
      - Contacts/Conditions
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/contactIdString'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/request_commonConditionModel'
              type: array
        description: Add contact condition request information.
  /v4/contacts/{contactId}/conditions/{id}:
    delete:
      description: 'Deletes the condition for the specified contact.


        **API Endpoint**: DELETE /v4/contacts/{contactId}/conditions/{id}


        **Scope**: contacts


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Delete Contact Condition
      operationId: v4.delete.contacts.contactId.conditions.id
      tags:
      - Contacts/Conditions
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/contactIdString'
      - description: The ID of the condition to delete.
        in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_commonConditionModel'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
    put:
      description: 'Updates the condition information for the specified contact.


        **API Endpoint**: PUT /v4/contacts/{contactId}/conditions/{id}


        **Scope**: contacts


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.3.4'
      summary: Update Contact Condition
      operationId: v4.put.contacts.contactId.conditions.id
      tags:
      - Contacts/Conditions
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/contactIdString'
      - description: The ID of the condition to be updated.
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_commonConditionModel'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/request_commonConditionModel'
        description: Update contact condition request information.
        required: true
components:
  parameters:
    lang:
      description: Language parameter to support I18N. Default language is en_US.
      in: query
      name: lang
      required: false
      schema:
        type: string
    contactIdString:
      description: The ID of the contact to fetch.
      in: path
      name: contactId
      required: true
      schema:
        type: string
    limit:
      description: Search result size limit.
      in: query
      name: limit
      required: false
      schema:
        type: integer
        format: int64
        enum:
        - range[1,1000]
    fields:
      description: Comma-delimited names of fields to be returned in the response. Note - Field names are case-sensitive and only first-level fields are supported. Invalid field names are ignored.
      in: query
      name: fields
      required: false
      schema:
        type: string
    offset:
      description: The offset position of the first record in the results response array. For example, if offset is 100, the first item in the results array in the response is the 100th record in the search result list.
      in: query
      name: offset
      required: false
      schema:
        type: integer
        format: int64
    authHeaderParam:
      description: Construct oAuth2 authentication token
      in: header
      name: Authorization
      required: true
      schema:
        type: string
  schemas:
    commonConditionModel:
      type: object
      properties:
        actionbyDepartment:
          type: object
          description: The department responsible for the action.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        actionbyUser:
          type: object
          description: The individual responsible for the action.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        activeStatus:
          type: object
          description: Indicates whether or not the condition is active.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        additionalInformation:
          description: An unlimited text field to use if other fields are filled.
          type: string
        additionalInformationPlainText:
          description: An unlimited text field to use if other fields are filled.
          type: string
        appliedDate:
          description: The date the standard condition was applied.
          format: date-time
          type: string
        appliedbyDepartment:
          type: object
          description: "The department responsible for applying a condition.\t"
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        appliedbyUser:
          type: object
          description: "The staff member responsible for applying a condition.\t"
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        contactID:
          description: The ID of the contact.
          type: string
        displayNoticeInAgency:
          description: Indicates whether or not to display the condition notice in Accela Automation when a condition to a record or parcel is applied.
          type: boolean
        displayNoticeInCitizens:
          description: Indicates whether or not to display the condition notice in Accela Citizen Access when a condition to a record or parcel is applied.
          type: boolean
        displayNoticeInCitizensFee:
          description: Indicates whether or not to display the condition notice in Accela Citizen Access Fee Estimate page when a condition to a record or parcel is applied.
          type: boolean
        effectiveDate:
          description: The date when you want the condition to become effective.
          format: date-time
          type: string
        expirationDate:
          description: The date when the condition expires.
          format: date-time
          type: string
        group:
          type: object
          description: The condition group is an attribute of a condition that organizes condition types. Your agency defines these groups.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        id:
          description: The condition system id assigned by the Civic Platform server.
          format: int64
          type: integer
        inheritable:
          type: object
          description: This defines whether or not Accela Automation checks for inheritable conditions when a user associates a child record with a parent record.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        isIncludeNameInNotice:
          description: Indicates whether or not to display the condition name in the notice.
          type: boolean
        isIncludeShortCommentsInNotice:
          description: Indicates whether or not to display the condition comments in the notice.
          type: boolean
        longComments:
          description: Narrative comments to help identify the purpose or uses of the standard condition.
          type: string
        name:
          description: The name of the standard condition.
          type: string
        priority:
          type: object
          description: The priority level assigned to the condition.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        publicDisplayMessage:
          description: Text entered into this field displays in the condition notice or condition status bar for the Condition Name for the public user in Accela IVR (AIVR) and Accela Citizen Access (ACA).
          type: string
        resolutionAction:
          description: he action performed in response to a condition.
          type: string
        serviceProviderCode:
          description: The unique agency identifier.
          type: string
        severity:
          type: object
          description: The severity of the condition.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        shortComments:
          description: A brief description of the condition name. For example, the text may describe the situation that requires the system to apply the condition. You can set these short comments to display when a user accesses an application with this condition applied to it
          type: string
        status:
          type: object
          description: The condition status.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        statusDate:
          description: The date when the current status changed.
          format: date-time
          type: string
        statusType:
          description: The status type for a standard condition or an approval condition, applied or not applied for example.
          type: string
        type:
          type: object
          description: The condition type.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
    response_resultModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/resultModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    response_commonConditionModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/commonConditionModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    response_commonConditionModel:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/commonConditionModel'
        status:
          type: integer
          description: The HTTP return status.
    request_commonConditionModel:
      type: object
      properties:
        actionbyDepartment:
          type: object
          description: The department responsible for the action.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        actionbyUser:
          type: object
          description: The individual responsible for the action.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        activeStatus:
          type: object
          description: Indicates whether or not the condition is active.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        additionalInformation:
          description: An unlimited text field to use if other fields are filled.
          type: string
        additionalInformationPlainText:
          description: An unlimited text field to use if other fields are filled.
          type: string
        appliedDate:
          description: The date the standard condition was applied.
          format: date-time
          type: string
        appliedbyDepartment:
          type: object
          description: "The department responsible for applying a condition.\t"
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        appliedbyUser:
          type: object
          description: "The staff member responsible for applying a condition.\t"
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        contactID:
          description: The contact ID associated with the condition. See [Get All Contacts](./api-contacts-professionals.html#operation/v4.get.contacts).
          type: string
        dispAdditionalInformationPlainText:
          description: An unlimited text field to use if other fields are filled.
          type: string
        displayNoticeInAgency:
          description: Indicates whether or not to display the condition notice in Accela Automation when a condition to a record or parcel is applied.
          type: boolean
        displayNoticeInCitizens:
          description: Indicates whether or not to display the condition notice in Accela Citizen Access when a condition to a record or parcel is applied.
          type: boolean
        displayNoticeInCitizensFee:
          description: Indicates whether or not to display the condition notice in Accela Citizen Access Fee Estimate page when a condition to a record or parcel is applied.
          type: boolean
        effectiveDate:
          description: The date when you want the condition to become effective.
          format: date-time
          type: string
        expirationDate:
          description: The date when the condition expires.
          format: date-time
          type: string
        group:
          type: object
          description: The condition group is an attribute of a condition that organizes condition types. Your agency defines these groups.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        id:
          description: The condition system id assigned by the Civic Platform server.
          format: int64
          type: integer
        inheritable:
          type: object
          description: This defines whether or not Accela Automation checks for inheritable conditions when a user associates a child record with a parent record.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        isIncludeNameInNotice:
          description: Indicates whether or not to display the condition name in the notice.
          type: boolean
        isIncludeShortCommentsInNotice:
          description: Indicates whether or not to display the condition comments in the notice.
          type: boolean
        longComments:
          description: Narrative comments to help identify the purpose or uses of the standard condition.
          type: string
        name:
          description: The name of the standard condition.
          type: string
        priority:
          type: object
          description: The priority level assigned to the condition.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        publicDisplayMessage:
          description: Text entered into this field displays in the condition notice or condition status bar for the Condition Name for the public user in Accela IVR (AIVR) and Accela Citizen Access (ACA).
          type: string
        resAdditionalInformationPlainText:
          description: An unlimited text field to use if other fields are filled.
          type: string
        resolutionAction:
          description: he action performed in response to a condition.
          type: string
        serviceProviderCode:
          description: The unique agency identifier.
          type: string
        severity:
          type: object
          description: The severity of the condition.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        shortComments:
          description: A brief description of the condition name. For example, the text may describe the situation that requires the system to apply the condition. You can set these short comments to display when a user accesses an application with this condition applied to it
          type: string
        status:
          type: object
          description: The condition status.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        statusDate:
          description: The date when the current status changed.
          format: date-time
          type: string
        statusType:
          description: The status type for a standard condition or an approval condition, applied or not applied for example.
          type: string
        type:
          type: object
          description: The condition type.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
    resultModel:
      type: object
      properties:
        code:
          description: The error code, if an error is encountered.
          type: string
        id:
          description: The system id of the object in this operation.
          format: int64
          type: integer
        isSuccess:
          description: Indicates whether or not the operation on the object is successful.
          type: boolean
        message:
          description: The error message, if an error is encountered
          type: string
x-api-evangelist-provenance:
  generated: '2026-09-06'
  method: searched
  source: https://developer.accela.com/api/v4/v4-contacts-professionals.json
  note: Harvested verbatim from the Accela Developer Portal API Reference, which renders these Swagger 2.0 documents via ReDoc (spec-url on developer.accela.com/docs/api_reference/api-*.html). The byte-identical original is kept at openapi/_original/. This copy is the same document serialized to YAML.
