openapi: 3.2.0
info:
  description: Accela API for transactional records and related record resources
  title: Records/Votes API
  version: v4
servers:
- url: https://apis.accela.com/
tags:
- name: Records/Votes
paths:
  /v4/records/{recordId}/votes:
    get:
      description: 'Gets the votes for the specified record.


        **API Endpoint**: GET /v4/records/{recordId}/votes


        **Scope**: records


        **App Type**: Citizen


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Get All Votes for Record
      operationId: v4.get.records.recordId.votes
      tags:
      - Records/Votes
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/recordId'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_voteResult'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
    post:
      description: 'Creates a vote for the specified record.


        **API Endpoint**: POST /v4/records/{recordId}/votes


        **Scope**: records


        **App Type**: Citizen


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Create Record Votes
      operationId: v4.post.records.recordId.votes
      tags:
      - Records/Votes
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/recordId'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_voteResult'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/voteRequest'
        description: The vote request to add.
        required: true
  /v4/records/{recordId}/votes/summary:
    get:
      description: 'Gets the voting summary for the specified record.


        **API Endpoint**: GET /v4/records/{recordId}/votes/summary


        **Scope**: records


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Get Record Votes Summary
      operationId: v4.get.records.recordId.votes.summary
      tags:
      - Records/Votes
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/recordId'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_voteSummary'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
components:
  parameters:
    lang:
      description: Language parameter to support I18N. Default language is en_US.
      in: query
      name: lang
      required: false
      schema:
        type: string
    recordId:
      description: The ID of the record to fetch. See [Get All Records](./api-records.html#operation/v4.get.records), [Search Records](./api-search.html#operation/v4.post.search.records), or [Get My Records](./api-records.html#operation/v4.get.records.mine).
      in: path
      name: recordId
      required: true
      schema:
        type: string
    authHeaderParam:
      description: Construct oAuth2 authentication token
      in: header
      name: Authorization
      required: true
      schema:
        type: string
  schemas:
    voteResult:
      type: object
      properties:
        vote:
          description: The result of a vote on a record (agenda item in a hearing, for example). A value of true is a "yea" vote and a value of false indicates a "nay" vote.
          type: boolean
    voteRequest:
      type: object
      properties:
        vote:
          description: The vote on a record (agenda item in a hearing, for example). A value of true is a "yea" vote and a value of false indicates a "nay" vote.
          type: boolean
      required:
      - vote
    voteSummary:
      type: object
      properties:
        downCount:
          description: The number of votes that disapprove the specified record.
          type: integer
        upCount:
          description: The number of votes that approve the specified record.
          type: integer
    response_voteResult:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/voteResult'
        status:
          type: integer
          description: The HTTP return status.
    response_voteSummary:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/voteSummary'
        status:
          type: integer
          description: The HTTP return status.
x-api-evangelist-provenance:
  generated: '2026-09-06'
  method: searched
  source: https://developer.accela.com/api/v4/v4-records.json
  note: Harvested verbatim from the Accela Developer Portal API Reference, which renders these Swagger 2.0 documents via ReDoc (spec-url on developer.accela.com/docs/api_reference/api-*.html). The byte-identical original is kept at openapi/_original/. This copy is the same document serialized to YAML.
