basePath: /
schemes:
- http
host: apis.accela.com
info:
  description: "Accela API for searching Civic Platform objects \n\nThe Search API provides apps with a global search feature\
    \ to locate records and objects in the system database. In the global search, you specify search criteria and you view\
    \ the records that meet the criteria in a global scope.You can further organize the search results by applying filters\
    \ to the results set.\n\nAnother important use for searches is to ensure valid reference data are used with transaction\
    \ data. For example, searching for valid address, parcel, and owner objects ensures that data integrity and business rules\
    \ are enforced when creating records. \n\n Construct search API's use the HTTP POST method to allow an extensive set of\
    \ search parameters in the request body. \n\n **Using Wildcards** \n\n A wildcard is a special character (%) you can use\
    \ in your search criteria to represent one or more characters in a string of characters. When used, it can represent an\
    \ undefined value. Where you place the wildcard character determines which part of the name or phrase you are not searching\
    \ for. \n\n Note: The Accela API does not support the use of wildcards for all fields. \n\n **Example Use Case** \n\n\
    \ You are searching for an owner with the last name equal or similar to Johnson. You enter %son as the search criterion.\
    \ The search result includes all names it finds ending in \"son\", including Johnson and Thompson. If you enter john%,\
    \ the search results includes all names beginning with \"John\", including Johnson, Johnston, and Johns. If you enter\
    \ %john% and click search, the results include all names with \"john\" anywhere within the whole name, including Johnson,\
    \ or St. Johns. \n\n **Advanced Search** \n\n If you perform advanced search with multiple fields, the search follows\
    \ the following general rules:<br/> * If you base a search on two or more detail search fields, the system uses AND to\
    \ locate that contain all the search criteria. For example, if you pick two fields within the record detail search fields,\
    \ the search applies this rule. <br/> * If you base a search on fields across different categories, such as between record\
    \ search fields and Address, Parcel, Owner (APO) template search fields, Accela Construct uses the AND rule to perform\
    \ the search. For example, if you pick one record detail search fields and one search field from the APO template, the\
    \ search applies this rule. <br/> * If you base a search on two or more Task Spec Info, App Spec Info, or APO template\
    \ search fields, Accela Construct uses AND to locate records that contain only one of the search criteria. For example,\
    \ if you pick two fields within the APO template, the search applies to this rule. <br/> * If you base a search on two\
    \ fields from the record detail search and the APO template, Accela Construct uses AND and OR to perform the search."
  title: Search
  version: v4
swagger: '2.0'
paths:
  /v4/search/addresses:
    post:
      description: "Finds the addresses that match the search criteria. Specify at least one search criteria.\n\n\n\n**API\
        \ Endpoint**:  POST /v4/search/addresses \n\n**Scope**:  addresses \n\n**App Type**:  All \n\n**Authorization Type**:\
        \  Access token \n\n**Civic Platform version**: 7.3.2\n\n"
      summary: Search Addresses
      operationId: v4.post.search.addresses
      parameters:
      - description: Reference address search query.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/addressSearchModel'
      - $ref: '#/parameters/offset'
      - $ref: '#/parameters/limit'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      - description: Parameter for getting expanded record information.
        enum:
        - parcels, owners
        in: query
        name: expand
        required: false
        type: string
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_addressModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/search/agencies:
    post:
      description: "Finds the agencies that match the search criteria.\n\n\n\n**API Endpoint**:  POST /v4/search/agencies\
        \ \n\n**Scope**:  agencies \n\n**App Type**:  All \n\n**Authorization Type**:  No authorization required \n\n**Civic\
        \ Platform version**: All\n\n"
      summary: Search Agencies
      operationId: v4.post.search.agencies
      parameters:
      - description: Agency search query.
        in: body
        name: wsRequest
        required: true
        schema:
          $ref: '#/definitions/geoSearchAgencies'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_agencyModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/search/assets:
    post:
      summary: Search Assets
      description: "Search assets by geolocation and asset query parameters. \n\n\n\n**API Endpoint**:  POST /v4/search/assets\
        \ \n\n**Scope**:  assets \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 9.2.0\n\n"
      operationId: v4.post.search.assets
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: query
        description: Asset query parameters
        required: true
        schema:
          $ref: '#/definitions/request_searchAssets'
      - name: limit
        in: query
        description: The maximum number of items in the result set.
        required: false
        type: integer
        format: int64
      - name: offset
        in: query
        description: The first record of the result set starts at the specified offset position.
        required: false
        type: integer
        format: int64
      - name: fields
        in: query
        type: string
        description: Comma-delimited names of fields to be returned in the response. Field names are case-sensitive and only
          first-level fields are supported. Invalid field names are ignored.
      - name: lang
        in: query
        type: string
        description: Language parameter to support I18N. Default language is en_US.
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria.'
          schema:
            $ref: '#/definitions/response_searchAssets'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/search/global:
    get:
      description: "Finds records that meet the search criteria across the agency.\n\n\n\n**API Endpoint**:  GET /v4/search/global\
        \ \n\n**Scope**:  global_search \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: \t7.3.2\n\n"
      summary: Search All
      operationId: v4.get.search.global
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: Global search query.
        in: query
        name: query
        required: false
        type: string
      - description: Allowed entity type. The system only currently supports Record, Address, Parcel and License Professional
          for citizen user.
        enum:
        - RECORD
        - ADDRESS
        - LICENSEPROFESSIONAL
        - ASSET
        - CONTACT
        - PARCEL
        - DOCUMENT
        in: query
        name: type
        required: false
        type: string
      - description: Comma-separated modules to query.
        in: query
        name: modules
        required: false
        type: string
      - $ref: '#/parameters/offset'
      - $ref: '#/parameters/limit'
      - description: The result set is sorted by the specified field name. Specify the sort order in the "direction" parameter.
          The default sort order is the ascending order.
        in: query
        name: sort
        required: false
        type: string
      - description: Sort direction. Default is ASC.
        enum:
        - ASC
        - ' DESC'
        in: query
        name: direction
        required: false
        type: string
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_globalSearchArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/search/assessments:
    post:
      description: "Searches condition assessments.\n\n\n\n**API Endpoint**:  POST /v4/search/assessments \n\n**Scope**: \
        \ assessments \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**:\
        \ 9.0.0\n\n"
      summary: Search Assessments
      operationId: v4.post.search.assessments
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: Assessment condition search query.
        in: body
        name: body
        schema:
          $ref: '#/definitions/assetConditionAssessmentModel'
      - $ref: '#/parameters/offset'
      - $ref: '#/parameters/limit'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_assetConditionAssessmentModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/search/contacts:
    post:
      description: "Finds the contacts that match the search criteria. Similar to Civic Platform, the Soundex search functionality\
        \ is available on the street name and common contact fields, such as the following request fields: firstName, middleName,\
        \ lastName, organizationName, tradeName, businessName, streetName.\n\n\n\n**API Endpoint**:  POST /v4/search/contacts\
        \ \n\n**Scope**:  contacts \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**:\
        \ 7.3.2\n\n"
      summary: Search Contacts
      operationId: v4.post.search.contacts
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: Contact search query.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/peopleSearchModel'
      - $ref: '#/parameters/offset'
      - $ref: '#/parameters/limit'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_peopleModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/search/costs:
    post:
      description: "Finds the costs that match the search criteria. Specify at least one search criteria.\n\n\n\n**API Endpoint**:\
        \  POST /v4/search/costs \n\n**Scope**:  \tsearch_costs \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access\
        \ token \n\n**Civic Platform version**: 7.3.3.2\n\n"
      summary: Search Costs
      operationId: v4.post.search.costs
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: "Cost search query. Ex. '\r\n{\r\n \"id\": \"70183\"}'"
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/costItemModel'
      - $ref: '#/parameters/offset'
      - $ref: '#/parameters/limit'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_costItemModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/search/inspections:
    post:
      description: "Finds the inspections that match the search criteria.\n\n\n\n**API Endpoint**:  POST /v4/search/inspections\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: \t7.3.2\n\n"
      summary: Search Inspections
      operationId: v4.post.search.inspections
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: "Inspection search query. Ex. '\r\n{\r\n \"id\": \"83471\"}'"
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/inspectionSearchModel'
      - description: Parameter for getting expanded record information.
        enum:
        - record
        in: query
        name: expand
        required: false
        type: string
      - $ref: '#/parameters/offset'
      - $ref: '#/parameters/limit'
      - description: Has total
        enum:
        - 'true'
        - ' false'
        in: query
        name: hasTotal
        required: false
        type: boolean
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      - description: Inspection Team name. It's not required if use department.
        in: query
        name: teamName
        required: false
        type: string
      - description: Inspection Floor.
        in: query
        name: floor
        required: false
        type: string
      - description: Inspection Floor Unit.
        in: query
        name: floorUnit
        required: false
        type: string
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_inspectionModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/search/owners:
    post:
      description: "Finds the owners that match the search criteria. Specify at least one search criteria.\n\n\n\n**API Endpoint**:\
        \  POST /v4/search/owners \n\n**Scope**:  owners \n\n**App Type**:  All \n\n**Authorization Type**:  Access token\
        \ \n\n**Civic Platform version**: 7.3.2\n\n"
      summary: Search Owners
      operationId: v4.post.search.owners
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: "Owner search query. Ex. '\r\n{\r\n \"id\": \"83471\"}'"
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ownerSearchModel'
      - $ref: '#/parameters/offset'
      - $ref: '#/parameters/limit'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_ownerModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/search/parcels:
    post:
      description: "Finds the parcels that match the search criteria. Specify at least one search criteria.\n\n\n\n**API Endpoint**:\
        \  POST /v4/search/parcels \n\n**Scope**:  parcels \n\n**App Type**:  All \n\n**Authorization Type**:  Access token\
        \ \n\n**Civic Platform version**: 7.3.2\n\n"
      summary: Search Parcels
      operationId: v4.post.search.parcels
      parameters:
      - description: Parcel search query.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/parcelSearchModel'
      - $ref: '#/parameters/offset'
      - $ref: '#/parameters/limit'
      - description: "Parameter for getting related objects with the record \n\ncustomForms option is introduced in Civic\
          \ Platform version 9.3.0"
        enum:
        - owners
        - addresses
        - customForms
        in: query
        name: expand
        required: false
        type: string
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_parcelModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/search/parts:
    post:
      description: "Finds the parts that match the search criteria. Specify at least one search criteria.\n\n\n\n**API Endpoint**:\
        \  POST /v4/search/parts \n\n**Scope**:  parts \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token\
        \ \n\n**Civic Platform version**: 7.3.3.2\n\n"
      summary: Search Parts
      operationId: v4.post.search.parts
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: "Part search query. Ex. '\r\n{\r\n \"id\": \"70183\"}'"
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/partInventoryModel'
      - $ref: '#/parameters/offset'
      - $ref: '#/parameters/limit'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_partInventoryModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/search/professionals:
    post:
      description: "Finds the professionals that match the search criteria.\n\n\n\n**API Endpoint**:  POST /v4/search/professionals\
        \ \n\n**Scope**:  professionals \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Search Professionals
      operationId: v4.post.search.professionals
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: "Professional Information. Ex. '\r\n{\r\n \"serviceProviderCode\": \"ABC\",\r\n \"licenseType\": \"ARCHITECT\"\
          }'"
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/licenseSearchModel'
      - $ref: '#/parameters/offset'
      - $ref: '#/parameters/limit'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_searchProfessional'
        '400':
          description: Invalid request.
          schema:
            type: object
            properties:
              status:
                type: integer
                description: The HTTP return status.
              code:
                type: string
              message:
                type: string
              traceId:
                type: integer
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/search/records:
    post:
      summary: Search Records
      description: "Finds the records that match the search criteria.\n\n\n\n**API Endpoint**:  POST /v4/search/records \n\
        \n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  No authorization required \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      operationId: v4.post.search.records
      parameters:
      - description: Construct oAuth2 authentication token
        in: header
        name: Authorization
        required: true
        type: string
      - description: "Contains the record search criteria. For example: '\r\n{\r\n \"id\": \"12BCM-00000-01540\"}'"
        in: body
        name: body
        schema:
          $ref: '#/definitions/recordSearchModel'
      - description: The offset position of the first record in the results response array. For example, if offset is 100,
          the first item in the results array in the response is the 100th record in the search result list.
        format: int64
        in: query
        name: offset
        type: integer
      - description: Search result size limit.
        format: int64
        in: query
        name: limit
        type: integer
      - description: Comma-delimited list of related objects to be returned with the record. The related object(s) will be
          returned only if data exists; if data does not exist, the requested object(s) will not be included in the response.
        enum:
        - addresses
        - parcels
        - professionals
        - contacts
        - owners
        - customForms
        - customTables
        in: query
        name: expand
        type: string
      - name: expandCustomForms
        description: 'Valid values: "addresses"


          If {expand} includes any of addresses, parcels, owners, or contacts, {expandCustomForms} specifies which {expand}
          objects should include custom forms. By default, custom forms for addresses, parcels, owners, and contacts are not
          included in the response data. Note that requesting APO custom forms may have performance implications, depending
          on the amount of data and connectivity to any external data source.


          Added in Civic Platform version: 9.2.0

          '
        in: query
        type: string
        enum:
        - addresses
      - description: The API allow consumer to specify return field with resource. The values are case-sensitive fields name
          of JSON object and be split by comma.
        in: query
        name: fields
        type: string
      - description: Language parameter to support I18N. Default language is en_US
        in: query
        name: lang
        type: string
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_recordModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
definitions:
  aGISGeometryModel:
    type: object
    properties:
      coordinate:
        type: string
      type:
        type: string
  aGISGeometrySearchModel:
    type: object
    properties:
      distance:
        format: double
        type: number
      geometries:
        $ref: '#/definitions/aGISGeometryModel'
      scope:
        type: string
      serviceId:
        type: string
      unit:
        type: string
  inspectionSearchAddressModel:
    type: object
    properties:
      city:
        type: string
        description: The name of the city.
      description:
        type: string
        description: A description of the address.
      direction:
        description: The street direction of the primary address associated with the application.
        type: object
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      houseAlphaStart:
        type: string
        description: The beginning alphabetic unit in street address.
      houseAlphaEnd:
        type: string
        description: The ending alphabetic unit in street address.
      houseFractionStart:
        type: object
        description: Beginning fraction value used in combination with the Street number fields.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      houseFractionEnd:
        type: object
        description: Ending franction value used in combination with the Street number fields.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      levelStart:
        type: string
        description: The starting level number (floor number) that makes up the address within a complex.
      levelEnd:
        type: string
        description: The ending level number (floor number) that makes up the address within a complex.
      levelPrefix:
        type: string
        description: The prefix for the level numbers (floor numbers) that make up the address.
      postalCode:
        type: string
        description: The postal ZIP code for the address.
      secondaryStreet:
        type: string
        description: This field (along with the Secondary Road Number field) displays an extra description for the location
          when two roads that cross or a street with two names makes up the address of the location.
      secondaryStreetNumber:
        type: number
        format: long
        description: This field (along with the Secondary Road field) displays an extra description for the location when
          two roads that cross or a street with two names makes up the address of the location.
      state:
        type: object
        description: The name of the state.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      streetEnd:
        format: int64
        type: integer
        description: The ending number of a street address range.
      streetEndFrom:
        description: The start of the street end range.
        format: int64
        type: integer
      streetEndTo:
        description: The last of the street end range.
        format: int64
        type: integer
      streetName:
        type: string
        description: The name of the street.
      streetStart:
        format: int64
        type: integer
        description: The starting number of a street address range.
      streetStartFrom:
        description: The first of the street start range.
        format: int64
        type: integer
      streetStartTo:
        description: The last of the street start range.
        format: int64
        type: integer
      streetSuffix:
        type: object
        description: The type of street such as "Lane" or "Boulevard".
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      streetSuffixDirection:
        type: object
        description: The direction appended to the street suffix. For example, if the address is 500 56th Avenue NW, "NW"
          is the street suffix direction.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      unitStart:
        type: string
        description: The starting value of a range of unit numbers.
      unitEnd:
        type: string
        description: The ending value of a range of unit numbers.
      unitType:
        type: object
        description: The unit type designation of the address.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      xCoordinate:
        type: number
        format: double
        description: The longitudinal coordinate for this address.
      yCoordinate:
        type: number
        format: double
        description: The latitudinal coordinate for this address.
  inspectionAddressModel:
    type: object
    properties:
      addressLine1:
        type: string
        description: The first line of the address.
      addressLine2:
        type: string
        description: The first line of the address.
      addressTypeFlag:
        type: object
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
        description: A code name or an abbreviation of the address type.
      city:
        type: string
        description: The name of the city.
      country:
        type: object
        description: The name of the country. See [Get All Address Countries](./api-settings.html#operation/v4.get.settings.addresses.countries).
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      county:
        type: string
        description: The name of the county.
      description:
        type: string
        description: A description of the address.
      direction:
        description: The street direction of the primary address associated with the application.
        type: object
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      distance:
        type: number
        format: double
        description: The distance from another landmark used to locate the address.
      houseAlphaStart:
        type: string
        description: The beginning alphabetic unit in street address.
      houseAlphaEnd:
        type: string
        description: The ending alphabetic unit in street address.
      houseFractionStart:
        type: object
        description: Beginning fraction value used in combination with the Street number fields.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      houseFractionEnd:
        type: object
        description: Ending franction value used in combination with the Street number fields.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      id:
        format: int64
        type: integer
        description: The unique address id assigned by the Civic Platform server.
      inspectionDistrict:
        type: string
        description: The inspection district where the address is located.
      inspectionDistrictPrefix:
        type: string
        description: The prefix for the inspection district where the address is located.
      isPrimary:
        type: string
        description: Indicates whether or not to designate the address as the primary address. Only one address can be primary
          at any given time.
      levelStart:
        type: string
        description: The starting level number (floor number) that makes up the address within a complex.
      levelEnd:
        type: string
        description: The ending level number (floor number) that makes up the address within a complex.
      levelPrefix:
        type: string
        description: The prefix for the level numbers (floor numbers) that make up the address.
      neighborhood:
        type: string
        description: The neighborhood where the address is located.
      neighborhoodPrefix:
        type: string
        description: The prefix for neighborhood where the address is located.
      postalCode:
        type: string
        description: The postal ZIP code for the address.
      recordId:
        $ref: '#/definitions/recordIdModel'
      refAddressId:
        description: The reference address id.
        format: int64
        type: integer
      secondaryStreet:
        type: string
        description: This field (along with the Secondary Road Number field) displays an extra description for the location
          when two roads that cross or a street with two names makes up the address of the location.
      secondaryStreetNumber:
        type: number
        format: long
        description: This field (along with the Secondary Road field) displays an extra description for the location when
          two roads that cross or a street with two names makes up the address of the location.
      serviceProviderCode:
        description: The unique agency identifier.
        type: string
      state:
        type: object
        description: The name of the state.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      status:
        type: object
        description: The address status indicating whether the address is active or inactive.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      streetAddress:
        type: string
        description: The street address.
      streetEnd:
        type: number
        format: long
        description: The ending number of a street address range.
      streetEndFrom:
        description: The beginning number of a street end address range.
        format: int64
        type: integer
      streetEndTo:
        description: The ending number of a street end address range.
        format: int64
        type: integer
      streetName:
        type: string
        description: The name of the street.
      streetPrefix:
        type: string
        description: Any part of an address that appears before a street name or number. For example, if the address is 123
          West Main, "West" is the street prefix.
      streetStart:
        type: number
        format: long
        description: The starting number of a street address range.
      streetStartFrom:
        description: The beginning number of a street start address range.
        format: int64
        type: integer
      streetStartTo:
        description: The ending number of a street start address range.
        format: int64
        type: integer
      streetSuffix:
        type: object
        description: The type of street such as "Lane" or "Boulevard".
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      streetSuffixDirection:
        type: object
        description: The direction appended to the street suffix. For example, if the address is 500 56th Avenue NW, "NW"
          is the street suffix direction.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      unitStart:
        type: string
        description: The starting value of a range of unit numbers.
      unitEnd:
        type: string
        description: The ending value of a range of unit numbers.
      unitType:
        type: object
        description: The unit type designation of the address.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      xCoordinate:
        type: number
        format: double
        description: The longitudinal coordinate for this address.
      yCoordinate:
        type: number
        format: double
        description: The latitudinal coordinate for this address.
  response_agencyModelArray:
    type: object
    properties:
      result:
        items:
          $ref: '#/definitions/agencyModel'
        type: array
      status:
        type: integer
        description: The HTTP return status.
  agencyModel:
    type: object
    properties:
      displayName:
        description: The display name of the agency.
        type: string
      enabled:
        description: Indicates whether or not the agency is enabled.
        type: boolean
      hostedACA:
        description: Indicates whether or not the agency is hosted on Accela Citizen Access which allows the public to view
          documents. If true, Public users can view documents.
        type: boolean
      iconName:
        description: The icon filename.
        type: string
      isForDemo:
        description: Indicates whether or not the agency is used for demo purposes only.
        type: boolean
      name:
        description: The name of the agency.
        type: string
      serviceProviderCode:
        description: The unique agency identifier, the system assigns, on the Accela Civic Platform.
        type: string
      state:
        description: The two-character code for the state that the agency belongs to, as configured on Construct [Construct
          Admin Portal](https://admin.accela.com) > Agencies > {Agency} > Agency Info.
        type: string
      country:
        description: The two-character code for the country that the agency belongs to, as configured on [Construct Admin
          Portal](https://admin.accela.com) > Agencies > {Agency} > Agency Info.
        type: string
  request_searchAssets:
    type: object
    properties:
      gisObjects:
        items:
          $ref: '#/definitions/gisObjectModel'
        type: array
  response_searchAssets:
    type: object
    properties:
      result:
        type: array
        items:
          $ref: '#/definitions/masterAssetModel'
      page:
        $ref: '#/definitions/page'
      status:
        type: integer
        description: The HTTP return status.
  response_assetConditionAssessmentModelArray:
    type: object
    properties:
      result:
        items:
          $ref: '#/definitions/assetConditionAssessmentModel'
        type: array
      page:
        $ref: '#/definitions/pageModel'
      status:
        type: integer
        description: The HTTP return status.
  assetConditionAssessmentModel:
    type: object
    properties:
      asset:
        $ref: '#/definitions/assetModel'
      assetCAID:
        description: The asset condition assessment ID.
        format: int64
        type: integer
      assignedToDepartment:
        description: The department responsible for the assessment.
        type: string
      attributes:
        $ref: '#/definitions/customAttributeModel'
      comments:
        description: The name of the inspector performing the assessment.
        type: string
      inspectorFullName:
        description: "\tThe unique identifier of the inspector."
        type: string
      inspectorId:
        description: The inspector id.
        type: string
      scheduledDate:
        description: The scheduled assessment date, in yyyy-mm-dd format.
        format: date-time
        type: string
      scheduledTime:
        description: The scheduled assessment time, in hh:mm AM/PM format.
        type: string
      status:
        description: The assessment status.
        type: string
      timeSpent:
        description: The number of hours spent on the assessment.
        format: double
        type: number
      type:
        description: The type of assessment.
        type: string
  assetModel:
    type: object
    properties:
      description:
        description: The asset description.
        type: string
      group:
        description: The group the asset belongs to.
        type: string
      id:
        description: The asset system id assigned by the Civic Platform server.
        type: string
      status:
        type: object
        description: "\tThe asset status."
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      type:
        description: The asset type.
        type: string
  masterAssetModel:
    type: object
    properties:
      assetId:
        type: string
        description: The unique alpha-numeric asset ID in an asset group.
      attributes:
        $ref: '#/definitions/customAttributeModel'
      attributeTables:
        items:
          $ref: '#/definitions/tableModel'
        type: array
      classType:
        type: string
        description: A Class Type is how Civic Platform groups objects that an agency owns or maintains. The five class types
          are component, linear, node-link linear, point, and polygon. Asset class types provide the ability to assign or
          group multiple asset types together.
      comments:
        type: object
        description: General comments about the asset.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      currentValue:
        format: double
        type: number
        description: The current value of the asset.
      dateOfService:
        format: date-time
        type: string
        description: The date the asset was initially placed into service.
      dependentFlag:
        type: string
        description: Indicates whether or not the parent asset is dependent on this asset.
      depreciationAmount:
        format: double
        type: number
        description: The decline in the asset value by the asset depreciation calculation.
      depreciationEndDate:
        format: date-time
        type: string
        description: The end date for the asset depreciation calculation. This field is used in the asset depreciation calculation.
      depreciationStartDate:
        format: date-time
        type: string
        description: The start date for the asset depreciation calculation. This field is used in the asset depreciation calculation.
      depreciationValue:
        format: double
        type: number
        description: The asset value after the asset depreciation calculation, which is based on the start value, depreciation
          start and end dates, useful life, and salvage value.
      description:
        type: object
        description: The asset description.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      endID:
        type: string
        description: The ending point asset ID.
      gisObjects:
        items:
          $ref: '#/definitions/gisObjectModel'
        type: array
        description: Contains GIS information about the location of the asset.
      id:
        format: int64
        type: integer
        description: The unique, sequence id assigned by the Civic Platform server. Use the id to identify the object on the
          URI in subsequent object-specific API requests.
      name:
        type: object
        description: The asset name.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      number:
        type: string
        description: The unique, alpha-numeric asset ID.
      salvageValue:
        format: double
        type: number
        description: The residual value of the asset at the end of its useful life.
      serviceProviderCode:
        type: string
        description: The unique agency identifier.
      size:
        format: double
        type: number
        description: A positive numeric value for the asset size.
      sizeUnit:
        type: string
        description: The unit of measure corresponding to the asset size.
      startID:
        type: string
        description: The starting point asset ID.
      startValue:
        format: double
        type: number
        description: The beginning value or purchase price of the asset.
      status:
        type: object
        description: The asset status.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      statusDate:
        format: date-time
        type: string
        description: The date the asset status changed.
      type:
        type: object
        description: The asset type.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      usefulLife:
        type: string
        description: The number of years the asset is expected to be used. This field is used in the asset depreciation calculation
  tableModel:
    type: object
    properties:
      id:
        type: string
      rows:
        items:
          $ref: '#/definitions/rowModel'
        type: array
  rowModel:
    type: object
    properties:
      fields:
        $ref: '#/definitions/customAttributeModel'
      id:
        type: string
  recordAssetModel:
    type: object
    properties:
      classType:
        type: string
        description: A Class Type is how Civic Platform groups objects that an agency owns or maintains. The five class types
          are component, linear, node-link linear, point, and polygon. Asset class types provide the ability to assign or
          group multiple asset types together.
      comments:
        type: object
        description: General comments about the asset.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      currentValue:
        format: double
        type: number
        description: The current value of the asset.
      dateOfService:
        format: date-time
        type: string
        description: The date the asset was initially placed into service.
      dependentFlag:
        type: string
        description: Indicates whether or not the parent asset is dependent on this asset.
      depreciationAmount:
        format: double
        type: number
        description: The decline in the asset value by the asset depreciation calculation.
      depreciationEndDate:
        format: date-time
        type: string
        description: The end date for the asset depreciation calculation. This field is used in the asset depreciation calculation.
      depreciationStartDate:
        format: date-time
        type: string
        description: The start date for the asset depreciation calculation. This field is used in the asset depreciation calculation.
      depreciationValue:
        format: double
        type: number
        description: The asset value after the asset depreciation calculation, which is based on the start value, depreciation
          start and end dates, useful life, and salvage value.
      description:
        type: object
        description: The asset description.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      endID:
        type: string
        description: The ending point asset ID.
      gisObjects:
        items:
          $ref: '#/definitions/gisObjectModel'
        type: array
        description: Contains GIS information about the location of the asset.
      id:
        format: int64
        type: integer
        description: The unique, sequence id assigned by the Civic Platform server. Use the id to identify the object on the
          URI in subsequent object-specific API requests.
      name:
        type: object
        description: The asset name.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      number:
        type: string
        description: The unique, alpha-numeric asset ID.
      salvageValue:
        format: double
        type: number
        description: The residual value of the asset at the end of its useful life.
      size:
        format: double
        type: number
        description: A positive numeric value for the asset size.
      sizeUnit:
        type: string
        description: The unit of measure corresponding to the asset size.
      startID:
        type: string
        description: The starting point asset ID.
      startValue:
        format: double
        type: number
        description: The beginning value or purchase price of the asset.
      status:
        type: object
        description: The asset status.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      statusDate:
        format: date-time
        type: string
        description: The date the asset status changed.
      type:
        type: object
        description: The asset type.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
  requestRecordIdModel:
    type: object
    properties:
      customId:
        description: An ID based on a different numbering convention from the numbering convention used by the record ID (xxxxx-xx-xxxxx).
          Accela Automation auto-generates and applies an alternate ID value when you submit a new application.
        type: string
      id:
        description: The record system id assigned by the Civic Platform server.
        type: string
      idOrCustomId:
        description: The record system id assigned by the Civic Platform server. Or a custom id, an ID based on a different
          numbering convention from the numbering convention used by the record ID (xxxxx-xx-xxxxx). Accela Automation auto-generates
          and applies an alternate ID value when you submit a new application.
        type: string
      serviceProviderCode:
        description: The unique agency identifier.
        type: string
      trackingId:
        description: The application tracking number (IVR tracking number).
        format: int64
        type: integer
      value:
        description: The alphanumeric record id.
        type: string
  recordIdModel:
    type: object
    properties:
      customId:
        description: An ID based on a different numbering convention from the numbering convention used by the record ID (xxxxx-xx-xxxxx).
          Accela Automation auto-generates and applies an alternate ID value when you submit a new application.
        type: string
      id:
        description: The record system id assigned by the Civic Platform server.
        type: string
      serviceProviderCode:
        description: The unique agency identifier.
        type: string
      trackingId:
        description: The application tracking number (IVR tracking number).
        format: int64
        type: integer
      value:
        description: The alphanumeric record id.
        type: string
  recordTypeModel_2:
    type: object
    properties:
      category:
        description: The 4th level in a 4-level record type structure (Group-Type-Subtype-Category).
        type: string
      filterName:
        description: The name of the record type filter which defines the record types to be displayed for the citizen user.
        type: string
      group:
        description: The 1st level in a 4-level record type structure (Group-Type-Subtype-Category).
        type: string
      id:
        description: The record type system id assigned by the Civic Platform server.
        type: string
      module:
        description: Use to filter by the module. See [Get All Modules](./api-settings.html#operation/v4.get.settings.modules).
        type: string
      subType:
        description: The 3rd level in a 4-level record type structure (Group-Type-Subtype-Category).
        type: string
      text:
        description: The record type display text
        type: string
      type:
        description: The 2nd level in a 4-level record type structure (Group-Type-Subtype-Category).
        type: string
      value:
        description: The record type value.
        type: string
  recordTypeModel:
    type: object
    properties:
      alias:
        type: string
      category:
        type: string
      filterName:
        type: string
      group:
        type: string
      id:
        type: string
      module:
        type: string
      subType:
        type: string
      text:
        type: string
      type:
        type: string
      value:
        type: string
  ownerSearchAddressModel:
    type: object
    properties:
      addressLine1:
        description: The first line of the address.
        type: string
      city:
        description: The name of the city.
        type: string
      country:
        type: object
        description: ''
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      postalCode:
        description: The postal ZIP code for the address.
        type: string
      state:
        type: object
        description: ''
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
  ownerAddressModel:
    type: object
    properties:
      addressLine1:
        description: The first line of the address.
        type: string
      addressLine2:
        description: The second line of the address.
        type: string
      addressLine3:
        description: The third line of the address.
        type: string
      city:
        description: The name of the city.
        type: string
      country:
        type: object
        description: ''
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      postalCode:
        description: The postal ZIP code for the address.
        type: string
      state:
        type: object
        description: ''
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
  response_costItemModelArray:
    type: object
    properties:
      result:
        items:
          $ref: '#/definitions/costItemModel'
        type: array
      status:
        type: integer
        description: The HTTP return status.
  costItemModel:
    type: object
    properties:
      defaultAccount:
        type: object
        description: The default account associated with the cost.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      defaultFactor:
        type: object
        description: The default cost factor.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      description:
        description: The description of the cost item.
        type: string
      fixedRate:
        description: The fixed cost amount for the cost item.
        format: double
        type: number
      name:
        type: object
        description: The cost item name.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      status:
        type: object
        description: The cost item status.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      subgroup:
        description: The subgroup the cost item belongs to.
        type: string
      type:
        type: object
        description: 'The cost type, such as: contract, employee, materials. See [Get All Cost Types](./api-settings.html#operation/v4.get.settings.costs.types).'
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      unitOfMeasure:
        type: object
        description: The unit of measurement for quantifying the cost item.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      unitRate:
        description: The unit rate for the cost item.
        format: double
        type: number
  customAttributeModel:
    description: Contains one or more "customFieldName":"customFieldValue" pairs.
    type: object
    properties:
      aCustomFieldName:
        description: The name of a custom field.
        type: string
      aCustomFieldValue:
        description: The value of a custom field.
        type: string
  gisObjectModel:
    type: object
    properties:
      gisId:
        type: string
        description: The GIS object id.
      layerId:
        type: string
        description: The GIS map layer id.
      serviceId:
        type: string
        description: The GIS map service id.
  geoSearchAgencies:
    type: object
    properties:
      latitude:
        description: The angular distance of a place north or south of the earth's equator, usually expressed in degrees and
          minutes.
        type: number
      longitude:
        description: The angular distance of a place east or west of the meridian at Greenwich, England, usually expressed
          in degrees and minutes.
        type: number
      state:
        description: Filters the agencies by state. For US and Canada, specify the two-character state portion of the ISO-3661-2
          code. For example, "CA" for California and "AB" for Alberta. See [https://en.wikipedia.org/wiki/ISO_3166-2:US](https://en.wikipedia.org/wiki/ISO_3166-2:US)
          or [https://en.wikipedia.org/wiki/ISO_3166-2:CA](https://en.wikipedia.org/wiki/ISO_3166-2:CA) for a list of valid
          codes. For other countries, specify the state name, as configured on [Construct Admin Portal](https://admin.accela.com)
          > Agencies > {Agency} > Agency Info.
        type: string
      country:
        description: Filters the agencies by country, as configured on [Construct Admin Portal](https://admin.accela.com)
          > Agencies > {Agency} > Agency Info. Specify the standard ISO-3661-2 country code. See [https://en.wikipedia.org/wiki/ISO_3166-2](https://en.wikipedia.org/wiki/ISO_3166-2)
          for a list of valid codes.
        type: string
  identifierModel:
    type: object
    properties:
      text:
        type: string
      value:
        type: string
  response_inspectionModelArray:
    type: object
    properties:
      result:
        items:
          $ref: '#/definitions/inspectionModel'
        type: array
      status:
        type: integer
        description: The HTTP return status.
  inspectionModel:
    type: object
    properties:
      teamName:
        description: Inspection Team name.
        type: string
      floor:
        description: Inspection Floor.
        type: string
      floorUnit:
        description: Inspection Floor Unit.
        type: string
      address:
        $ref: '#/definitions/inspectionAddressModel'
      billable:
        description: This defines whether or not the item is billable.
        enum:
        - Y
        - N
        type: string
      category:
        description: The inspection category, which is used to organize inspection types. An inspection type is assigned to
          one or more inspection categories.
        type: string
      commentDisplay:
        description: Indicates whether or not Accela Citizen Access users can view the inspection results comments.
        type: string
      commentPublicVisible:
        description: "Specifies the type of user who can view the inspection result comments. \"All ACA Users\" - Both registered\
          \ and anonymous Accela Citizen Access users can view the comments for inspection results. \"Record Creator Only\"\
          \ - the user who created the record can see the comments for the inspection results. \"Record Creator and Licensed\
          \ Professional\" - The user who created the record and the licensed professional associated with the record can\
          \ see the comments for the inspection results.\t"
        items:
          type: string
        type: array
      completedAMPM:
        description: Indicates whether completed time is "AM" or "PM".
        type: string
      completedDate:
        description: The date of completion.
        format: date-time
        type: string
      completedTime:
        description: The time of completion.
        type: string
      contact:
        $ref: '#/definitions/inspectionContactModel'
      contactFirstName:
        description: The contact's first name. This field is only active when the Contact Type selected is Individual.
        type: string
      contactLastName:
        description: The last name of the contact.
        type: string
      contactMiddleName:
        description: The middle name of the contact.
        type: string
      desiredAMPM:
        description: Indicates whether the desired inspection time is AM or PM.
        type: string
      desiredDate:
        description: The desired inspection date.
        format: date-time
        type: string
      desiredTime:
        description: The desired inspection time.
        type: string
      endMileage:
        description: The ending mileage for the inspection.
        format: float
        type: number
      endTime:
        description: The time the inspection was completed.
        format: date-time
        type: string
      estimatedEndTime:
        description: inspection estimated end time.
        type: string
      estimatedStartTime:
        description: The scheduled start time for the inspection.
        type: string
      gisAreaName:
        description: The GIS Object ID of the parent application if the application that the inspection is scheduled for has
          a parent application that is a project application.
        type: string
      grade:
        description: The name of the inspection grade.
        type: string
      id:
        description: The inspection system id assigned by the Civic Platform server.
        format: int64
        type: integer
      inspectorFullName:
        description: The name of the inspector performing the assessment.
        type: string
      inspectorId:
        description: The ID number of the inspector. See [Get All Inspectors](./api-inspections.html#operation/v4.get.inspectors).
        type: string
      isAutoAssign:
        description: This defines whether or not you want to automatically reschedule the inspection when the previous inspection
          status attains Approved status.
        type: string
      latitude:
        description: The angular distance of a place north or south of the earth's equator, usually expressed in degrees and
          minutes.
        format: float
        type: number
      longitude:
        description: The angular distance of a place east or west of the meridian at Greenwich, England, usually expressed
          in degrees and minutes.
        format: float
        type: number
      majorViolation:
        description: The number of major violations.
        format: int64
        type: integer
      overtime:
        description: A labor cost factor that indicates time worked beyond a worker's regular working hours.
        type: string
      priority:
        description: The priority level assigned to the inspection.
        format: double
        type: number
      publicVisible:
        description: This defines whether or not Accela Citizen Access users can view comment about the inspection results.
        type: string
      record:
        $ref: '#/definitions/recordSimpleModel'
      recordId:
        $ref: '#/definitions/recordIdModel'
      recordType:
        $ref: '#/definitions/recordTypeModel_2'
      requestAMPM:
        description: The time segment, AM or PM, for the time specified in the requestTime field.
        type: string
      requestComment:
        description: Comments about the new inspection. For example, you may identify who requested the inspection.
        type: string
      requestDate:
        description: The date when an inspection request is submitted.
        format: date-time
        type: string
      requestTime:
        description: This time is automatically generated when a new inspection is scheduled and submitted.
        type: string
      requestorFirstName:
        description: The first name of the person requesting an inspection-related operation.
        type: string
      requestorLastName:
        description: The last name of the person requesting an inspection-related operation.
        type: string
      requestorMiddleName:
        description: The middle name of the person requesting an inspection-related operation.
        type: string
      requestorPhone:
        description: The telephone number for the person who processes the inspection request or schedules the inspection.
        type: string
      requestorPhoneIDD:
        description: The telephone number for the person who processes the inspection request or schedules the inspection.
        type: string
      requestorUserId:
        description: The user Id of the person requesting an inspection-related operation.
        type: string
      requiredInspection:
        description: This defines whether the inspection is optional or required.
        type: string
      resultComment:
        description: The inspection result comments.
        type: string
      resultType:
        description: 'The type of result that can be ascibed to an inspection. There are three result types: Approved: Approves
          (passes) the checklist item. Denied: Denies (fails) the checklist item. Informational: Indicates that the checklist
          items do not need a status of app'
        type: string
      scheduleDate:
        description: The date when the inspection gets scheduled.
        format: date-time
        type: string
      scheduleEndAMPM:
        description: Indicates whether the scheduleEndTime is in the AM or PM.
        enum:
        - AM
        - PM
        type: string
      scheduleEndTime:
        description: The scheduled end time for the inspection.
        type: string
      scheduleStartAMPM:
        description: AM indicates the 12 hour period from midnight to noon. PM indicates the 12 hour period from noon to midnight.
        enum:
        - AM
        - PM
        type: string
      scheduleStartTime:
        description: The scheduled start time for the inspection.
        type: string
      serviceProviderCode:
        description: The unique agency identifier.
        type: string
      startMileage:
        description: The starting mileage for the inspection.
        format: float
        type: number
      startTime:
        description: The time when you started the inspection.
        format: date-time
        type: string
      status:
        type: object
        description: The inspection status. See [Get All Inspection Statuses](./api-settings.html#operation/v4.get.settings.inspections.statuses).
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      submitAMPM:
        description: The time block for the scheduled inspection.
        type: string
      submitDate:
        description: The date that the inspection was submitted.
        format: date-time
        type: string
      submitTime:
        description: The time that a new inspection is submitted. Civic Platform generates this value.
        type: string
      totalMileage:
        description: The total mileage for the inspection.
        format: float
        type: number
      totalScore:
        description: The overall score of the inspection that includes the inspection result, inspection grade, checklist
          total score and checklist major violation option.
        format: int64
        type: integer
      totalTime:
        description: The total amount of time used to do an inspection.
        format: double
        type: number
      type:
        $ref: '#/definitions/inspectionTypeModel'
      unitNumber:
        description: The number of time units (see timeUnitDuration) comprising an inspection.
        type: string
      units:
        description: The amount of time comprising the smallest time unit for conducting an inspection.
        format: double
        type: number
      vehicleId:
        description: A number, such as the license plate number or VIN, that identifies the vehicle used to complete an inspection.
        type: string
  inspectionSearchModel:
    type: object
    properties:
      teamName:
        description: Inspection Team name. It's not required if use department.
        type: string
      floor:
        description: Inspection Floor.
        type: string
      floorUnit:
        description: Inspection Floor Unit.
        type: string
      address:
        $ref: '#/definitions/inspectionSearchAddressModel'
      billable:
        description: This defines whether or not the item is billable.
        enum:
        - Y
        - N
        type: string
      category:
        description: The inspection category, which is used to organize inspection types. An inspection type is assigned to
          one or more inspection categories.
        type: string
      completedDateFrom:
        description: The start of the completion date range.
        format: date-time
        type: string
      completedDateTo:
        description: The end of the completion date range.
        format: date-time
        type: string
      contact:
        $ref: '#/definitions/inspectionSearchContactModel'
      endMileage:
        description: The ending mileage for the inspection.
        format: float
        type: number
      endTime:
        description: The time the inspection was completed.
        format: date-time
        type: string
      gisAreaName:
        description: The GIS Object ID of the parent application if the application that the inspection is scheduled for has
          a parent application that is a project application.
        type: string
      inspectorId:
        description: The ID number of the inspector. See [Get All Inspectors](./api-inspections.html#operation/v4.get.inspectors).
        type: string
      latitude:
        description: The angular distance of a place north or south of the earth's equator, usually expressed in degrees and
          minutes.
        format: float
        type: number
      longitude:
        description: The angular distance of a place east or west of the meridian at Greenwich, England, usually expressed
          in degrees and minutes.
        format: float
        type: number
      overtime:
        description: A labor cost factor that indicates time worked beyond a worker's regular working hours.
        type: string
      parcel:
        $ref: '#/definitions/inspectionParcelModel'
      publicVisible:
        description: Indicates whether or not Accela Citizen Access users can view comment about the inspection results.
        enum:
        - Y
        - N
        type: string
      recordId:
        $ref: '#/definitions/requestRecordIdModel'
      recordTypes:
        items:
          $ref: '#/definitions/recordTypeModel_2'
        type: array
      requestDateFrom:
        description: The date from which to start search for requested inspections.
        format: date-time
        type: string
      requestDateTo:
        description: The date up to which to start search for requested inspections.
        format: date-time
        type: string
      scheduleDateFrom:
        description: The date from which to start search for scheduled inspections.
        format: date-time
        type: string
      scheduleDateTo:
        description: The date up to which to start search for scheduled inspections.
        format: date-time
        type: string
      scheduleEndAMPM:
        description: Indicates whether the scheduleEndTime is in the AM or PM.
        enum:
        - AM
        - PM
        type: string
      scheduleEndTime:
        description: The scheduled end time for the inspection.
        type: string
      scheduleStartAMPM:
        description: AM indicates the 12 hour period from midnight to noon. PM indicates the 12 hour period from noon to midnight.
        enum:
        - AM
        - PM
        type: string
      scheduleStartTime:
        description: The scheduled start time for the inspection.
        type: string
      startMileage:
        description: The starting mileage for the inspection.
        format: float
        type: number
      startTime:
        description: The time when you started the inspection.
        format: date-time
        type: string
      status:
        type: object
        description: The inspection status. See [Get All Inspection Statuses](./api-settings.html#operation/v4.get.settings.inspections.statuses).
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      submitDateFrom:
        description: The date from which to start search for submitted inspections.
        format: date-time
        type: string
      submitDateTo:
        description: The date up to which to start search for submitted inspections.
        format: date-time
        type: string
      totalMileage:
        description: The total mileage for the inspection.
        format: float
        type: number
      totalTime:
        description: The total amount of time used to do an inspection.
        format: double
        type: number
      types:
        description: Contains inspection types and their type properties. See [Get All Inspection Types](./api-settings.html#operation/v4.get.settings.inspections.types).
        items:
          $ref: '#/definitions/inspectionTypeModel'
        type: array
      unitNumber:
        description: The number of time units (see timeUnitDuration) comprising an inspection.
        type: string
      vehicleId:
        description: A number, such as the license plate number or VIN, that identifies the vehicle used to complete an inspection.
        type: string
  inspectionTypeModel:
    type: object
    properties:
      group:
        description: The name of a group of inspection types.
        type: string
      id:
        description: The inspection type system id assigned by the Civic Platform server.
        format: int64
        type: integer
      text:
        description: The inspection type display text.
        type: string
      value:
        description: The inspection type value.
        type: string
  licenseProfessionalModel:
    type: object
    properties:
      addressLine1:
        description: The first line of the address.
        type: string
      addressLine2:
        description: The second line of the address.
        type: string
      addressLine3:
        description: The third line of the address.
        type: string
      birthDate:
        description: The birth date of an individual.
        format: date-time
        type: string
      businessLicense:
        description: The official business license number issued by an agency. A licensed professional can have the same license
          number assigned to multiple license types.
        type: string
      businessName:
        description: A business name for the applicable individual.
        type: string
      businessName2:
        description: A secondary business name for the applicable individual.
        type: string
      city:
        description: The name of the city.
        type: string
      comment:
        description: Comments or notes about the current context.
        type: string
      country:
        type: object
        description: The name of the country.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      email:
        description: The contact's email address.
        type: string
      expirationDate:
        description: The license expiration date.
        format: date-time
        type: string
      fax:
        description: The fax number for the contact.
        type: string
      federalEmployerId:
        description: The Federal Employer Identification Number. It is used to identify a business for tax purposes.
        type: string
      firstName:
        description: 'The licensed professional''s first name. '
        type: string
      fullName:
        description: 'The licensed professional''s full name. '
        type: string
      gender:
        type: object
        description: The gender (male or female) of the individual.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      id:
        description: The licensed professional system id assigned by the Civic Platform server.
        type: string
      isPrimary:
        description: Indicates whether or not to designate the professional as the primary professional.
        type: string
      lastName:
        description: 'The licensed professional''s last name. '
        type: string
      lastRenewalDate:
        description: The last date for a professionals renewal license.
        format: date-time
        type: string
      licenseNumber:
        description: The licensed professional's license number.
        type: string
      licenseType:
        type: object
        description: The type of license held by the professional.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      licensingBoard:
        type: object
        description: The name of the licensing board that issued the license.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      middleName:
        description: 'The licensed professional''s middle name. '
        type: string
      originalIssueDate:
        description: The original issuance date of license.
        format: date-time
        type: string
      phone1:
        description: The primary phone number of the contact.
        type: string
      phone2:
        description: The secondary phone number of the contact.
        type: string
      phone3:
        description: "The tertiary phone number for the contact.\t"
        type: string
      postOfficeBox:
        description: The post office box number.
        type: string
      postalCode:
        description: The postal ZIP code for the address.
        type: string
      recordId:
        $ref: '#/definitions/recordIdModel'
      referenceLicenseId:
        description: The unique Id generated for a professional stored in the system.
        type: string
      salutation:
        type: object
        description: The salutation to be used when addressing the contact; for example Mr. or Ms. This field is active only
          when Contact Type = Individual.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      serviceProviderCode:
        description: The unique agency identifier.
        type: string
      state:
        type: object
        description: The state corresponding to the address on record.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      suffix:
        description: The licensed professional's name suffix.
        type: string
      title:
        description: The individual's professional title.
        type: string
  ownerSearchModel:
    type: object
    properties:
      address:
        $ref: '#/definitions/ownerSearchAddressModel'
      addressObject:
        $ref: '#/definitions/ownerSearchAddressModel'
      email:
        description: The contact's email address.
        type: string
      firstName:
        description: The contact's first name. This field is only active when the Contact Type selected is Individual.
        type: string
      fullName:
        description: The contact's full name. This field is only active when the Contact Type selected is Individual.
        type: string
      lastName:
        description: The contact's last name.
        type: string
      mailAddress:
        $ref: '#/definitions/ownerSearchAddressModel'
      mailAddressObject:
        $ref: '#/definitions/ownerSearchAddressModel'
      parcelId:
        description: The unique Id generated for a parcel.
        type: string
      status:
        type: object
        description: The owner status.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
  response_ownerModelArray:
    type: object
    properties:
      result:
        items:
          $ref: '#/definitions/ownerModel'
        type: array
      status:
        type: integer
        description: The HTTP return status.
  ownerModel:
    type: object
    properties:
      address:
        $ref: '#/definitions/ownerAddressModel'
      email:
        description: The contact's email address.
        type: string
      fax:
        description: The fax number for the contact.
        type: string
      firstName:
        description: The contact's first name. This field is only active when the Contact Type selected is Individual.
        type: string
      fullName:
        description: The contact's full name. This field is only active when the Contact Type selected is Individual.
        type: string
      id:
        description: The owner system id assigned by the Civic Platform server.
        format: int64
        type: integer
      isPrimary:
        description: Indicates whether or not to designate the owner as the primary owner.
        type: string
      lastName:
        description: The last name (surname).
        type: string
      mailAddress:
        $ref: '#/definitions/ownerAddressModel'
      middleName:
        description: The contact's middle name.
        type: string
      parcelId:
        description: The unique Id generated for a parcel.
        type: string
      phone:
        description: The telephone number of the owner.
        type: string
      phoneCountryCode:
        description: The country code for the assoicated phone number.
        type: string
      recordId:
        $ref: '#/definitions/recordIdModel'
      status:
        type: object
        description: The owner status.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      structureName:
        description: The name of the full or partial structure or establishment.
        type: string
      structureType:
        description: The type of structure or establishment
        type: string
      taxId:
        description: The owner's tax ID number.
        type: string
      title:
        description: The individual's business title.
        type: string
  inspectionParcelModel:
    type: object
    properties:
      block:
        description: The block number associated with the parcel.
        type: string
      lot:
        description: The lot name.
        type: string
      parcelNumber:
        description: The alpha-numeric parcel number.
        type: string
      range:
        description: When land is surveyed using the rectangular-survey system, range represents the measure of units east
          and west of the base line.
        type: string
      section:
        description: A piece of a township measuring 640 acres, one square mile, numbered with reference to the base line
          and meridian line.
        format: int64
        type: integer
      subdivision:
        type: object
        description: The name of the subdivision.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      township:
        description: When land is surveyed using the rectangular-survey system, township represents the measure of units North
          or South of the base line. Townships typically measure 6 miles to a side, or 36 square miles.
        type: string
      tract:
        description: The name of the tract associated with this application. A tract may contain one or more related parcels.
        type: string
  response_parcelModelArray:
    type: object
    properties:
      result:
        items:
          $ref: '#/definitions/parcelModelWithCustomForms'
        type: array
      status:
        type: integer
        description: The HTTP return status.
  parcelModel:
    type: object
    properties:
      addresses:
        items:
          $ref: '#/definitions/addressModel'
        type: array
      block:
        description: The block number associated with the parcel.
        type: string
      book:
        description: A reference to the physical location of parcel information in the County Assessor's office.
        type: string
      censusTract:
        description: The unique number assigned by the Census Bureau that identifies the tract to which this parcel belongs.
        type: string
      councilDistrict:
        description: The council district to which the parcel belongs.
        type: string
      exemptionValue:
        description: The total value of any tax exemptions that apply to the land within the parcel.
        format: double
        type: number
      gisSequenceNumber:
        description: The GIS object ID of the parcel.
        format: int64
        type: integer
      id:
        description: The system id of the parcel assigned by the Civic Platform server.
        type: string
      improvedValue:
        description: The total value of any improvements to the land within the parcel.
        format: double
        type: number
      isPrimary:
        description: Indicates whether or not to designate the parcel as the primary parcel.
        type: string
      landValue:
        description: The total value of the land within the parcel.
        format: double
        type: number
      legalDescription:
        description: The legal description of the parcel.
        type: string
      lot:
        description: The lot name.
        type: string
      mapNumber:
        description: The unique map number that identifies the map for this parcel.
        type: string
      mapReferenceInfo:
        description: The map reference for this parcel.
        type: string
      owners:
        items:
          $ref: '#/definitions/ownerModel'
        type: array
      page:
        description: A reference to the physical location of the parcel information in the records of the County Assessor
          (or other responsible department).
        type: string
      parcel:
        description: The official parcel name or number, as determined by the county assessor or other responsible department.
        type: string
      parcelArea:
        description: The total area of the parcel. Your agency determines the standard unit of measure.
        format: double
        type: number
      parcelNumber:
        description: The alpha-numeric parcel number.
        type: string
      planArea:
        description: The total area of the parcel. Your agency determines the standard unit of measure.
        type: string
      range:
        description: When land is surveyed using the rectangular-survey system, range represents the measure of units east
          and west of the base line.
        type: string
      section:
        description: A piece of a township measuring 640 acres, one square mile, numbered with reference to the base line
          and meridian line.
        format: int64
        type: integer
      status:
        type: object
        description: The parcel status.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      subdivision:
        type: object
        description: The name of the subdivision.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      supervisorDistrict:
        description: The supervisor district to which the parcel belongs.
        type: string
      township:
        description: When land is surveyed using the rectangular-survey system, township represents the measure of units North
          or South of the base line. Townships typically measure 6 miles to a side, or 36 square miles.
        type: string
      tract:
        description: The name of the tract associated with this application. A tract may contain one or more related parcels.
        type: string
  parcelModelWithCustomForms:
    type: object
    properties:
      addresses:
        items:
          $ref: '#/definitions/addressModel'
        type: array
      block:
        description: The block number associated with the parcel.
        type: string
      book:
        description: A reference to the physical location of parcel information in the County Assessor's office.
        type: string
      censusTract:
        description: The unique number assigned by the Census Bureau that identifies the tract to which this parcel belongs.
        type: string
      councilDistrict:
        description: The council district to which the parcel belongs.
        type: string
      customForms:
        items:
          $ref: '#/definitions/customAttributeModel'
        type: array
      exemptionValue:
        description: The total value of any tax exemptions that apply to the land within the parcel.
        format: double
        type: number
      gisSequenceNumber:
        description: The GIS object ID of the parcel.
        format: int64
        type: integer
      id:
        description: The system id of the parcel assigned by the Civic Platform server.
        type: string
      improvedValue:
        description: The total value of any improvements to the land within the parcel.
        format: double
        type: number
      isPrimary:
        description: Indicates whether or not to designate the parcel as the primary parcel.
        type: string
      landValue:
        description: The total value of the land within the parcel.
        format: double
        type: number
      legalDescription:
        description: The legal description of the parcel.
        type: string
      lot:
        description: The lot name.
        type: string
      mapNumber:
        description: The unique map number that identifies the map for this parcel.
        type: string
      mapReferenceInfo:
        description: The map reference for this parcel.
        type: string
      owners:
        items:
          $ref: '#/definitions/ownerModel'
        type: array
      page:
        description: A reference to the physical location of the parcel information in the records of the County Assessor
          (or other responsible department).
        type: string
      parcel:
        description: The official parcel name or number, as determined by the county assessor or other responsible department.
        type: string
      parcelArea:
        description: The total area of the parcel. Your agency determines the standard unit of measure.
        format: double
        type: number
      parcelNumber:
        description: The alpha-numeric parcel number.
        type: string
      planArea:
        description: The total area of the parcel. Your agency determines the standard unit of measure.
        type: string
      range:
        description: When land is surveyed using the rectangular-survey system, range represents the measure of units east
          and west of the base line.
        type: string
      section:
        description: A piece of a township measuring 640 acres, one square mile, numbered with reference to the base line
          and meridian line.
        format: int64
        type: integer
      status:
        type: object
        description: The parcel status.
        properties:
          text:
            description: The localized display value.
            type: string
          value:
            description: The data value.
            type: string
      subdivision:
        type: object
        description: The name of the subdivision.
        properties:
          text:
            description: The localized display value.
            type: string
[...]
