openapi: 3.2.0
info:
  description: The Settings API provides configuration values that have been defined in Civic Platform Administration, typically as standard choice values. The Settings APIs are helpful when you need reference or custom-configured values in your API calls.
  title: Settings/Assets API
  version: v4
servers:
- url: https://apis.accela.com/
tags:
- name: Settings/Assets
paths:
  /v4/settings/assets/groups:
    get:
      description: 'Get all configured asset groups.


        **API Endpoint**: GET /v4/settings/assets/groups


        **Scope**: assets


        **App Type**: Agency


        **Authorization Type**: No authorization required


        **Civic Platform version**: 9.0.0'
      summary: Get All Asset Groups
      operationId: v4.get.settings.assets.groups
      tags:
      - Settings/Assets
      parameters:
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_settingValueModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/settings/assets/sizeUnits:
    get:
      description: 'Gets all configured asset size units.


        **API Endpoint**: GET /v4/settings/assets/sizeUnits


        **Scope**: assets


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 9.0.0'
      summary: Get All Asset Size Units
      operationId: v4.get.settings.assets.sizeUnits
      tags:
      - Settings/Assets
      parameters:
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_settingValueModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/settings/assets/statuses:
    get:
      description: 'Gets all configured asset statuses.


        **API Endpoint**: GET /v4/settings/assets/statuses


        **Scope**: assets


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 9.0.0'
      summary: Get All Asset Statuses
      operationId: v4.get.settings.assets.statuses
      tags:
      - Settings/Assets
      parameters:
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_settingValueModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
components:
  parameters:
    lang:
      description: Language parameter to support I18N. Default language is en_US.
      in: query
      name: lang
      required: false
      schema:
        type: string
    fields:
      description: Comma-delimited names of fields to be returned in the response. Note - Field names are case-sensitive and only first-level fields are supported. Invalid field names are ignored.
      in: query
      name: fields
      required: false
      schema:
        type: string
  schemas:
    settingValueModelAddressTypes:
      type: object
      properties:
        text:
          description: The setting label.
          type: string
        value:
          description: The setting value.
          type: string
        required:
          description: Indicates whether or not it is required for an address type.
          type: boolean
    settingValueModel:
      type: object
      properties:
        text:
          description: The setting label.
          type: string
        value:
          description: The setting value.
          type: string
        addressTypes:
          items:
            $ref: '#/components/schemas/settingValueModelAddressTypes'
          type: array
    response_settingValueModelArray:
      type: object
      properties:
        result:
          description: Contains the settings.
          items:
            $ref: '#/components/schemas/settingValueModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
x-api-evangelist-provenance:
  generated: '2026-09-06'
  method: searched
  source: https://developer.accela.com/api/v4/v4-settings.json
  note: Harvested verbatim from the Accela Developer Portal API Reference, which renders these Swagger 2.0 documents via ReDoc (spec-url on developer.accela.com/docs/api_reference/api-*.html). The byte-identical original is kept at openapi/_original/. This copy is the same document serialized to YAML.
