openapi: 3.2.0
info:
  description: The Settings API provides configuration values that have been defined in Civic Platform Administration, typically as standard choice values. The Settings APIs are helpful when you need reference or custom-configured values in your API calls.
  title: Settings/Contacts API
  version: v4
servers:
- url: https://apis.accela.com/
tags:
- name: Settings/Contacts
paths:
  /v4/settings/contacts/preferredChannels:
    get:
      description: 'Gets the preferred channels for use with a contact.


        **API Endpoint**: GET /v4/settings/contacts/preferredChannels


        **Scope**: contacts


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Get All Contact Preferred Channels
      operationId: v4.get.settings.contacts.preferredChannels
      tags:
      - Settings/Contacts
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_settingValueModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/settings/contacts/races:
    get:
      description: 'Gets the races for use with a contact.


        **API Endpoint**: GET /v4/settings/contacts/races


        **Scope**: contacts


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Get All Contact Races
      operationId: v4.get.settings.contacts.races
      tags:
      - Settings/Contacts
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_settingValueModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/settings/contacts/relations:
    get:
      description: 'Gets the relations for use with a contact.


        **API Endpoint**: GET /v4/settings/contacts/relations


        **Scope**: contacts


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Get All Contact Relations
      operationId: v4.get.settings.contacts.relations
      tags:
      - Settings/Contacts
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_settingValueModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/settings/contacts/salutations:
    get:
      description: 'Gets the salutations for use with a contact.


        **API Endpoint**: GET /v4/settings/contacts/salutations


        **Scope**: contacts


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Get All Contact Salutations
      operationId: v4.get.settings.contacts.salutations
      tags:
      - Settings/Contacts
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_settingValueModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/settings/contacts/types:
    get:
      description: 'Gets the contact types for use with a contact.


        **API Endpoint**: GET /v4/settings/contacts/types


        **Scope**: contacts


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Get All Contact Types
      operationId: v4.get.settings.contacts.types
      tags:
      - Settings/Contacts
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: Moudle Name
        in: query
        name: module
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/lang'
      - description: Flag to expand the reponse
        in: query
        name: expand
        required: false
        schema:
          type: string
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_settingValueModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/settings/contacts/types/{id}/customForms:
    get:
      description: 'Get the metadata of all custom forms for the specified contact type.


        **API Endpoint**: GET /v4/settings/contacts/types/{id}/customForms


        **Scope**: settings


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Get All Custom Forms Metadata for Contact Type
      operationId: v4.get.settings.contacts.types.id.customForms
      tags:
      - Settings/Contacts
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: The ID of the contact type to fetch.
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_customFormMetadataModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/settings/contacts/types/{id}/customTables:
    get:
      description: 'Gets the metadata for all custom tables for the specified contact type.


        **API Endpoint**: GET /v4/settings/contacts/types/{id}/customTables


        **Scope**: settings


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 8.0.3'
      summary: Get All Custom Tables Metadata for Contact Type
      operationId: v4.get.settings.contacts.types.id.customTables
      tags:
      - Settings/Contacts
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: The ID of the contact type to fetch.
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_customTableMetadataModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
components:
  parameters:
    lang:
      description: Language parameter to support I18N. Default language is en_US.
      in: query
      name: lang
      required: false
      schema:
        type: string
    fields:
      description: Comma-delimited names of fields to be returned in the response. Note - Field names are case-sensitive and only first-level fields are supported. Invalid field names are ignored.
      in: query
      name: fields
      required: false
      schema:
        type: string
    authHeaderParam:
      description: Construct oAuth2 authentication token
      in: header
      name: Authorization
      required: true
      schema:
        type: string
  schemas:
    customTableMetadataModel:
      description: Contains the metadata for a custom table.
      type: object
      properties:
        displayOrder:
          description: The custom table's display order.
          format: int64
          type: integer
        fields:
          items:
            $ref: '#/components/schemas/customFormField'
          type: array
        id:
          description: The custom table id.
          type: string
        text:
          description: The custom table name.
          type: string
    settingValueModelAddressTypes:
      type: object
      properties:
        text:
          description: The setting label.
          type: string
        value:
          description: The setting value.
          type: string
        required:
          description: Indicates whether or not it is required for an address type.
          type: boolean
    childDrill:
      type: object
      properties:
        drillId:
          description: The ID of the drilldown child record.
          format: int64
          type: integer
        id:
          description: The ID of the current record.
          type: string
    customFormField:
      type: object
      properties:
        displayOrder:
          description: ''
          format: int64
          type: integer
        drillDown:
          $ref: '#/components/schemas/aSITableDrill'
        fieldType:
          description: The custom field data type.
          type: string
        id:
          description: The custom field system id assigned by the Civic Platform server.
          type: string
        isReadonly:
          description: Indicates whether or not the custom field is read-only.
          enum:
          - Y
          - N
          type: string
        isRequired:
          description: Indicates whether or not the custom field is required.
          enum:
          - Y
          - N
          type: string
        maxLength:
          description: The custom field length
          format: int64
          type: integer
        options:
          items:
            type: object
            description: Contains dropdown option values.
            properties:
              text:
                description: The localized display value.
                type: string
              value:
                description: The data value.
                type: string
          type: array
        text:
          description: The custom field localized text.
          type: string
        value:
          description: The custom field stored value.
          type: string
    customFormMetadataModel:
      description: Contains the metadata for a custom form.
      type: object
      properties:
        displayOrder:
          description: The custom form's display order.
          format: int64
          type: integer
        fields:
          items:
            $ref: '#/components/schemas/customFormField'
          type: array
        id:
          description: The custom form id.
          type: string
        text:
          description: The custom form name.
          type: string
    response_settingValueModelArray:
      type: object
      properties:
        result:
          description: Contains the settings.
          items:
            $ref: '#/components/schemas/settingValueModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    settingValueModel:
      type: object
      properties:
        text:
          description: The setting label.
          type: string
        value:
          description: The setting value.
          type: string
        addressTypes:
          items:
            $ref: '#/components/schemas/settingValueModelAddressTypes'
          type: array
    response_customTableMetadataModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/customTableMetadataModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    response_customFormMetadataModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/customFormMetadataModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    aSITableDrill:
      description: Contains drilldown field information.
      type: object
      properties:
        children:
          items:
            $ref: '#/components/schemas/childDrill'
          type: array
        isRoot:
          type: boolean
x-api-evangelist-provenance:
  generated: '2026-09-06'
  method: searched
  source: https://developer.accela.com/api/v4/v4-settings.json
  note: Harvested verbatim from the Accela Developer Portal API Reference, which renders these Swagger 2.0 documents via ReDoc (spec-url on developer.accela.com/docs/api_reference/api-*.html). The byte-identical original is kept at openapi/_original/. This copy is the same document serialized to YAML.
