openapi: 3.2.0
info:
  description: Accela API for transactional records and related record resources
  title: Records/Comments API
  version: v4
servers:
- url: https://apis.accela.com/
tags:
- name: Records/Comments
  description: A staff user can add comments regarding the record, or can choose from standard comments that have been configured for the agency.
paths:
  /v4/records/{recordId}/comments:
    get:
      description: 'Gets comments associated to a record.


        **API Endpoint**: GET /v4/records/{recordId}/comments


        **Scope**: records


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Get All Comments for Record
      operationId: v4.get.records.recordId.comments
      tags:
      - Records/Comments
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_recordCommentModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
    post:
      description: 'Add comments to a record.


        **API Endpoint**: POST /v4/records/{recordId}/comments


        **Scope**: records


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Add Comments to a Record
      operationId: v4.post.records.recordId.comments
      tags:
      - Records/Comments
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/recordId'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/commentModel'
              type: array
        description: Record comments to be added.
  /v4/records/{recordId}/comments/{id}:
    put:
      description: 'Update a record comment.


        **API Endpoint**: PUT /v4/records/{recordId}/comments/{id}


        **Scope**: records


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Update Record Comment
      operationId: v4.put.records.recordId.comments.id
      tags:
      - Records/Comments
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/recordId'
      - description: The ID of the comment to update.
        in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_recordCommentModel'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commentModel'
        description: Comments to be updated.
  /v4/records/{recordId}/comments/{ids}:
    delete:
      tags:
      - Records/Comments
      summary: Delete Record Comments
      description: 'Deletes the specified comment(s) for the specified record.


        **API Endpoint**: DELETE /v4/records/{recordId}/comments/{idS}


        **Scope**:


        **API Endpoint**:


        **Scope**: addresses


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      operationId: v4.delete.records.recordId.comments.ids
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/recordId'
      - description: Comma-delimited IDs of the record comments to be deleted.
        in: path
        name: ids
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
components:
  parameters:
    lang:
      description: Language parameter to support I18N. Default language is en_US.
      in: query
      name: lang
      required: false
      schema:
        type: string
    recordId:
      description: The ID of the record to fetch. See [Get All Records](./api-records.html#operation/v4.get.records), [Search Records](./api-search.html#operation/v4.post.search.records), or [Get My Records](./api-records.html#operation/v4.get.records.mine).
      in: path
      name: recordId
      required: true
      schema:
        type: string
    fields:
      description: Comma-delimited names of fields to be returned in the response. Note - Field names are case-sensitive and only first-level fields are supported. Invalid field names are ignored.
      in: query
      name: fields
      required: false
      schema:
        type: string
    authHeaderParam:
      description: Construct oAuth2 authentication token
      in: header
      name: Authorization
      required: true
      schema:
        type: string
  schemas:
    recordCommentModel:
      type: object
      properties:
        createdBy:
          description: The user who added the record comment.
          type: string
        createdDate:
          description: The date when the record comment was added.
          format: date-time
          type: string
        displayOnInspection:
          description: Indicates whether or not the comment is displayed on inspection.
          enum:
          - Y
          - N
          type: string
        id:
          description: The comment system id assigned by the Civic Platform server.
          format: int64
          type: integer
        recordId:
          $ref: '#/components/schemas/recordIdModel'
        text:
          description: The comment text.
          type: string
    commentModel:
      type: object
      properties:
        displayOnInspection:
          description: Indicates whether or not the comment is displayed on inspection.
          enum:
          - Y
          - N
          type: string
        text:
          description: The comment text.
          type: string
    response_resultModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/resultModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    recordIdModel:
      type: object
      properties:
        customId:
          description: An ID based on a different numbering convention from the numbering convention used by the record ID (xxxxx-xx-xxxxx). Accela Automation auto-generates and applies an alternate ID value when you submit a new application.
          type: string
        id:
          description: The record system id assigned by the Civic Platform server.
          type: string
        serviceProviderCode:
          description: The unique agency identifier.
          type: string
        trackingId:
          description: The application tracking number (IVR tracking number).
          format: int64
          type: integer
        value:
          description: The alphanumeric record id.
          type: string
    resultModel:
      type: object
      properties:
        code:
          description: The error code, if an error is encountered.
          type: string
        id:
          description: The system id of the object in this operation.
          format: int64
          type: integer
        isSuccess:
          description: Indicates whether or not the operation on the object is successful.
          type: boolean
        message:
          description: The error message, if an error is encountered
          type: string
    response_recordCommentModel:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/recordCommentModel'
        status:
          type: integer
          description: The HTTP return status.
    response_recordCommentModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/recordCommentModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
x-api-evangelist-provenance:
  generated: '2026-09-06'
  method: searched
  source: https://developer.accela.com/api/v4/v4-records.json
  note: Harvested verbatim from the Accela Developer Portal API Reference, which renders these Swagger 2.0 documents via ReDoc (spec-url on developer.accela.com/docs/api_reference/api-*.html). The byte-identical original is kept at openapi/_original/. This copy is the same document serialized to YAML.
