openapi: 3.2.0
info:
  description: Accela API for transactional records and related record resources
  title: Records/Inspections API
  version: v4
servers:
- url: https://apis.accela.com/
tags:
- name: Records/Inspections
paths:
  /v4/records/{recordId}/inspections:
    get:
      description: 'Gets the scheduled inspections for the specified record.


        Note: For a citizen token, the Display in ACA setting of the given {recordId} determines whether or not an inspection is returned. If Display in ACA is enabled for the given {recordId}, the inspection is included in the response; otherwise, the inspection will not be included. For an agency token, the Display in ACA setting of the given {recordId} is ignored.


        **API Endpoint**: GET /v4/records/{recordId}/inspections


        **Scope**: records


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Get All Inspections for Record
      operationId: v4.get.records.recordId.inspections
      tags:
      - Records/Inspections
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/recordId'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_inspectionModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/records/{recordIds}/inspectionTypes:
    get:
      description: 'Gets the inspection types associated with the specified record(s).


        **API Endpoint**: GET /v4/records/{recordIds}/inspectionTypes


        **Scope**: records


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Get All Inspection Types for Record
      operationId: v4.get.records.recordIds.inspectionTypes
      tags:
      - Records/Inspections
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: Comma-delimited IDs of the records to fetch.
        in: path
        name: recordIds
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_recordInspectionTypeModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
components:
  schemas:
    inspectionTypeAssociationsModel:
      type: object
      properties:
        standardCommentGroup:
          type: object
          description: The name of the standard comment group associated with the inspection type.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
    response_inspectionModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/inspectionModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    recordTypeNoAliasModel:
      type: object
      properties:
        category:
          description: The 4th level in a 4-level record type structure (Group-Type-Subtype-Category).
          type: string
        filterName:
          description: The name of the record type filter which defines the record types to be displayed for the citizen user.
          type: string
        group:
          description: The 1st level in a 4-level record type structure (Group-Type-Subtype-Category).
          type: string
        id:
          description: The record type system id assigned by the Civic Platform server.
          type: string
        module:
          description: Use to filter by the module. See [Get All Modules](./api-settings.html#operation/v4.get.settings.modules).
          type: string
        subType:
          description: The 3rd level in a 4-level record type structure (Group-Type-Subtype-Category).
          type: string
        text:
          description: The record type display text
          type: string
        type:
          description: The 2nd level in a 4-level record type structure (Group-Type-Subtype-Category).
          type: string
        value:
          description: The record type value.
          type: string
    simpleRecordModel:
      type: object
      properties:
        actualProductionUnit:
          description: Estimated cost per production unit.
          format: double
          type: number
        appearanceDate:
          description: The date for a hearing appearance.
          format: date-time
          type: string
        appearanceDayOfWeek:
          description: The day for a hearing appearance.
          type: string
        assignedDate:
          description: The date the application was assigned.
          format: date-time
          type: string
        assignedToDepartment:
          description: The department responsible for the action. See [Get All Departments](./api-settings.html#operation/v4.get.settings.departments).
          type: string
        assignedUser:
          description: The staff member responsible for the action.
          type: string
        balance:
          description: The amount due.
          format: double
          type: number
        booking:
          description: Indicates whether or not there was a booking in addition to a citation.
          type: boolean
        closedByDepartment:
          description: The department responsible for closing the record. See [Get All Departments](./api-settings.html#operation/v4.get.settings.departments).
          type: string
        closedByUser:
          description: The staff member responsible for closure.
          type: string
        closedDate:
          description: The date the application was closed.
          format: date-time
          type: string
        completeDate:
          description: The date the application was completed.
          format: date-time
          type: string
        completedByDepartment:
          description: The department responsible for completion. See [Get All Departments](./api-settings.html#operation/v4.get.settings.departments).
          type: string
        completedByUser:
          description: The staff member responsible for completion.
          type: string
        constructionType:
          type: object
          description: The US Census Bureau construction type code. See [Get All Record Construction Types](./api-settings.html#operation/v4.get.settings.records.constructionTypes).
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        costPerUnit:
          description: The cost for one unit associated to the record.
          format: double
          type: number
        createdBy:
          description: The unique user id of the individual that created the entry.
          type: string
        createdByCloning:
          description: Indictes whether or not the record was cloned.
          enum:
          - Y
          - N
          type: string
        customId:
          description: An ID based on a different numbering convention from the numbering convention used by the record ID (xxxxx-xx-xxxxx). Civic Platform auto-generates and applies an alternate ID value when you submit a new application.
          type: string
        defendantSignature:
          description: Indicates whether or not a defendant's signature has been obtained.
          type: boolean
        description:
          description: The description of the record or item.
          type: string
        enforceDepartment:
          description: The name of the department responsible for enforcement. See [Get All Departments](./api-settings.html#operation/v4.get.settings.departments).
          type: string
        enforceUser:
          description: Name of the enforcement officer.
          type: string
        enforceUserId:
          description: ID number of the enforcement officer.
          type: string
        estimatedCostPerUnit:
          description: The estimated cost per unit.
          format: double
          type: number
        estimatedDueDate:
          description: The estimated date of completion.
          format: date-time
          type: string
        estimatedProductionUnit:
          description: The estimated number of production units.
          format: double
          type: number
        estimatedTotalJobCost:
          description: The estimated cost of the job.
          format: double
          type: number
        firstIssuedDate:
          description: The first issued date for license
          format: date-time
          type: string
        housingUnits:
          description: The number of housing units.
          format: int64
          type: integer
        id:
          description: The record system id assigned by the Civic Platform server.
          type: string
        inPossessionTime:
          description: The application level in possession time of the time tracking feature.
          format: double
          type: number
        infraction:
          description: Indicates whether or not an infraction occurred.
          type: boolean
        initiatedProduct:
          description: 'The Civic Platform product  where the application is submitted: "AA" : Classic Accela Automation. "ACA" : Accela Citizen Access. "AIVR" : Accela Integrated Voice Response. "AMO" : Accela Mobile Office. "AV360" : Accela Asset Management, Accela Land Management.'
          type: string
        inspectorDepartment:
          description: The name of the department where the inspector works. See [Get All Departments](./api-settings.html#operation/v4.get.settings.departments).
          type: string
        inspectorId:
          description: The ID number of the inspector. See [Get All Inspectors](./api-inspections.html#operation/v4.get.inspectors).
          type: string
        inspectorName:
          description: The name of the inspector. See [Get All Inspectors](./api-inspections.html#operation/v4.get.inspectors).
          type: string
        jobValue:
          description: The value of the job.
          format: double
          type: number
        misdemeanor:
          description: Indicates whether or not a misdemeanor occurred.
          type: boolean
        module:
          description: The module the record belongs to. See [Get All Modules](./api-settings.html#operation/v4.get.settings.modules).
          type: string
        name:
          description: The name associated to the record.
          type: string
        numberOfBuildings:
          description: The number of buildings.
          format: int64
          type: integer
        offenseWitnessed:
          description: Indicates whether or not  there was a witness to the alleged offense.
          type: boolean
        openedDate:
          description: The date the application was opened.
          format: date-time
          type: string
        overallApplicationTime:
          description: The amount of elapsed time from the time tracking start date to the completion of the application.
          format: double
          type: number
        priority:
          type: object
          description: The priority level assigned to the record. See [Get All Priorities](./api-settings.html#operation/v4.get.settings.priorities).
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        publicOwned:
          description: Indicates whether or not the record is for the public.
          type: boolean
        recordClass:
          description: General information about the record.
          type: string
        renewalInfo:
          $ref: '#/components/schemas/recordExpirationModel'
        reportedChannel:
          type: object
          description: The incoming channel through which the applicant submitted the application.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        reportedDate:
          description: The date the complaint was reported.
          format: date-time
          type: string
        reportedType:
          type: object
          description: The type of complaint or incident being reported.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        scheduledDate:
          description: The date when the inspection gets scheduled.
          format: date-time
          type: string
        serviceProviderCode:
          description: The unique agency identifier,
          type: string
        severity:
          type: object
          description: Indicates the severity of the condition.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        shortNotes:
          description: A brief note about the record subject.
          type: string
        status:
          type: object
          description: The record status.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        statusDate:
          description: "The date when the current status changed.\t"
          format: date-time
          type: string
        statusReason:
          type: object
          description: "\tThe reason for the status setting on the record."
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        totalFee:
          description: The total amount of the fees invoiced to the record.
          format: double
          type: number
        totalJobCost:
          description: The combination of work order assignments (labor) and costs.
          format: double
          type: number
        totalPay:
          description: The total amount of pay.
          format: double
          type: number
        trackingId:
          description: The application tracking number (IVR tracking number).
          format: int64
          type: integer
        type:
          $ref: '#/components/schemas/recordTypeModel'
        undistributedCost:
          description: The undistributed costs for this work order.
          format: double
          type: number
        value:
          description: The record value.
          type: string
    rGuideSheetGroupModel:
      type: object
      properties:
        id:
          description: The inspection checklist sytem id assigned by the Civic Platform server.
          type: string
        text:
          description: The localized display text.
          type: string
        value:
          description: The stored value.
          type: string
    identifierModel:
      type: object
      properties:
        text:
          type: string
        value:
          type: string
    recordInspectionTypeModel:
      type: object
      properties:
        inspectionTypes:
          items:
            $ref: '#/components/schemas/inspectionTypeModel'
          type: array
        recordId:
          description: The unique ID associated with a record.
          type: string
    response_recordInspectionTypeModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/recordInspectionTypeModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    recordIdModel:
      type: object
      properties:
        customId:
          description: An ID based on a different numbering convention from the numbering convention used by the record ID (xxxxx-xx-xxxxx). Accela Automation auto-generates and applies an alternate ID value when you submit a new application.
          type: string
        id:
          description: The record system id assigned by the Civic Platform server.
          type: string
        serviceProviderCode:
          description: The unique agency identifier.
          type: string
        trackingId:
          description: The application tracking number (IVR tracking number).
          format: int64
          type: integer
        value:
          description: The alphanumeric record id.
          type: string
    inspectionTypeSimpleModel:
      type: object
      properties:
        group:
          type: string
        id:
          format: int64
          type: integer
        ivrNumber:
          format: int64
          type: integer
          description: "The IVR (Interactive Voice Response) number assigned to the inspection type. \n\nAdded in Civic Platform 9.3.0"
        text:
          type: string
        value:
          type: string
    departmentModel:
      type: object
      properties:
        agency:
          description: The department agency
          type: string
        bureau:
          description: The name of the bureau, which is an organization level within an agency.
          type: string
        division:
          description: The name of the division, which is an organization level within a bureau.
          type: string
        group:
          description: The department group.
          type: string
        id:
          description: The department system id assigned by the Civic Platform server.
          type: string
        office:
          description: An organization level within a group. An office is the final level within an organization structure. Agency->Bureau->Division->Section->Group->Office.
          type: string
        section:
          description: A piece of a township measuring 640 acres, one square mile, numbered with reference to the base line and meridian line.
          type: string
        serviceProviderCode:
          description: The unique agency identifier.
          type: string
        text:
          description: The localized display text.
          type: string
        value:
          description: The value for the specified parameter.
          type: string
    recordAddressModel:
      type: object
      properties:
        addressLine1:
          type: string
          description: The first line of the address.
        addressLine2:
          type: string
          description: The second line of the address.
        addressTypeFlag:
          type: object
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
          description: A code name or an abbreviation of the address type.
        city:
          type: string
          description: The name of the city.
        country:
          type: object
          description: The name of the country. See [Get All Address Countries](./api-settings.html#operation/v4.get.settings.addresses.countries).
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        crossStreetNameStart:
          type: string
          description: 'The beginning intersecting street name for searching.


            Added in Civic Platform version: 9.2.0

            '
        crossStreetNameEnd:
          type: string
          description: 'The ending intersecting street name for searching.


            Added in Civic Platform version: 9.2.0

            '
        county:
          type: string
          description: The name of the county.
        description:
          type: string
          description: A description of the address.
        direction:
          description: The street direction of the primary address associated with the application.
          type: object
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        distance:
          type: number
          format: double
          description: The distance from another landmark used to locate the address.
        houseAlphaStart:
          type: string
          description: The beginning alphabetic unit in street address.
        houseAlphaEnd:
          type: string
          description: The ending alphabetic unit in street address.
        houseFractionStart:
          type: object
          description: Beginning fraction value used in combination with the Street number fields.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        houseFractionEnd:
          type: object
          description: Ending franction value used in combination with the Street number fields.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        id:
          format: int64
          type: integer
          description: The unique address id assigned by the Civic Platform server.
        inspectionDistrict:
          type: string
          description: The inspection district where the address is located.
        inspectionDistrictPrefix:
          type: string
          description: The prefix for the inspection district where the address is located.
        isPrimary:
          type: string
          description: Indicates whether or not to designate the address as the primary address. Only one address can be primary at any given time.
        levelEnd:
          type: string
          description: The ending level number (floor number) that makes up the address within a complex.
        levelPrefix:
          type: string
          description: The prefix for the level numbers (floor numbers) that make up the address.
        levelStart:
          type: string
          description: The starting level number (floor number) that makes up the address within a complex.
        locationType:
          type: string
          description: 'The type of location used for Right of Way Management. The valid values are configured with the LOCATION_TYPE standard choice in Civic Platform Administration.


            Added in Civic Platform version: 9.2.0

            '
        neighborhood:
          type: string
          description: The neighborhood where the address is located.
        neighborhoodPrefix:
          type: string
          description: The prefix for neighborhood where the address is located.
        postalCode:
          type: string
          description: The postal ZIP code for the address.
        recordId:
          $ref: '#/components/schemas/recordIdModel'
        refAddressId:
          description: The reference address id.
          format: int64
          type: integer
        secondaryStreet:
          type: string
          description: This field (along with the Secondary Road Number field) displays an extra description for the location when two roads that cross or a street with two names makes up the address of the location.
        secondaryStreetNumber:
          type: number
          format: long
          description: This field (along with the Secondary Road field) displays an extra description for the location when two roads that cross or a street with two names makes up the address of the location.
        serviceProviderCode:
          description: The unique agency identifier.
          type: string
        state:
          type: object
          description: The name of the state.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        status:
          type: object
          description: The address status indicating whether the address is active or inactive.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        streetAddress:
          type: string
          description: The street address.
        streetEnd:
          type: number
          format: long
          description: The ending number of a street address range.
        streetEndFrom:
          description: The beginning number of a street end address range.
          format: int64
          type: integer
        streetEndTo:
          description: The ending number of a street end address range.
          format: int64
          type: integer
        streetName:
          type: string
          description: The name of the street.
        streetNameStart:
          type: string
          description: 'The beginning street name for searching.


            Added in Civic Platform version: 9.2.0

            '
        streetNameEnd:
          type: string
          description: 'The ending street name for searching.


            Added in Civic Platform version: 9.2.0

            '
        streetPrefix:
          type: string
          description: Any part of an address that appears before a street name or number. For example, if the address is 123 West Main, "West" is the street prefix.
        streetStart:
          type: number
          format: long
          description: The starting number of a street address range.
        streetStartFrom:
          description: The beginning number of a street start address range.
          format: int64
          type: integer
        streetStartTo:
          description: The ending number of a street start address range.
          format: int64
          type: integer
        streetSuffix:
          type: object
          description: The type of street such as "Lane" or "Boulevard".
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        streetSuffixDirection:
          type: object
          description: The direction appended to the street suffix. For example, if the address is 500 56th Avenue NW, "NW" is the street suffix direction.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        type:
          type: object
          description: The address type.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        unitStart:
          type: string
          description: The starting value of a range of unit numbers.
        unitEnd:
          type: string
          description: The ending value of a range of unit numbers.
        unitType:
          type: object
          description: The unit type designation of the address.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        xCoordinate:
          type: number
          format: double
          description: The longitudinal coordinate for this address.
        yCoordinate:
          type: number
          format: double
          description: The latitudinal coordinate for this address.
    recordExpirationModel:
      type: object
      properties:
        expirationDate:
          description: The date when the condition expires.
          format: date-time
          type: string
        expirationStatus:
          type: object
          description: Indicates whether the expiration is enabled or disabled. See [Get All Record Expiration Statuses](./api-settings.html#operation/v4.get.settings.records.expirationStatuses).
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
    inspectionTypeModel:
      type: object
      properties:
        allowFailChecklistItems:
          description: Indicates whether or not to allow inspection to pass with failed checklist items for the current inspection type or from previous inspections.
          enum:
          - Y
          - N
          type: string
        allowMultiInspections:
          description: Indicates whether or not to allow the scheduling of multiple inspections for this inspection type.
          enum:
          - Y
          - N
          type: string
        associations:
          $ref: '#/components/schemas/inspectionTypeAssociationsModel'
        cancelRestriction:
          $ref: '#/components/schemas/inspectionRestrictionModel'
        carryoverFlag:
          description: "Indicates how failed guidesheet items for an inspection type are carried over to the next inspection guidesheet. \n\nNULL or empty string : Guidesheet items are not carried over. \n\n\"A\" : Automatic carry-over of failed guidesheet items to the next inspection guidesheet item."
          enum:
          - null
          - A
          type: string
        defaultDepartment:
          $ref: '#/components/schemas/departmentModel'
        disciplines:
          description: The inspection disciplines assigned to the inspection type.
          items:
            type: string
          type: array
        flowEnabledFlag:
          description: Indicates whether or not to include the inspection in the inspection flow process.
          enum:
          - Y
          - N
          type: string
        grade:
          description: The name of the inspection grade.
          type: string
        group:
          description: "The name of a group of inspection types.\t"
          type: string
        groupName:
          type: object
          description: The descriptive name associated to an inspection group code.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        guideGroup:
          $ref: '#/components/schemas/rGuideSheetGroupModel'
        hasCancelPermission:
          description: Indicates whether or not the user can reschedule the inspection.
          enum:
          - Y
          - N
          type: string
        hasFlowFlag:
          description: Indicates whether or not to include the inspection in the inspection flow process.
          enum:
          - Y
          - N
          type: string
        hasNextInspectionAdvance:
          description: Indicates whether or not the next inspection can be scheduled in advance.
          enum:
          - Y
          - N
          type: string
        hasReschdulePermission:
          description: Indicates whether or not the user can reschedule the inspection.
          enum:
          - Y
          - N
          type: string
        hasSchdulePermission:
          description: Indicates whether or not the user can schedule the inspection. Note that hasSchdulePermission returns "Y" if result.inspectionTypes.schdulePermission is either "REQUEST_ONLY_PENDING", "REQUEST_SAME_DAY_NEXT_DAY", or "SCHEDULE_USING_CALENDAR". If result.inspectionTypes.schdulePermission is "NONE" or null, hasSchdulePermission returns "N".
          enum:
          - Y
          - N
          type: string
        id:
          description: The inspection type system id assigned by the Civic Platform server.
          format: int64
          type: integer
        inspectionEditable:
          description: Indicates whether or not inspection result, grade or checklist can be edited.
          enum:
          - Y
          - N
          type: string
        isAutoAssign:
          description: Indicates whether or not you want to automatically reschedule the inspection when the previous inspection status attains Approved status.
          enum:
          - Y
          - N
          type: string
        isRequired:
          description: Indicates whether or not the information is required.
          enum:
          - Y
          - N
          type: string
        ivrNumber:
          format: int64
          type: integer
          description: "The IVR (Interactive Voice Response) number assigned to the inspection type. \n\nAdded in Civic Platform 9.3.0"
        maxPoints:
          description: The number of points allowed for an inspection, after which the inspection fails.
          format: double
          type: number
        priority:
          description: The priority level assigned to the inspection type.
          type: string
        publicVisible:
          description: Indicates whether or not Accela Citizen Access users can view comment about the inspection results.
          enum:
          - Y
          - N
          type: string
        refereceNumber:
          description: The reference number associated with an inspection.
          type: string
        rescheduleRestriction:
          $ref: '#/components/schemas/inspectionRestrictionModel'
        resultGroup:
          description: The name of a grouping of Inspection results, usually indicative of a range of inspection scores.
          type: string
        schdulePermission:
          description: "Returns one of the scheduling permissions in Citizen Access: \n\nNONE - Does not allow public users to schedule this inspection type online. \n\nREQUEST_ONLY_PENDING - Only allows public users to request for an inspection online. The agency coordinates the appointment for the inspection date and time. \n\nREQUEST_SAME_DAY_NEXT_DAY - Allows public users to request an inspection for the same day, next day, or next available day, based on the inspection type calendar parameters defined on the inspection type. \n\nSCHEDULE_USING_CALENDAR - Allows public users to schedule inspections based on the availability on the inspection type calendar."
          type: string
        text:
          description: The localized display text.
          type: string
        totalScore:
          description: The overall score of the inspection that includes the inspection result, inspection grade, checklist total score and checklist major violation option.
          format: int64
          type: integer
        totalScoreOption:
          description: "Indicates the method for calculating total scores of checklist items. There are four options:  \n\nTOTAL - Gets the total score of all checklists as the inspection score. \n\nMAX - Gets the max score of all checklists as the inspection score. \n\nMIN - Gets the min score of all checklists as the inspection score. \n\nAVG - Gets the average score of all checklists as the inspection score. \n\nSUBTRACT - Subtracts the total score of all the checklist items from the Total Score defined for the inspection type."
          enum:
          - TOTAL
          - MAX
          - MIN
          - AVG
          - SUBTRACT
          type: string
        unitNumber:
          description: The number of time units (see timeUnitDuration) comprising an inspection.
          type: string
        units:
          description: The amount of time comprising the smallest time unit for conducting an inspection.
          format: double
          type: number
        value:
          description: The value for the specified parameter.
          type: string
    ownerAddressModel:
      type: object
      properties:
        addressLine1:
          type: string
        addressLine2:
          type: string
        addressLine3:
          type: string
        city:
          type: string
        country:
          $ref: '#/components/schemas/identifierModel'
        postalCode:
          type: string
        state:
          $ref: '#/components/schemas/identifierModel'
    recordTypeModel:
      type: object
      properties:
        alias:
          description: The record type alias.
          type: string
        category:
          description: The 4th level in a 4-level record type structure (Group-Type-Subtype-Category).
          type: string
        filterName:
          description: The name of the record type filter which defines the record types to be displayed for the citizen user.
          type: string
        group:
          description: The 1st level in a 4-level record type structure (Group-Type-Subtype-Category).
          type: string
        id:
          description: The record type id.
          type: string
        module:
          description: The module the record type belongs to.
          type: string
        subType:
          description: The 3rd level in a 4-level record type structure (Group-Type-Subtype-Category).
          type: string
        text:
          description: The localized display text.
          type: string
        type:
          description: The 2nd level in a 4-level record type structure (Group-Type-Subtype-Category).
          type: string
        value:
          description: The stored value.
          type: string
    inspectionRestrictionModel:
      type: object
      properties:
        beforeScheduledTime:
          $ref: '#/components/schemas/inspectionBeforeScheduledTime'
    inspectionModel:
      type: object
      properties:
        teamName:
          description: Inspection Team name.
          type: string
        floor:
          description: Inspection Floor.
          type: string
        floorUnit:
          description: Inspection Floor Unit.
          type: string
        address:
          $ref: '#/components/schemas/recordAddressModel'
        billable:
          description: This defines whether or not the item is billable.
          enum:
          - Y
          - N
          type: string
        category:
          description: The inspection category, which is used to organize inspection types. An inspection type is assigned to one or more inspection categories.
          type: string
        commentDisplay:
          description: Indicates whether or not Accela Citizen Access users can view the inspection results comments.
          type: string
        commentPublicVisible:
          description: "Specifies the type of user who can view the inspection result comments. \"All ACA Users\" - Both registered and anonymous Accela Citizen Access users can view the comments for inspection results. \"Record Creator Only\" - the user who created the record can see the comments for the inspection results. \"Record Creator and Licensed Professional\" - The user who created the record and the licensed professional associated with the record can see the comments for the inspection results.\t"
          items:
            type: string
          type: array
        completedAMPM:
          description: Indicates whether completed time is "AM" or "PM".
          type: string
        completedDate:
          description: The date of completion.
          format: date-time
          type: string
        completedTime:
          description: The time of completion.
          type: string
        contact:
          $ref: '#/components/schemas/inspectionContactModel'
        contactFirstName:
          description: The contact's first name. This field is only active when the Contact Type selected is Individual.
          type: string
        contactLastName:
          description: The last name of the contact.
          type: string
        contactMiddleName:
          description: The middle name of the contact.
          type: string
        desiredAMPM:
          description: Indicates whether the desired inspection time is AM or PM.
          type: string
        desiredDate:
          description: The desired inspection date.
          format: date-time
          type: string
        desiredTime:
          description: The desired inspection time.
          type: string
        endMileage:
          description: The ending mileage for the inspection.
          format: float
          type: number
        endTime:
          description: The time the inspection was completed.
          format: date-time
          type: string
        estimatedEndTime:
          description: inspection estimated end time.
          type: string
        estimatedStartTime:
          description: The scheduled start time for the inspection.
          type: string
        gisAreaName:
          description: The GIS Object ID of the parent application if the application that the inspection is scheduled for has a parent application that is a project application.
          type: string
        grade:
          description: The name of the inspection grade.
          type: string
        id:
          description: The inspection system id assigned by the Civic Platform server.
          format: int64
          type: integer
        inspectorFullName:
          description: The name of the inspector performing the assessment.
          type: string
        inspectorId:
          description: The ID number of the inspector. See [Get All Inspectors](./api-inspections.html#operation/v4.get.inspectors).
          type: string
        isAutoAssign:
          description: This defines whether or not you want to automatically reschedule the inspection when the previous inspection status attains Approved status.
          type: string
        latitude:
          description: The angular distance of a place north or south of the earth's equator, usually expressed in degrees and minutes.
          format: float
          type: number
        longitude:
          description: The angular distance of a place east or west of the meridian at Greenwich, England, usually expressed in degrees and minutes.
          format: float
          type: number
        majorViolation:
          description: The number of major violations.
          format: int64
          type: integer
        overtime:
          description: A labor cost factor that indicates time worked beyond a worker's regular working hours.
          type: string
        priority:
          description: The priority level assigned to the inspection.
          format: double
          type: number
        publicVisible:
          description: This defines whether or not Accela Citizen Access users can view comment about the inspection results.
          type: string
        record:
          $ref: '#/components/schemas/simpleRecordModel'
        recordId:
          $ref: '#/components/schemas/recordIdModel'
        recordType:
          $ref: '#/components/schemas/recordTypeNoAliasModel'
        requestAMPM:
          description: The time segment, AM or PM, for the time specified in the requestTime field.
          type: string
        requestComment:
          description: Comments about the new inspection. For example, you may identify who requested the inspection.
          type: string
        requestDate:
          description: The date when an inspection request is submitted.
          format: date-time
          type: string
        requestTime:
          description: This time is automatically generated when a new inspection is scheduled and submitted.
          type: string
        requestorFirstName:
          description: The first name of the person requesting an inspection-related operation.
          type: string
        requestorLastName:
          description: The last name of the person requesting an inspection-related operation.
          type: string
        requestorMiddleName:
          description: The middle name of the person requesting an inspection-related operation.
          type: string
        requestorPhone:
          description: The telephone number for the person who processes the inspection request or schedules the inspection.
          type: string
        requestorPhoneIDD:
          description: The telephone number for the person who processes the inspection request or schedules the inspection.
          type: string
        requestorUserId:
          description: The user Id of the person requesting an inspection-related operation.
          type: string
        requiredInspection:
          description: This defines whether the inspection is optional or required.
          type: string
        resultComment:
          description: The inspection result comments.
          type: string
        resultType:
          description: 'The type of result that can be ascibed to an inspection. There are three result types: Approved: Approves (passes) the checklist item. Denied: Denies (fails) the checklist item. Informational: Indicates that the checklist items do not need a status of app'
          type: string
        scheduleDate:
          description: The date when the inspection gets scheduled.
          format: date-time
          type: string
        scheduleEndAMPM:
          description: Indicates whether the scheduleEndTime is in the AM or PM.
          enum:
          - AM
          - PM
          type: string
        scheduleEndTime:
          description: The scheduled end time for the inspection.
          type: string
        scheduleStartAMPM:
          description: AM indicates the 12 hour period from midnight to noon. PM indicates the 12 hour period from noon to midnight.
          enum:
          - AM
          - PM
          type: string
        scheduleStartTime:
          description: The scheduled start time for the inspection.
          type: string
        serviceProviderCode:
          description: The unique agency identifier.
          type: string
        startMileage:
          description: The starting mileage for the inspection.
          format: float
          type: number
        startTime:
          description: The time when you started the inspection.
          format: date-time
          type: string
        status:
          type: object
          description: The inspection status. See [Get All Inspection Statuses](./api-settings.html#operation/v4.get.settings.inspections.statuses).
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        submitAMPM:
          description: The time block for the scheduled inspection.
          type: string
        submitDate:
          description: The date that the inspection was submitted.
          format: date-time
          type: string
        submitTime:
          description: The time that a new inspection is submitted. Civic Platform generates this value.
          type: string
        totalMileage:
          description: The total mileage for the inspection.
          format: float
          type: number
        totalScore:
          description: The overall score of the inspection that includes the inspection result, inspection grade, checklist total score and checklist major violation option.
          format: int64
          type: integer
        totalTime:
          description: The total amount of time used to do an inspection.
          format: double
          type: number
        type:
          $ref: '#/components/schemas/inspectionTypeSimpleModel'
        unitNumber:
          description: The number of time units (see timeUnitDuration) comprising an inspection.
          type: string
        units:
          description: The amount of time comprising the smallest time unit for conducting an inspection.
          format: double
          type: number
        vehicleId:
          description: A number, such as the license plate number or VIN, that identifies the vehicle used to complete an inspection.
          type: string
    inspectionContactModel:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/ownerAddressModel'
        birthCity:
          type: object
          description: The city of birth for an individual.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        birthDate:
          description: The birth date.
          format: date-time
          type: string
        birthRegion:
          type: object
          description: The country of birth or region of birth for an individual.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        birthState:
          type: object
          description: The state of birth for an individual.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        businessName:
          description: A secondary business name for the applicable individual.
          type: string
        comment:
          description: A comment about the inspection contact.
          type: string
        deceasedDate:
          description: The deceased date.
          format: date-time
          type: string
        driverLicenseNumber:
          description: The driver's license number of the contact. This field is active only when the Contact Type selected is Individual.
          type: string
        driverLicenseState:
          type: object
          description: The state that issued the driver's license.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        email:
          description: The contact's email address.
          type: string
        fax:
          description: The fax number for the contact.
          type: string
        faxCountryCode:
          description: Fax Number Country Code
          type: string
        federalEmployerId:
          description: The Federal Employer Identification Number. It is used to identify a business for tax purposes.
          type: string
        firstName:
          description: The contact's first name.
          type: string
        fullName:
          description: 'The contact''s full name. '
          type: string
        gender:
          type: object
          description: The gender (male or female) of the individual.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        id:
          description: The contact system id assigned by the Civic Platform server.
          type: string
        individualOrOrganization:
          description: The organization to which the contact belongs. This field is only active when the Contact Type selected is Organization.
          type: string
        lastName:
          description: The last name (surname).
          type: string
        middleName:
          description: "The middle name.\t"
          type: string
        organizationName:
          description: The organization to which the contact belongs. This field is only active when the Contact Type selected is Organization.
          type: string
        passportNumber:
          description: The contact's passport number. This field is only active when the Contact Type selected is Individual.
          type: string
        phone1:
          description: The primary telephone number of the contact.
          type: string
        phone1CountryCode:
          description: Phone Number 1 Country Code
          type: string
        phone2:
          description: The secondary telephone number of the contact.
          type: string
        phone2CountryCode:
          description: Phone Number 2 Country Code
          type: string
        phone3:
          description: The tertiary telephone number for the contact.
          type: string
        phone3CountryCode:
          description: Phone Number 3 Country Code
          type: string
        postOfficeBox:
          description: The post office box number.
          type: string
        preferredChannel:
          type: object
          description: The method by which the contact prefers to be notified, by phone for example. See [Get All Contact Preferred Channels](./api-settings.html#operation/v4.get.settings.contacts.preferredChannels).
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        race:
          type: object
          description: The contact's race or ethnicity. See [Get All Contact Races](./api-settings.html#operation/v4.get.settings.contacts.races).
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        relation:
          type: object
          description: The contact's relationship to the application or service request.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        salutation:
          type: object
          description: The salutation to be used when addressing the contact; for example Mr. oar Ms. This field is active only when Contact Type = Individual. See [Get All Contact Salutations](./api-settings.html#operation/v4.get.settings.contacts.salutations).
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        serviceProviderCode:
          description: The unique agency identifier
          type: string
        socialSecurityNumber:
          description: The individual's social security number. This field is only active when the Contact Type selected is Individual.
          type: string
        stateIdNumber:
          description: The contact's state ID number. This field is only active when the Contact Type selected is Individual.
          type: string
        status:
          type: object
          description: The contact status.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        suffix:
          description: The contact name suffix.
          type: string
        title:
          description: The individual's business title.
          type: string
        tradeName:
          description: The contact's preferred business or trade name. This field is active only when the Contact Type selected is Organization.
          type: string
        type:
          type: object
          description: The contact type. See [Get All Contact Types](./api-settings.html#operation/v4.get.settings.contacts.types).
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
    inspectionBeforeScheduledTime:
      description: Specifies the number of days or hours before the scheduled time on the inspection date.
      type: object
      properties:
        days:
          description: Inspections can only be cancelled within this number of days before the scheduled time on the inspection date.
          format: int64
          type: integer
        hours:
          description: Inspections can only be cancelled within this number of hours before the scheduled time on the inspection date.
          format: int64
          type: integer
        time:
          description: Inspections can only be cancelled within the number of specified days or hours before this time ("hh:mm AM|PM") on the inspection date.
          type: string
  parameters:
    recordId:
      description: The ID of the record to fetch. See [Get All Records](./api-records.html#operation/v4.get.records), [Search Records](./api-search.html#operation/v4.post.search.records), or [Get My Records](./api-records.html#operation/v4.get.records.mine).
      in: path
      name: recordId
      required: true
      schema:
        type: string
    limit:
      description: Search result size limit.
      in: query
      name: limit
      required: false
      schema:
        type: integer
        format: int64
    fields:
      description: Comma-delimited names of fields to be returned in the response. Note - Field names are case-sensitive and only first-level fields are supported. Invalid field names are ignored.
      in: query
      name: fields
      required: false
      schema:
        type: string
    offset:
      description: The offset position of the first record in the results response array. For example, if offset is 100, the first item in the results array in the response is the 100th record in the search result list.
      in: query
      name: offset
      required: false
      schema:
        type: integer
        format: int64
    authHeaderParam:
      description: Construct oAuth2 authentication token
      in: header
      name: Authorization
      required: true
      schema:
        type: string
    lang:
      description: Language parameter to support I18N. Default language is en_US.
      in: query
      name: lang
      required: false
      schema:
        type: string
x-api-evangelist-provenance:
  generated: '2026-09-06'
  method: searched
  source: https://developer.accela.com/api/v4/v4-records.json
  note: Harvested verbatim from the Accela Developer Portal API Reference, which renders these Swagger 2.0 documents via ReDoc (spec-url on developer.accela.com/docs/api_reference/api-*.html). The byte-identical original is kept at openapi/_original/. This copy is the same document serialized to YAML.
