basePath: /
host: apis.accela.com
info:
  description: Use the Inspections API to manage inspection records during their complete lifecycle from application submittal
    to permit issuance or license issuance. Your agency may need to complete inspections on new property developments, homes,
    or complaints.
  title: Inspections
  version: v4
schemes:
- https
swagger: '2.0'
tags:
- name: Inspections
- name: Inspections/Checklists
- name: Inspections/Checklists/Checklist Items
- name: Inspections/Checklists/Checklist Items/Custom Forms
- name: Inspections/Checklists/Checklist Items/Custom Tables
- name: Inspections/Checklists/Documents
- name: Inspections/Comments
- name: Inspections/Condition Approvals
- name: Inspections/Conditions
- name: Inspections/Documents
- name: Inspections/Time Accounting
- name: Inspectors
paths:
  /v4/inspections:
    get:
      description: "Gets a list of inspections stored in the system.\n\n\n\n**API Endpoint**:  GET /v4/inspections \n\n**Scope**:\
        \  inspections \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\
        \n"
      summary: Get All Inspections
      operationId: v4.get.inspections
      tags:
      - Inspections
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: Filter by multiple (comma-delimited) inspection types. See [Get All Inspection Types](./api-settings.html#operation/v4.get.settings.inspections.types).
        in: query
        name: types
        required: false
        type: string
      - description: The start date of schedule date range filter. Use the date format yyyy-mm-dd.
        in: query
        name: scheduledDateFrom
        required: false
        type: string
      - description: The end date of schedule date range filter. Use the date format yyyy-mm-dd.
        in: query
        name: scheduledDateTo
        required: false
        type: string
      - description: 'Filter by inspector IDs. See [Get All Inspectors](./api-inspections.html#operation/v4.get.inspectors). '
        in: query
        name: inspectorIds
        required: false
        type: string
      - description: Filter by district IDs.
        in: query
        name: districtIds
        required: false
        type: string
      - $ref: '#/parameters/offset'
      - $ref: '#/parameters/limit'
      - description: Filter by module.
        in: query
        name: module
        required: false
        type: string
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_inspectionModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{ids}:
    get:
      description: "Gets the information for one or more requested inspections.\n\n\n\n**API Endpoint**:  GET /v4/inspections/{ids}\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Get Inspections
      operationId: v4.get.inspections.ids
      tags:
      - Inspections
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: Comma-delimited IDs of the inspections to fetch.
        in: path
        name: ids
        required: true
        type: string
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_inspectionModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
    delete:
      description: "Deletes one or more specified inspections.\n\n\n\n**API Endpoint**:  DELETE /v4/inspections/{ids} \n\n\
        **Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**:\
        \ 7.3.2\n\n"
      summary: Delete Inspections
      operationId: v4.delete.inspections.ids
      tags:
      - Inspections
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: Comma-delimited IDs of the inspections to be deleted.
        in: path
        name: ids
        required: true
        type: string
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/availableDates:
    get:
      description: "Gets available dates for scheduling an inspection, starting on the specified {startDate}. This API allows\
        \ a date range of up to 31 days. Note that this API does not filter the available dates based on the Schedule Cut-off\
        \ Time and Schedule Number of Days Out fields on the Civic Platform inspection calendar. To filter the available dates\
        \ based on the Schedule Cut-off Time and Schedule Number of Days Out inspection calendar fields, set both {validateScheduleNumOfDays}\
        \ and {validateScheduleNumOfDays} parameters to true.\n\n\n\n**API Endpoint**:  GET /v4/inspections/availableDates\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Get All Available Dates for Inspection
      operationId: v4.get.inspections.availableDates
      tags:
      - Inspections
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: Filter by inspection type id.
        format: int64
        in: query
        name: typeId
        type: integer
      - description: Filter by record id.
        in: query
        name: recordId
        required: true
        type: string
      - description: Filter by start date.
        in: query
        name: startDate
        required: true
        type: string
      - $ref: '#/parameters/limit'
      - $ref: '#/parameters/offset'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request returns an array of available inspection dates. Note: A successful request may
            return no data matching the filter criteria. A successful request may also return messages related to Event Manager
            Scripting Engine back-end processing.'
          schema:
            items:
              description: Array of available inspection dates.
              format: date
              type: string
            type: array
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/checkAvailability:
    get:
      description: "Checks inspection availability for a given record and inspection type. This API returns an array of inspectors\
        \ and their available inspection dates and times, based on the record's inspection workflow, calendar, and permissions.\
        \ The results include available dates for the current and following months. \n\n\n\n**API Endpoint**:  GET /v4/inspections/checkAvailability\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.3.4\n\n"
      summary: Check Inspection Availability
      operationId: v4.get.inspections.checkAvailability
      tags:
      - Inspections
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: 'The record to check. See [Get Records](./api-records.html#operation/v4.get.records.ids). '
        in: query
        name: recordId
        required: true
        type: string
      - description: 'The inspection type to check for the specified record. See [Get All Inspection Types for Record](./api-records.html#operation/v4.get.records.recordIds.inspectionTypes). '
        in: query
        name: inspectionTypeId
        required: true
        type: string
      - description: 'Filter by inspection id. See [Get All Inspections](./api-inspections.html#operation/v4.get.inspections). '
        in: query
        name: inspectionId
        type: string
      - description: 'Filter by department. See [Get All Departments](./api-settings.html#operation/v4.get.settings.departments). '
        in: query
        name: department
        type: string
      - description: Filter by start date, using the date format yyyy-mm-dd.
        in: query
        name: startDate
        type: string
      - description: Filter by end date, using the date format yyyy-mm-dd.
        in: query
        name: endDate
        type: string
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_inspectionAvailabilityArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/schedule:
    post:
      description: "Creates an inspection with the specified inspection and scheduling information. The Schedule Inspection\
        \ API automatically sets the inspection status to \"Scheduled\" and category to \"Insp Scheduled\".\n\n\n\n**API Endpoint**:\
        \  POST /v4/inspections/schedule \n\n**Scope**:  inspections \n\n**App Type**:  All \n\n**Authorization Type**:  Access\
        \ token \n\n**Civic Platform version**: 7.3.2\n\n"
      summary: Schedule Inspection
      operationId: v4.post.inspections.schedule
      tags:
      - Inspections
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: The inspection to schedule.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/requestSchedule_inspectionModel'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_inspectionModel'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{id}:
    put:
      description: "Updates an inspection with the specified inspection details such as schedule date, time, and inspector.\
        \ The Update Inspection API updates the inspection status and category with the specified status and category request\
        \ fields.\n\n\n\n**API Endpoint**:  PUT /v4/inspections/{id} \n\n**Scope**:  inspections \n\n**App Type**:  Agency\
        \ \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n"
      summary: Update Inspection
      operationId: v4.put.inspections.id
      tags:
      - Inspections
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: The inspection information to be updated.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/requestUpdate_inspectionModel'
      - description: The ID of the inspection to update.
        format: int64
        in: path
        name: id
        required: true
        type: integer
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_inspectionModel'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{id}/reschedule:
    put:
      description: "Updates an inspection with the specified schedule date, time, inspectorId, and comments. The Reschedule\
        \ Inspection API automatically sets the inspection status to \"Scheduled\" and category to \"Insp Scheduled\".\n\n\
        \n\n**API Endpoint**:  PUT /v4/inspections/{id}/reschedule \n\n**Scope**:  inspections \n\n**App Type**:  All \n\n\
        **Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n"
      summary: Reschedule Inspection
      operationId: v4.put.inspections.id.reschedule
      tags:
      - Inspections
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: The inspection information to reschedule.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/requestReschedule_inspectionModel'
      - description: Inspection Id
        format: int64
        in: path
        name: id
        required: true
        type: integer
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_inspectionModel'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{id}/result:
    put:
      description: "Provides the results of a specified inspection.\n\n\n\n**API Endpoint**:  PUT /v4/inspections/{id}/result\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Result Inspection
      operationId: v4.put.inspections.id.result
      tags:
      - Inspections
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: The inspection result to update.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/requestUpdate_inspectionModel'
      - description: Inspection Id
        format: int64
        in: path
        name: id
        required: true
        type: integer
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_inspectionModel'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{id}/schedule:
    put:
      description: "Updates a pending inspection with the specified inspection details such as schedule date, time, and inspector.\
        \ The Schedule Pending Inspection API automatically sets the inspection status to \"Scheduled\" and category to \"\
        Insp Scheduled\".\n\n\n\n**API Endpoint**:  PUT /v4/inspections/{id}/schedule \n\n**Scope**:  inspections \n\n**App\
        \ Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n"
      summary: Schedule Pending Inspection
      operationId: v4.put.inspections.id.schedule
      tags:
      - Inspections
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: The inspection information to update.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/requestSchedule_inspectionModel'
      - description: Inspection Id
        format: int64
        in: path
        name: id
        required: true
        type: integer
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_inspectionModel'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{ids}/assign:
    put:
      description: "Assigns an inspector to the specified inspection.\n\n\n\n**API Endpoint**:  PUT /v4/inspections/{ids}/assign\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Assign Inspections
      operationId: v4.put.inspections.ids.assign
      tags:
      - Inspections
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: Comma-delimited IDs of the inspections to assign
        in: path
        name: ids
        required: true
        type: string
      - description: The inspector to assign to.
        in: query
        name: inspectorId
        required: true
        type: string
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{ids}/cancel:
    delete:
      description: "Cancels scheduled inspections.\n\n\n\n**API Endpoint**:  DELETE /v4/inspections/{ids}/cancel \n\n**Scope**:\
        \  inspections \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\
        \n"
      summary: Cancel Inspections
      operationId: v4.delete.inspections.ids.cancel
      tags:
      - Inspections
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: Comma-delimited IDs of the inspections to cancel.
        in: path
        name: ids
        required: true
        type: string
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{id}/related:
    get:
      description: "Gets the related (child) inspections for the specified parent inspection.\n\n\n\n**API Endpoint**:  GET\
        \ /v4/inspections/{id}/related \n\n**Scope**:  inspections \n\n**App Type**:  All \n\n**Authorization Type**:  Access\
        \ token \n\n**Civic Platform version**: 7.3.2\n\n"
      summary: Get Related Inspections
      operationId: v4.get.inspections.id.related
      tags:
      - Inspections
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/idInspection'
      - description: Filter by type of inspection relationship
        enum:
        - child
        - parent
        - renewal
        in: query
        name: relationship
        required: false
        type: string
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            items:
              $ref: '#/definitions/response_inspectionRelatedModelArray'
            type: array
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
    post:
      description: "Adds related (child) inspections to the specified parent inspection.\n\n\n\n**API Endpoint**:  POST /v4/inspections/{id}/related\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Create Related Inspections
      operationId: v4.post.inspections.id.related
      tags:
      - Inspections
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/idInspection'
      - $ref: '#/parameters/lang'
      - description: An array of inspection IDs to be linked to the parent inspection. See [Get All Inspections](./api-inspections.html#operation/v4.get.inspections),
          [Get Related Inspections](./api-inspections.html#operation/v4.get.inspections.id.related).
        in: body
        name: body
        required: true
        schema:
          items:
            format: int64
            type: integer
          type: array
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{id}/related/{childIds}:
    delete:
      description: "Deletes one or more related (child) inspections from the specified parent inspection.\n\n\n\n**API Endpoint**:\
        \  DELETE /v4/inspections/{id}/related/{childIds} \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization\
        \ Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n"
      summary: Delete Related Inspections
      operationId: v4.delete.inspections.id.related.childIds
      tags:
      - Inspections
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: The ID of the inspection to fetch.
        in: path
        name: id
        required: true
        type: string
      - description: Comma-delimited IDs of child inspections to be deleted.
        in: path
        name: childIds
        required: true
        type: string
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{inspectionId}/comments:
    get:
      description: "Gets the comments for the specified inspection.\n\n\n\n**API Endpoint**:  GET /v4/inspections/{inspectionId}/comments\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Get All Comments for Inspection
      operationId: v4.get.inspections.inspectionId.comments
      tags:
      - Inspections
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/inspectionId'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_inspectionCommentModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{inspectionIds}/histories:
    get:
      description: "Gets the history for the specified inspections.\n\n\n\n**API Endpoint**: GET /v4/inspections/{inspectionIds}/histories\
        \  \n\n**Scope**:  inspections \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Get Inspection History
      operationId: v4.get.inspections.inspectionIds.histories
      tags:
      - Inspections
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: Comma-delimited IDs of inspections to fetch.
        in: path
        name: inspectionIds
        required: true
        type: string
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_inspectionModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{inspectionId}/checklists:
    get:
      description: "Gets the checklists for the specified inspection.\n\n\n\n**API Endpoint**:  GET /v4/inspections/{inspectionId}/checklists\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Get All Checklists for Inspection
      operationId: v4.get.inspections.inspectionId.checklists
      tags:
      - Inspections/Checklists
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: Inspection sequence number
        in: path
        name: inspectionId
        required: true
        type: string
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_inpsectionChecklistModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
    post:
      description: "Creates checklists for the specified inspections.\n\n\n\n**API Endpoint**:  POST /v4/inspections/{inspectionId}/checklists\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Create Inspection Checklist
      operationId: v4.post.inspections.inspectionId.checklists
      tags:
      - Inspections/Checklists
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: Inspection checklist to be created
        in: body
        name: body
        required: true
        schema:
          items:
            $ref: '#/definitions/inpsectionChecklistModel'
          type: array
      - description: The ID of the inspection to fetch
        in: path
        name: inspectionId
        required: true
        type: string
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_checklistModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{inspectionId}/checklists/{ids}:
    delete:
      description: "Deletes checklists for the specified inspection.\n\n\n\n**API Endpoint**:  DELETE /v4/inspections/{inspectionId}/checklists/{ids}\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Delete Inspection Checklists
      operationId: v4.delete.inspections.inspectionId.checklists.ids
      tags:
      - Inspections/Checklists
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/inspectionIdString'
      - description: Comma-delimited IDs of inspection checklists to delete.
        in: path
        name: ids
        required: true
        type: string
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{inspectionId}/checklists/{checklistId}/checklistItems:
    get:
      description: "Gets the checklist items for the specified inspection checklist.\n\n\n\n**API Endpoint**: GET /v4/inspections/{inspectionId}/checklists/{checklistId}/checklistItems\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Get All Inspection Checklist Items
      operationId: v4.get.inspections.inspectionId.checklists.checklistId.checklistItems
      tags:
      - Inspections/Checklists/Checklist Items
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/inspectionId'
      - $ref: '#/parameters/checklistId'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_inspectionChecklistItemModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/checklists/{id}/checklistItems:
    put:
      description: "Updates the checklist items for the specified checklist.\n\n\n\n**API Endpoint**:  PUT /v4/inspections/checklists/{id}/checklistItems\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Update Checklist Items
      operationId: v4.put.inspections.checklists.id.checklistItems
      tags:
      - Inspections/Checklists/Checklist Items
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: The ID of the checklist to fetch.
        in: path
        name: id
        required: true
        type: string
      - description: The checklist items to be updated.
        in: body
        name: body
        required: true
        schema:
          items:
            $ref: '#/definitions/inspectionChecklistItemModel'
          type: array
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_checklistModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{id}/checklists/{checklistId}/checklistItems/{checklistItemId}/customForms:
    get:
      description: "Returns an array of custom forms associated with the specified record contact. Each custom form consists\
        \ of custom field name-and-value pairs.\n\n\n\n**API Endpoint**:  GET /v4/inspections/{id}/checklists/{checklistId}/checklistItems/{checklistItemId}/customForms\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Get All Custom Forms for Checklist Item
      operationId: v4.get.inspections.id.checklists.checklistId.checklistItems.checklistItemId.customForms
      tags:
      - Inspections/Checklists/Checklist Items/Custom Forms
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/idInspection'
      - $ref: '#/parameters/checklistId'
      - $ref: '#/parameters/checklistItemId'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_customAttributeModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
    put:
      description: "Updates custom forms for the requested checklist item.\n\n\n\n**API Endpoint**:  PUT /v4/inspections/{id}/checklists/{checklistId}/checklistItems/{checklistItemId}/customForms\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Update Custom Forms for Checklist Item
      operationId: v4.put.inspections.id.checklists.checklistId.checklistItems.checklistItemId.customForms
      tags:
      - Inspections/Checklists/Checklist Items/Custom Forms
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/idInspection'
      - $ref: '#/parameters/checklistId'
      - $ref: '#/parameters/checklistItemId'
      - description: Custom forms to be updated.
        in: body
        name: body
        required: true
        schema:
          items:
            $ref: '#/definitions/customAttributeModel'
          type: array
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_customAttributeModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{id}/checklists/{checklistId}/checklistItems/{checklistItemId}/customForms/meta:
    get:
      description: "Gets the custom forms metadata for the specified inspection checklist item.\n\n\n\n**API Endpoint**: \
        \ GET /v4/inspections/{id}/checklists/{checklistId}/checklistItems/{checklistItemId}/customForms/meta \n\n**Scope**:\
        \  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**:\
        \ 7.3.2\n\n"
      summary: Get All Custom Forms Metadata for Checklist Item
      operationId: v4.get.inspections.id.checklists.checklistId.checklistItems.checklistItemId.customForms.meta
      tags:
      - Inspections/Checklists/Checklist Items/Custom Forms
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/idInspection'
      - $ref: '#/parameters/checklistId'
      - $ref: '#/parameters/checklistItemId'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_customFormMetadataModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{id}/checklists/{checklistId}/checklistItems/{checklistItemId}/customForms/{formId}/meta:
    get:
      description: "Gets the custom form metadata for the specified inspection checklist item.\n\n\n\n**API Endpoint**:  GET\
        \ /v4/inspections/{id}/checklists/{checklistId}/checklistItems/{checklistItemId}/customForms/{formId}/meta \n\n**Scope**:\
        \  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**:\
        \ 7.3.2\n\n"
      summary: Get Custom Form Metadata for Checklist Item
      operationId: v4.get.inspections.id.checklists.checklistId.checklistItems.checklistItemId.customForms.formId.meta
      tags:
      - Inspections/Checklists/Checklist Items/Custom Forms
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/idInspection'
      - $ref: '#/parameters/checklistId'
      - $ref: '#/parameters/checklistItemId'
      - description: The ID of the custom form to fetch.
        in: path
        name: formId
        required: true
        type: string
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_customFormMetadataModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{id}/checklists/{checklistId}/checklistItems/{checklistItemId}/customTables/{tableId}:
    get:
      description: "Gets a custom table for the requested checklist item for a specified inspection.\n\n\n\n**API Endpoint**:\
        \  GET /v4/inspections/{id}/checklists/{checklistId}/checklistItems/{checklistItemId}/customTables/{tableId} \n\n\
        **Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**:\
        \ 7.3.2\n\n"
      summary: Get Custom Table for Inspection Checklist Item
      operationId: v4.get.inspections.id.checklists.checklistId.checklistItems.checklistItemId.customTables.tableId
      tags:
      - Inspections/Checklists/Checklist Items/Custom Tables
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/idInspection'
      - $ref: '#/parameters/checklistId'
      - $ref: '#/parameters/checklistItemId'
      - description: The ID of the custom table to fetch.
        in: path
        name: tableId
        required: true
        type: string
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_customTablesModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{id}/checklists/{checklistId}/checklistItems/{checklistItemId}/customTables:
    get:
      description: "Gets the custom tables for the requested checklist item for a specified inspection.\n\n\n\n**API Endpoint**:\
        \  GET /v4/inspections/{id}/checklists/{checklistId}/checklistItems/{checklistItemId}/customTables \n\n**Scope**:\
        \  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**:\
        \ 7.3.2\n\n"
      summary: Get All Custom Tables for Inspection Checklist Item
      operationId: v4.get.inspections.id.checklists.checklistId.checklistItems.checklistItemId.customTables
      tags:
      - Inspections/Checklists/Checklist Items/Custom Tables
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/idInspection'
      - $ref: '#/parameters/checklistId'
      - $ref: '#/parameters/checklistItemId'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_customTablesModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
    put:
      description: "Updates custom tables for the requested checklist item for a specified inspection.\n\n\n\n**API Endpoint**:\
        \  PUT /v4/inspections/{id}/checklists/{checklistId}/checklistItems/{checklistItemId}/customTables \n\n**Scope**:\
        \  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**:\
        \ 7.3.2\n\n"
      summary: Update Custom Tables for Inspection Checklist Item
      operationId: v4.put.inspections.id.checklists.checklistId.checklistItems.checklistItemId.customTables
      tags:
      - Inspections/Checklists/Checklist Items/Custom Tables
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/idInspection'
      - $ref: '#/parameters/checklistId'
      - $ref: '#/parameters/checklistItemId'
      - description: Custom tables to be updated.
        in: body
        name: body
        required: true
        schema:
          items:
            $ref: '#/definitions/inpsectionChecklistItem_customTable'
          type: array
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{id}/checklists/{checklistId}/checklistItems/{checklistItemId}/customTables/meta:
    get:
      description: "Gets the metadata for the custom tables of the requested checklist item for the specified inspection.\n\
        \n\n\n**API Endpoint**:  GET /v4/inspections/{id}/checklists/{checklistId}/checklistItems/{checklistItemId}/customTables/meta\
        \  \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Get All Custom Tables Metadata for an Inspection Checklist Item
      operationId: v4.get.inspections.id.checklists.checklistId.checklistItems.checklistItemId.customTables.meta
      tags:
      - Inspections/Checklists/Checklist Items/Custom Tables
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/idInspection'
      - $ref: '#/parameters/checklistId'
      - $ref: '#/parameters/checklistItemId'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_customTableMetadataModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{id}/checklists/{checklistId}/checklistItems/{checklistItemId}/customTables/{tableId}/meta:
    get:
      description: "Gets the metadata for the custom tables of the requested checklist item for the specified inspection.\n\
        \n\n\n**API Endpoint**:  GET /v4/inspections/{id}/checklists/{checklistId}/checklistItems/{checklistItemId}/customTables/{tableId}/meta\
        \  \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Get Custom Table Metadata for an Inspection Checklist Item
      operationId: v4.get.inspections.id.checklists.checklistId.checklistItems.checklistItemId.customTables.tableId.meta
      tags:
      - Inspections/Checklists/Checklist Items/Custom Tables
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/idInspection'
      - $ref: '#/parameters/checklistId'
      - $ref: '#/parameters/checklistItemId'
      - description: The ID of the custom table to fetch.
        in: path
        name: tableId
        required: true
        type: string
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_customTableMetadataModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{inspectionId}/checklists/{checklistId}/checklistItems/{checklistItemId}/histories:
    get:
      description: "Gets historical (audit) data related to a checklist item for the specified inspection.\n\n\n\n**API Endpoint**:\
        \  GET /v4/inspections/{inspectionId}/checklists/{checklistId}/checklistItems/{checklistItemId}/histories \n\n**Scope**:\
        \  inspections \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\
        \n"
      summary: Get Inspection Checklist Item History
      operationId: v4.get.inspections.inspectionId.checklists.checklistId.checklistItems.checklistItemId.histories
      tags:
      - Inspections/Checklists/Checklist Items
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/inspectionIdString'
      - $ref: '#/parameters/checklistIdString'
      - $ref: '#/parameters/checklistItemIdString'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_chekclistItemHistoryModel'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{inspectionId}/checklists/{checklistId}/checklistItems/{checklistItemId}/statuses:
    get:
      description: "Gets historical (audit) data related to a checklist item for the specified inspection.\n\n\n\n**API Endpoint**:\
        \  GET /v4/inspections/{inspectionId}/checklists/{checklistId}/checklistItems/{checklistItemId}/statuses \n\n**Scope**:\
        \  inspections \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\
        \n"
      summary: Get All Inspection Checklist Item Statuses
      operationId: v4.get.inspections.inspectionId.checklists.checklistId.checklistItems.checklistItemId.statuses
      tags:
      - Inspections/Checklists/Checklist Items
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/inspectionIdString'
      - $ref: '#/parameters/checklistIdString'
      - $ref: '#/parameters/checklistItemIdString'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_checklistItemStatusModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{inspectionId}/checklists/{checklistId}/checklistItems/search:
    get:
      description: "Get all inspection checklist items along with reference guide sheet status group available statuses. \n\
        \n\n\n**API Endpoint**:  GET /v4/inspections/{inspectionId}/checklists/{checklistId}/checklistItems/search \n\n**Scope**:\
        \  inspections \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 20.2.x\
        \ \n\n"
      summary: Get All Inspection Checklist Items Search
      operationId: v4.get.inspections.inspectionId.checklists.checklistId.checklistItems.search
      tags:
      - Inspections/Checklists/Checklist Items
      parameters:
      - $ref: '#/parameters/inspectionId'
      - $ref: '#/parameters/checklistId'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      - $ref: '#/parameters/limit'
      - $ref: '#/parameters/offset'
      - $ref: '#/parameters/expand'
      - $ref: '#/parameters/authHeaderParam'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_checklistItemStatusSearchModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{inspectionId}/checklists/{checklistId}/checklistItems/{checkListItemId}/documents:
    get:
      description: "Gets the documents associated with the specified checklist item.\n\n\n\n**API Endpoint**:  GET /v4/inspections/{inspectionId}/checklists/{checklistId}/checklistItems/{checkListItemId}/documents\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Get All Inspection Checklist Item Documents
      operationId: v4.get.inspections.inspectionId.checklists.checklistId.checklistItems.checklistItemId.documents
      tags:
      - Inspections/Checklists/Checklist Items
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/inspectionId'
      - $ref: '#/parameters/checklistId'
      - description: The ID of the checklist item to fetch.
        in: path
        name: checkListItemId
        required: true
        type: string
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_documentModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
    post:
      description: "Attaches documents to a checklist item.\n\n\n\n**API Endpoint**:  POST /v4/inspections/{inspectionId}/checklists/{checklistId}/checklistItems/{checkListItemId}/documents\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Create Checklist Item Documents
      operationId: v4.post.inspections.inspectionId.checklists.checklistId.checklistItems.checklistItemId.documents
      tags:
      - Inspections/Checklists/Checklist Items
      consumes:
      - multipart/form-data
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/inspectionId'
      - $ref: '#/parameters/checklistId'
      - description: The ID of the checklist item to fetch.
        in: path
        name: checkListItemId
        required: true
        type: string
      - description: Specify the filename parameter with the file to be uploaded. See example for details.
        in: formData
        name: uploadedFile
        required: true
        type: file
      - description: A string array containing the file metadata for each specified filename. See example for details.
        in: formData
        name: fileInfo
        type: string
        required: true
      - description: The document group.
        in: query
        name: group
        required: false
        type: string
      - description: The document category. The list of category options varies depending on the document group. See [Get
          All Document Categories](./api-settings.html#operation/v4.get.settings.documents.categories).
        in: query
        name: category
        required: false
        type: string
      - description: The standard EDMS adapter userid. It's required for user level authentication
        in: query
        name: userId
        required: false
        type: string
      - description: The standard EMDS adapter password. It's required for user level authentication
        in: query
        name: password
        required: false
        type: string
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{inspectionId}/conditionApprovals:
    get:
      description: "Gets the conditions of approvals applicable to the specified inspections.\n\n\n\n**API Endpoint**:  GET\
        \ /v4/inspections/{inspectionId}/checklists/{checklistId}/checklistItems/{checkListItemId}/documents \n\n**Scope**:\
        \  inspections \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\
        \n"
      summary: Get All Approval Conditions for Inspection
      operationId: v4.get.inspections.inspectionId.conditionApprovals
      tags:
      - Inspections/Condition Approvals
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/inspectionId'
      - description: Filter whether or not notice information is needed.
        in: query
        name: isNeedNoticeInfo
        required: false
        type: boolean
      - description: Filter by effective date.
        format: date-time
        in: query
        name: effectiveDate
        required: false
        type: string
      - description: Filter by expiration date.
        format: date-time
        in: query
        name: expirationDate
        required: false
        type: string
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_inspectionConditionModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
    post:
      description: "Adds one or more conditions of approval to the specified inspection.\n\n\n\n**API Endpoint**:  POST /v4/inspections/{inspectionId}/checklists/{checklistId}/checklistItems/{checkListItemId}/documents\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Create Inspection Approval Conditions
      operationId: v4.post.inspections.inspectionId.conditionApprovals
      tags:
      - Inspections/Condition Approvals
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: The inspection condition approval to add.
        in: body
        name: body
        required: true
        schema:
          items:
            $ref: '#/definitions/inspectionConditionModel'
          type: array
      - $ref: '#/parameters/inspectionId'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{inspectionId}/conditionApprovals/{id}:
    get:
      description: "Gets the conditions of approval for the specified inspections.\n\n\n\n**API Endpoint**:  GET /v4/inspections/{inspectionId}/conditionApprovals/{id}\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Get Inspection Approval Condition
      operationId: v4.get.inspections.inspectionId.conditionApprovals.id
      tags:
      - Inspections/Condition Approvals
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/inspectionId'
      - description: The ID of the inspection condition to fetch.
        format: int64
        in: path
        name: id
        required: true
        type: integer
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_inspectionConditionModel'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
    put:
      description: "Updates a condition of approval for the specified inspections.\n\n\n\n**API Endpoint**:  PUT /v4/inspections/{inspectionId}/conditionApprovals/{id}\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Update Inspection Approval Condition
      operationId: v4.put.inspections.inspectionId.conditionApprovals.id
      tags:
      - Inspections/Condition Approvals
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/inspectionId'
      - description: The inspection condition information to be updated.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/inspectionConditionModel'
      - description: The ID of the inspection condition to update.
        in: path
        name: id
        required: true
        type: string
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_inspectionConditionModel'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{inspectionId}/conditionApprovals/{ids}:
    delete:
      description: "Deletes one or more conditions of approval from the specified inspections.\n\n\n\n**API Endpoint**:  DELETE\
        \ /v4/inspections/{inspectionId}/conditionApprovals/{ids} \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\
        \n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n"
      summary: Delete Inspection Approval Conditions
      operationId: v4.delete.inspections.inspectionId.conditionApprovals.ids
      tags:
      - Inspections/Condition Approvals
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/inspectionId'
      - description: Comma-delimited IDs of inspection conditions to be deleted.
        in: path
        name: ids
        required: true
        type: string
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{inspectionId}/conditions:
    get:
      description: "Gets the conditions that apply to the specified inspections.\n\n\n\n**API Endpoint**:  GET /v4/inspections/{inspectionId}/conditions\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Get All Standard Conditions for Inspection
      operationId: v4.get.inspections.inspectionId.conditions
      tags:
      - Inspections/Conditions
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/inspectionId'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_inspectionConditionModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
    post:
      description: "Adds a set of conditions to the specified inspections.\n\n\n\n**API Endpoint**:  POST /v4/inspections/{inspectionId}/conditions\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Create Inspection Standard Conditions
      operationId: v4.post.inspections.inspectionId.conditions
      tags:
      - Inspections/Conditions
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: The inspection condition to add.
        in: body
        name: body
        required: true
        schema:
          items:
            $ref: '#/definitions/inspectionConditionModel'
          type: array
      - $ref: '#/parameters/inspectionId'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{inspectionId}/conditions/{id}:
    get:
      description: "Gets the condition for the specified inspection.\n\n\n\n**API Endpoint**:  GET /v4/inspections/{inspectionId}/conditions/{id}\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Get Inspection Condition
      operationId: v4.get.inspections.inspectionId.conditions.id
      tags:
      - Inspections/Conditions
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/inspectionId'
      - description: The ID of inspection condition to fetch.
        format: int64
        in: path
        name: id
        required: true
        type: integer
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_inspectionConditionModel'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
    put:
      description: "Updates conditions for the specified inspection.\n\n\n\n**API Endpoint**:  PUT /v4/inspections/{inspectionId}/conditions/{id}\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Update Inspection Condition
      operationId: v4.put.inspections.inspectionId.conditions.id
      tags:
      - Inspections/Conditions
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: The condition information to be updated.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/inspectionConditionModel'
      - $ref: '#/parameters/inspectionId'
      - description: The ID of the inspection condition to update.
        in: path
        name: id
        required: true
        type: string
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_inspectionConditionModel'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{inspectionId}/conditions/{ids}:
    delete:
      description: "Deletes conditons from the specified inspections.\n\n\n\n**API Endpoint**:  DELETE /v4/inspections/{inspectionId}/conditions/{ids}\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Delete Inspection Conditions
      operationId: v4.delete.inspections.inspectionId.conditions.ids
      tags:
      - Inspections/Conditions
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/inspectionId'
      - description: Comma-delimited IDs of inspection conditions to be deleted.
        in: path
        name: ids
        required: true
        type: string
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{inspectionId}/conditions/{id}/histories:
    get:
      description: "Gets the history for the specified conditions associated with the specified inspections.\n\n\n\n**API\
        \ Endpoint**:  GET /v4/inspections/{inspectionId}/conditions/{id}/histories \n\n**Scope**:  inspections \n\n**App\
        \ Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n"
      summary: Get Inspection Condition History
      operationId: v4.get.inspections.inspectionId.conditions.id.histories
      tags:
      - Inspections/Conditions
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/inspectionId'
      - description: The ID of the inspection condition to fetch.
        format: int64
        in: path
        name: id
        required: true
        type: integer
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_conditionHistoryModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{inspectionId}/documents:
    get:
      description: "Gets the documents for the specified inspection.\n\n\n\n**API Endpoint**:  GET /v4/inspections/{inspectionId}/documents\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Get All Documents for Inspection
      operationId: v4.get.inspections.inspectionId.documents
      tags:
      - Inspections/Documents
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/inspectionId'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_documentModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
    post:
      description: "Creates one or more document attachments for the specified inspection. To specify the documents to be\
        \ attached, use the HTTP header \"Content-Type:multipart/form-data\" and form-data for \"uploadedFile\" and \"fileInfo\"\
        . Note that the \"fileInfo\" is a string containing an array of file attributes. Use \"fileInfo\" to specify one or\
        \ more documents to be attached. For example:\n\n\tContent - Disposition: form - data;name = \"uploadedFile\"; filename=\"\
        summaryReport.pdf\"\n\n\tContent - Disposition: form - data;name = \"fileInfo\"\n\n\t[\n\t\t {\n\t\t\t\"serviceProviderCode\"\
        : \"BPTDEV\",\n\t\t\t\"fileName\": \"CXA12-pipe.png\",\n\t\t\t\"type\": \"image/png\",\n\t\t\t\"description\": \"\
        Inspected pipe\"\n\t\t\r\n\t\t\t\t\t}\n\t]\n\n\n\n**API Endpoint**: POST /v4/inspections/{inspectionId}/documents\
        \ \n\n **Scope** : inspections\n\n **App Type** : All\n\n **Authorization Type** : Access token\n\n **Civic Platform\
        \ version** : 7.3.2\n\n "
      summary: Create Inspection Documents
      operationId: v4.post.inspections.inspectionId.documents
      tags:
      - Inspections/Documents
      consumes:
      - multipart/form-data
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: Inspection sequence number
        in: path
        name: inspectionId
        required: true
        type: string
      - description: Specify the filename parameter with the file to be uploaded. See example for details.
        in: formData
        name: uploadedFile
        required: true
        type: file
      - description: A string array containing the file metadata for each specified filename. See example for details.
        in: formData
        name: fileInfo
        type: string
        required: true
      - description: The document group.
        in: query
        name: group
        required: false
        type: string
      - description: The document category.
        in: query
        name: category
        required: false
        type: string
      - description: The standard EDMS Adapter userid. It's required for user level authentication
        in: query
        name: userId
        required: false
        type: string
      - description: The standard EMDS Adapter password. It's required for user level authentication
        in: query
        name: password
        required: false
        type: string
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{inspectionId}/documents/{ids}:
    delete:
      description: "Deletes documents from the specified inspection.\n\n\n\n**API Endpoint**:  DELETE /v4/inspections/{inspectionId}/documents/{ids}\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Delete Inspection Documents
      operationId: v4.delete.inspections.inspectionId.documents.ids
      tags:
      - Inspections/Documents
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: Inspection sequence number
        in: path
        name: inspectionId
        required: true
        type: string
      - description: Comma-delimited IDs of documents to be deleted.
        in: path
        name: ids
        required: true
        type: string
      - description: The standard EDMS Adapter userid. It's required for user level authentication
        in: query
        name: userId
        required: false
        type: string
      - description: The standard EMDS Adapter password. It's required for user level authentication
        in: query
        name: password
        required: false
        type: string
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{inspectionId}/timeAccounting:
    get:
      description: "\n\n\n\n**API Endpoint**:  GET /v4/inspections/{inspectionId}/timeAccounting \n\n**Scope**:  inspections\
        \ \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n"
      summary: Get All Inspection Time Accounting Entries
      operationId: v4.get.inspections.inspectionId.timeAccounting
      tags:
      - Inspections/Time Accounting
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/inspectionId'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_timeLogModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
    post:
      description: "Creates time accounting items for the specified inspection.\n\n\n\n**API Endpoint**:  POST /v4/inspections/{inspectionId}/timeAccounting\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Create Inspection Time Accounting Entries
      operationId: v4.post.inspections.inspectionId.timeAccounting
      tags:
      - Inspections/Time Accounting
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/inspectionId'
      - description: Inspection time log entries to be added.
        in: body
        name: body
        required: true
        schema:
          items:
            $ref: '#/definitions/request_timeLogModel'
          type: array
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{inspectionId}/timeAccounting/{id}:
    put:
      description: "Updates a time accounting item for an inspection.\n\n\n\n**API Endpoint**:  PUT /v4/inspections/{inspectionId}/timeAccounting/{id}\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Update Inspection Time Accounting Entry
      operationId: v4.put.inspections.inspectionId.timeAccounting.id
      tags:
      - Inspections/Time Accounting
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: ID of inspection that needs to be fetched
        in: path
        name: inspectionId
        required: true
        format: int64
        type: integer
      - description: Time accounting information to be updated.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/request_timeLogModel'
      - description: The ID of the inspection time accountint item to update.
        in: path
        name: id
        required: true
        type: string
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_timeLogModel'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspections/{inspectionId}/timeAccounting/{ids}:
    delete:
      description: "Deletes one or more time accounting items for an inspection.\n\n\n\n**API Endpoint**:  DELETE /v4/inspections/{inspectionId}/timeAccounting/{idS}\
        \ \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform\
        \ version**: 7.3.2\n\n"
      summary: Delete Inspection Time Accounting Entries
      operationId: v4.delete.inspections.inspectionId.timeAccounting.ids
      tags:
      - Inspections/Time Accounting
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - $ref: '#/parameters/inspectionId'
      - description: Comma-delimited IDs of time accounting items to be deleted.
        in: path
        name: ids
        required: true
        type: string
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspectors:
    get:
      description: "Gets all the inspectors in the agency.\n\n\n\n**API Endpoint**:  GET /v4/inspectors \n\n**Scope**:  inspections\
        \ \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n"
      summary: Get All Inspectors
      operationId: v4.get.inspectors
      tags:
      - Inspectors
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: Filter by department code. For example, 'HEALTH/DCA/SUPER/NA/NA/NA/INTAKE'
        in: query
        name: department
        type: string
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_inspectorModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/inspectors/{id}:
    get:
      description: "Gets information about an inspector.\n\n\n\n**API Endpoint**:  GET /v4/inspectors/{id} \n\n**Scope**:\
        \  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**:\
        \ 7.3.2\n\n"
      summary: Get Inspector
      operationId: v4.get.inspectors.id
      tags:
      - Inspectors
      parameters:
      - $ref: '#/parameters/authHeaderParam'
      - description: The ID of the inspector to fetch.
        in: path
        name: id
        required: true
        type: string
      - $ref: '#/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A
            successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          schema:
            $ref: '#/definitions/response_inspectorModel'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
definitions:
  response_customFormMetadataModelArray:
    type: object
    properties:
      result:
        items:
          $ref: '#/definitions/customFormMetadataModel'
        type: array
      status:
        type: integer
        description: The HTTP return status.
  customFormMetadataModel:
    description: Contains the metadata for a custom table.
    type: object
    properties:
      displayOrder:
        description: The custom table's display order.
        format: int64
        type: integer
      fields:
        items:
          $ref: '#/definitions/customFormField'
        type: array
      id:
        description: The custom table id.
        type: string
      text:
        description: The custom table name.
        type: string
  customFormField:
    type: object
    properties:
      displayOrder:
        description: ''
        format: int64
        type: integer
      drillDown:
        $ref: '#/definitions/aSITableDrill'
      fieldType:
        description: The custom field data type.
        type: string
      id:
        description: The custom field system id assigned by the Civic Platform server.
        type: string
      isReadonly:
        description: Indicates whether or not the custom field is read-only.
        enum:
        - Y
        - N
        type: string
      isRequired:
        description: Indicates whether or not the custom field is required.
        enum:
        - Y
        - N
        type: string
      maxLength:
        description: The custom field length
        format: int64
        type: integer
      options:
        items:
          type: object
          description: Contains dropdown option values.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        type: array
      text:
        description: The custom field localized text.
        type: string
      value:
        description: The custom field stored value.
        type: string
  aSITableDrill:
    description: Contains drilldown field information.
    type: object
    properties:
      children:
        items:
          $ref: '#/definitions/childDrill'
        type: array
      isRoot:
        type: boolean
  childDrill:
    type: object
    properties:
      drillId:
        description: The ID of the drilldown child record.
        format: int64
        type: integer
      id:
        description: The ID of the current record.
        type: string
  response_inspectionCommentModelArray:
    type: object
    properties:
      result:
        items:
          $ref: '#/definitions/inspectionCommentModel'
        type: array
      status:
        type: integer
        description: The HTTP return status.
  inspectionCommentModel:
    type: object
    properties:
      createdBy:
        description: The userid of the individual that created the entry.
        type: string
      createdDate:
        description: The date the comment was created.
        type: string
      inspectionId:
        description: The ID of the inspection the comment is attached to.
        format: int64
        type: integer
      recordId:
        $ref: '#/definitions/recordIdModel'
      text:
        description: The comment.
        type: string
      type:
        description: The comment type.
        type: string
  response_conditionHistoryModelArray:
    type: object
    properties:
      result:
        items:
          $ref: '#/definitions/conditionHistoryModel'
        type: array
      status:
        type: integer
        description: The HTTP return status.
  conditionHistoryModel:
    type: object
    properties:
      actionbyDepartment:
        type: object
[...]
