openapi: 3.2.0
info:
  description: Miscellaneous Accela API
  title: Miscellaneous Time Accounting API
  version: v4
servers:
- url: https://apis.accela.com/
tags:
- name: Time Accounting
  description: For general time accounting, Civic Platform provides the ability for employees to record the amount of time spent in performing their daily tasks, the descriptions and costs of materials used while performing those tasks, and the usage of vehicles related to the tasks performed.
paths:
  /v4/timeAccounting:
    get:
      description: 'Gets time accounting information.


        **API Endpoint**: GET /v4/timeAccounting


        **Scope**: timeaccounting


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.3'
      summary: Get Time Accounting
      operationId: v4.get.timeAccounting
      tags:
      - Time Accounting
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: "Successful request. \n\nNote: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_timeLogModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
    post:
      description: 'Creates a time accounting record.


        **API Endpoint**: POST /v4/timeAccounting


        **Scope**: timeaccounting


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.3'
      summary: Create Time Accounting
      operationId: v4.post.timeAccounting
      tags:
      - Time Accounting
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: "Successful request. \n\nNote: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/timeLogModel'
              type: array
        description: Time accounting request information
  /v4/timeAccounting/{ids}:
    delete:
      description: 'Deletes one or more time accounting records.


        **API Endpoint**: DELETE /v4/timeAccounting/{ids}


        **Scope**: timeaccounting


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.3'
      summary: Delete Time Accounting
      operationId: v4.delete.timeAccounting.ids
      tags:
      - Time Accounting
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: The comma-delimited IDs of the time accounting entries to be deleted.
        in: path
        name: ids
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: "Successful request. \n\nNote: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/timeAccounting/{id}:
    put:
      description: 'Updates the specified time accounting record.


        **API Endpoint**: PUT /v4/timeAccounting/{id}


        **Scope**: timeaccounting


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.3'
      summary: Update Time Accounting
      operationId: v4.put.timeAccounting.id
      tags:
      - Time Accounting
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: The ID of the time accounting entry to be updated.
        in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: "Successful request. \n\nNote: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_timeLogModel'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/timeLogModel'
        description: Time accounting request information.
components:
  parameters:
    lang:
      description: Language parameter to support I18N. Default language is en_US.
      in: query
      name: lang
      required: false
      schema:
        type: string
    authHeaderParam:
      description: Construct oAuth2 authentication token
      in: header
      name: Authorization
      required: true
      schema:
        type: string
  schemas:
    response_timeLogModel:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/timeLogModel'
        status:
          type: integer
          description: The HTTP return status.
    response_resultModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/resultModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    timeLogModel:
      type: object
      properties:
        access:
          type: object
          description: "\"N\" if the user has no permissions, or a string concatenation of allowed permissions: \n\"D\" for delete permissions and/or \"E\" for edit permissions. "
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        billable:
          description: Indicates whether or not the item is billable.
          enum:
          - Y
          - N
          type: string
        cost:
          description: The calculated cost of the entry.
          format: double
          type: number
        createBy:
          description: The unique user id of the individual that created this entry.
          type: string
        createDate:
          description: The date the entry was created.
          format: date-time
          type: string
        detailDuration:
          description: Contains details about the time accounting duration.
          items:
            $ref: '#/components/schemas/costingQuantityModel'
          type: array
        duration:
          description: The duration of the entry, using the format hh:mm.
          type: string
        endMileage:
          description: The ending mileage for the time accounting item.
          format: double
          type: number
        endTime:
          description: The end time for the time accounting entry.
          type: string
        entity:
          description: The entity associated with the time accounting item.
          type: string
        entityId:
          description: The unique ID of the entity or record.
          type: string
        entityType:
          description: The type of entity, such as "Record".
          type: string
        group:
          type: object
          description: The time accounting group. See [Get All Time Accounting Groups](./api-settings.html#operation/v4.get.settings.timeAccounting.groups).
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        id:
          description: The time accounting entry's system id assigned by the Civic Platform server.
          format: int64
          type: integer
        lastChangedBy:
          description: The person who last changed the time accounting entry.
          type: string
        lastChangedDate:
          description: The date when the time accounting entry was last changed.
          format: date-time
          type: string
        loggedDate:
          description: The date when the time accounting was logged.
          format: date-time
          type: string
        materials:
          description: The materials tracked by the time accounting entry.
          type: string
        materialsCost:
          description: The cost of materials tracked by the time accounting entry.
          format: double
          type: number
        notation:
          description: The notation associated with the time accounting entry.
          type: string
        percent:
          description: The percentage point for calculating the cost. 50 stands for 50%, 80 stands for 80%, and 150 stands for 150%.
          format: double
          type: number
        rate:
          description: The cost rate.
          format: double
          type: number
        recordId:
          $ref: '#/components/schemas/recordIdModel'
        serviceProviderCode:
          description: The unique agency identifier.
          type: string
        startMileage:
          description: The starting mileage for the time accounting entry.
          format: double
          type: number
        startTime:
          description: The start time of the time accounting entry.
          type: string
        status:
          type: object
          description: The time log status.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        totalMileage:
          description: The total mileage for the time accounting entry.
          format: double
          type: number
        totalMinutes:
          description: The total number of billable minutes.
          format: int64
          type: integer
        type:
          type: object
          description: The time accounting type. See [Get All Time Accounting Types](./api-settings.html#operation/v4.get.settings.timeAccounting.types).
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        userId:
          description: The userid assigned to the time accounting entry.
          type: string
        vehicleId:
          type: object
          description: A number, such as the license plate number or VIN, that identifies the vehicle used with the entry.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
    costingQuantityModel:
      type: object
      properties:
        factor:
          description: The cost factor.
          format: double
          type: number
        minutes:
          description: The duration in minutes.
          format: double
          type: number
    recordIdModel:
      type: object
      properties:
        customId:
          description: An ID based on a different numbering convention from the numbering convention used by the record ID (xxxxx-xx-xxxxx). Accela Automation auto-generates and applies an alternate ID value when you submit a new application.
          type: string
        id:
          description: The record system id assigned by the Civic Platform server.
          type: string
        serviceProviderCode:
          description: The unique agency identifier.
          type: string
        trackingId:
          description: The application tracking number (IVR tracking number).
          format: int64
          type: integer
        value:
          description: The alphanumeric record id.
          type: string
    resultModel:
      type: object
      properties:
        code:
          description: The error code, if an error is encountered.
          type: string
        id:
          description: The system id of the object in this operation.
          format: int64
          type: integer
        isSuccess:
          description: Indicates whether or not the operation on the object is successful.
          type: boolean
        message:
          description: The error message, if an error is encountered
          type: string
    response_timeLogModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/timeLogModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
x-api-evangelist-provenance:
  generated: '2026-09-06'
  method: searched
  source: https://developer.accela.com/api/v4/v4-misc.json
  note: Harvested verbatim from the Accela Developer Portal API Reference, which renders these Swagger 2.0 documents via ReDoc (spec-url on developer.accela.com/docs/api_reference/api-*.html). The byte-identical original is kept at openapi/_original/. This copy is the same document serialized to YAML.
