openapi: 3.2.0
info:
  description: Use the Address-Parcel-Owner ("APO") API to get, create, and update reference information about addresses, parcels, and owners used in land or property management solutions. Because reference APO can be associated to multiple transactional records, a reference APO object cannot be deleted.
  title: ', Parcels, Owners Addresses API'
  version: v4
servers:
- url: http://apis.accela.com/
tags:
- name: Addresses
  description: An address provides details about the physical location of a parcel, building, contact, and so forth. An address is part of a property's APO (address, parcel, owner) information that is typically associated to a record. Addresses are stored as reference data that can be attached to transaction objects.
paths:
  /v4/addresses:
    get:
      description: 'Gets the reference addresses available in the system. Specify at least one filter criteria.


        **API Endpoint**: GET /v4/addresses


        **Scope**: addresses


        **App Type**: All


        **Authorization Type**: No authorization required


        **Civic Platform version**: 7.3.2'
      summary: Get All Addresses
      operationId: v4.get.addresses
      tags:
      - Addresses
      parameters:
      - description: The unique address id assigned by the Civic Platform server.
        in: query
        name: id
        required: false
        schema:
          type: integer
          format: int64
      - description: The address type.
        in: query
        name: type
        required: false
        schema:
          type: string
      - description: Indicates whether or not to designate the address as the primary address. Only one address can be primary at any given time.
        in: query
        name: isPrimary
        required: false
        schema:
          type: string
          enum:
          - Y
          - N
      - description: The street name for the address.
        in: query
        name: streetName
        required: false
        schema:
          type: string
      - description: The start of a range of street numbers.
        in: query
        name: streetStart
        required: false
        schema:
          type: integer
          format: int64
      - description: RefAddress streetEnd
        in: query
        name: streetEnd
        required: false
        schema:
          type: integer
          format: int64
      - description: The street direction of the primary address associated with the application.
        in: query
        name: direction
        required: false
        schema:
          type: string
      - description: The street direction of the primary address associated with the application.
        in: query
        name: streetSuffixDirection
        required: false
        schema:
          type: string
      - description: The street direction of the primary address associated with the application.
        in: query
        name: streetSuffix
        required: false
        schema:
          type: string
      - description: The name of the city.
        in: query
        name: city
        required: false
        schema:
          type: string
      - description: The name of the country.
        in: query
        name: country
        required: false
        schema:
          type: string
      - description: The state corresponding to the address on record.
        in: query
        name: state
        required: false
        schema:
          type: string
      - description: "Related objects to be returned with the response. The related object(s) will be returned if data exists; if data does not exist, the requested object(s) will not be included in the response. \n\nAdded in Civic Platform version: 9.3.0"
        in: query
        name: expand
        schema:
          type: string
          enum:
          - customForms
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_addressModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/addresses/{id}:
    get:
      description: 'Gets detailed information for the specified address.


        **API Endpoint**: GET /v4/addresses/{id}


        **Scope**: addresses


        **App Type**: All


        **Authorization Type**: No authorization required


        **Civic Platform version**: 7.3.2'
      summary: Get Address
      operationId: v4.get.addresses.id
      tags:
      - Addresses
      parameters:
      - $ref: '#/components/parameters/idAddressPathParam'
      - description: "Related objects to be returned with the response. The related object(s) will be returned if data exists; if data does not exist, the requested object(s) will not be included in the response. \n\nAdded in Civic Platform version: 9.3.0 "
        in: query
        name: expand
        schema:
          type: string
          enum:
          - customForms
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_addressModelWithCustomForms'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
    put:
      summary: Update an Address
      description: 'Updates a reference address, including address custom fields.


        **API Endpoint**: PUT /v4/addresses/{id}


        **Scope**: addresses


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 9.3.0'
      operationId: v4.put.addresses.id
      tags:
      - Addresses
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/idAddressPathParam'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_addressModelWithCustomForms'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/request_addressModelWithCustomForms'
        description: The reference address to be updated
        required: true
  /v4/addresses/{id}/conditions:
    get:
      description: 'Returns all the address conditions for a given address. The results can be filtered by type and status.


        **API Endpoint**: GET /v4/addresses/{id}/conditions


        **Scope**: addresses


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 9.0.0'
      summary: Get All Address Conditions
      operationId: v4.get.addresses.id.conditions
      tags:
      - Addresses
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/idAddressPathParam'
      - $ref: '#/components/parameters/conditionTypeQueryParam'
      - $ref: '#/components/parameters/conditionNameQueryParam'
      - $ref: '#/components/parameters/conditionStatusQueryParam'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_conditionModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/addresses/{id}/parcels:
    get:
      description: 'Gets the parcels associated with the specified addresses.


        **API Endpoint**: GET /v4/addresses/{id}/parcels


        **Scope**: addresses


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Get All Address Parcels
      operationId: v4.get.addresses.id.parcels
      tags:
      - Addresses
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/idAddressPathParam'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_parcelModel'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/addresses/{id}/records:
    get:
      description: 'Gets the records associated with the given reference address.


        **API Endpoint**: GET /v4/addresses/{id}/records


        **Scope**: addresses


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 9.3.0'
      summary: Get All Address Records
      operationId: v4.get.addresses.id.records
      tags:
      - Addresses
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/idAddressPathParam'
      - description: "Filter by one or more comma-delimited record types. Specify a record value using its hierarchical structure, for example: types=AMS%2FElectric%2FPole%2FInstall,AMS%2FElectric%2FPole%2FMaintain \n\nSee [Get All Record Types](./api-settings.html#operation/v4.get.settings.records.types)."
        in: query
        name: types
        required: false
        schema:
          type: string
      - description: "Filter by one or more comma-delimited record statuses. For example: statuses=Open,Ready%20to%20Issue \n\nSee [Get All Statuses for Record Type](./api-settings.html#operation/v4.get.settings.records.types.id.statuses)."
        in: query
        name: statuses
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_simpleRecordModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
components:
  parameters:
    limit:
      description: Search result size limit.
      in: query
      name: limit
      required: false
      schema:
        type: integer
        format: int64
    conditionNameQueryParam:
      description: Filter by condition name.
      in: query
      name: name
      schema:
        type: string
    idAddressPathParam:
      description: The system id of the address to fetch.
      in: path
      name: id
      required: true
      schema:
        type: integer
        format: int64
    conditionStatusQueryParam:
      description: Filter by condition status. See [Get All Standard Condition Statuses](./api-settings.html#operation/v4.get.settings.conditions.statuses), [Get All Approval Condition Statuses](./api-settings.html#operation/v4.get.settings.conditionApprovals.statuses)
      in: query
      name: status
      schema:
        type: string
    fields:
      description: Comma-delimited names of fields to be returned in the response. Note - Field names are case-sensitive and only first-level fields are supported. Invalid field names are ignored.
      in: query
      name: fields
      required: false
      schema:
        type: string
    offset:
      description: The offset position of the first record in the results response array. For example, if offset is 100, the first item in the results array in the response is the 100th record in the search result list.
      in: query
      name: offset
      required: false
      schema:
        type: integer
        format: int64
    conditionTypeQueryParam:
      description: Filter by condition type. See [Get All Condition Types](./api-settings.html#operation/v4.get.settings.conditions.types)
      in: query
      name: type
      schema:
        type: string
    authHeaderParam:
      description: Construct oAuth2 authentication token
      in: header
      name: Authorization
      required: true
      schema:
        type: string
    lang:
      description: Language parameter to support I18N. Default language is en_US.
      in: query
      name: lang
      required: false
      schema:
        type: string
  schemas:
    simpleRecordModel:
      type: object
      properties:
        actualProductionUnit:
          description: Estimated cost per production unit.
          format: double
          type: number
        appearanceDate:
          description: The date for a hearing appearance.
          format: date-time
          type: string
        appearanceDayOfWeek:
          description: The day for a hearing appearance.
          type: string
        assignedDate:
          description: The date the application was assigned.
          format: date-time
          type: string
        assignedToDepartment:
          description: The department responsible for the action. See [Get All Departments](./api-settings.html#operation/v4.get.settings.departments).
          type: string
        assignedUser:
          description: The staff member responsible for the action.
          type: string
        balance:
          description: The amount due.
          format: double
          type: number
        booking:
          description: Indicates whether or not there was a booking in addition to a citation.
          type: boolean
        closedByDepartment:
          description: The department responsible for closing the record. See [Get All Departments](./api-settings.html#operation/v4.get.settings.departments).
          type: string
        closedByUser:
          description: The staff member responsible for closure.
          type: string
        closedDate:
          description: The date the application was closed.
          format: date-time
          type: string
        completeDate:
          description: The date the application was completed.
          format: date-time
          type: string
        completedByDepartment:
          description: The department responsible for completion. See [Get All Departments](./api-settings.html#operation/v4.get.settings.departments).
          type: string
        completedByUser:
          description: The staff member responsible for completion.
          type: string
        constructionType:
          type: object
          description: The US Census Bureau construction type code. See [Get All Record Construction Types](./api-settings.html#operation/v4.get.settings.records.constructionTypes).
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        costPerUnit:
          description: The cost for one unit associated to the record.
          format: double
          type: number
        createdBy:
          description: The unique user id of the individual that created the entry.
          type: string
        createdByCloning:
          description: Indictes whether or not the record was cloned.
          enum:
          - Y
          - N
          type: string
        customId:
          description: An ID based on a different numbering convention from the numbering convention used by the record ID (xxxxx-xx-xxxxx). Civic Platform auto-generates and applies an alternate ID value when you submit a new application.
          type: string
        defendantSignature:
          description: Indicates whether or not a defendant's signature has been obtained.
          type: boolean
        description:
          description: The description of the record or item.
          type: string
        enforceDepartment:
          description: The name of the department responsible for enforcement. See [Get All Departments](./api-settings.html#operation/v4.get.settings.departments).
          type: string
        enforceUser:
          description: Name of the enforcement officer.
          type: string
        enforceUserId:
          description: ID number of the enforcement officer.
          type: string
        estimatedCostPerUnit:
          description: The estimated cost per unit.
          format: double
          type: number
        estimatedDueDate:
          description: The estimated date of completion.
          format: date-time
          type: string
        estimatedProductionUnit:
          description: The estimated number of production units.
          format: double
          type: number
        estimatedTotalJobCost:
          description: The estimated cost of the job.
          format: double
          type: number
        firstIssuedDate:
          description: The first issued date for license
          format: date-time
          type: string
        housingUnits:
          description: The number of housing units.
          format: int64
          type: integer
        id:
          description: The record system id assigned by the Civic Platform server.
          type: string
        inPossessionTime:
          description: The application level in possession time of the time tracking feature.
          format: double
          type: number
        infraction:
          description: Indicates whether or not an infraction occurred.
          type: boolean
        initiatedProduct:
          description: 'The Civic Platform product  where the application is submitted: "AA" : Classic Accela Automation. "ACA" : Accela Citizen Access. "AIVR" : Accela Integrated Voice Response. "AMO" : Accela Mobile Office. "AV360" : Accela Asset Management, Accela Land Management.'
          type: string
        inspectorDepartment:
          description: The name of the department where the inspector works. See [Get All Departments](./api-settings.html#operation/v4.get.settings.departments).
          type: string
        inspectorId:
          description: The ID number of the inspector. See [Get All Inspectors](./api-inspections.html#operation/v4.get.inspectors).
          type: string
        inspectorName:
          description: The name of the inspector. See [Get All Inspectors](./api-inspections.html#operation/v4.get.inspectors).
          type: string
        jobValue:
          description: The value of the job.
          format: double
          type: number
        misdemeanor:
          description: Indicates whether or not a misdemeanor occurred.
          type: boolean
        module:
          description: The module the record belongs to. See [Get All Modules](./api-settings.html#operation/v4.get.settings.modules).
          type: string
        name:
          description: The name associated to the record.
          type: string
        numberOfBuildings:
          description: The number of buildings.
          format: int64
          type: integer
        offenseWitnessed:
          description: Indicates whether or not  there was a witness to the alleged offense.
          type: boolean
        openedDate:
          description: The date the application was opened.
          format: date-time
          type: string
        overallApplicationTime:
          description: The amount of elapsed time from the time tracking start date to the completion of the application.
          format: double
          type: number
        priority:
          type: object
          description: The priority level assigned to the record. See [Get All Priorities](./api-settings.html#operation/v4.get.settings.priorities).
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        publicOwned:
          description: Indicates whether or not the record is for the public.
          type: boolean
        recordClass:
          description: General information about the record.
          type: string
        renewalInfo:
          $ref: '#/components/schemas/recordExpirationModel'
        reportedChannel:
          type: object
          description: The incoming channel through which the applicant submitted the application.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        reportedDate:
          description: The date the complaint was reported.
          format: date-time
          type: string
        reportedType:
          type: object
          description: The type of complaint or incident being reported.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        scheduledDate:
          description: The date when the inspection gets scheduled.
          format: date-time
          type: string
        serviceProviderCode:
          description: The unique agency identifier,
          type: string
        severity:
          type: object
          description: Indicates the severity of the condition.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        shortNotes:
          description: A brief note about the record subject.
          type: string
        status:
          type: object
          description: The record status.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        statusDate:
          description: "The date when the current status changed.\t"
          format: date-time
          type: string
        statusReason:
          type: object
          description: "\tThe reason for the status setting on the record."
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        totalFee:
          description: The total amount of the fees invoiced to the record.
          format: double
          type: number
        totalJobCost:
          description: The combination of work order assignments (labor) and costs.
          format: double
          type: number
        totalPay:
          description: The total amount of pay.
          format: double
          type: number
        trackingId:
          description: The application tracking number (IVR tracking number).
          format: int64
          type: integer
        type:
          $ref: '#/components/schemas/recordTypeModel'
        undistributedCost:
          description: The undistributed costs for this work order.
          format: double
          type: number
        value:
          description: The record value.
          type: string
    response_conditionModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/conditionModel'
          type: array
        page:
          $ref: '#/components/schemas/pageModel'
        status:
          type: integer
          description: The HTTP return status.
    response_parcelModel:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/parcelModel'
        status:
          type: integer
          description: The HTTP return status.
    request_addressModelWithCustomForms:
      type: object
      properties:
        addressLine1:
          type: string
          description: The first line of the address.
        addressLine2:
          type: string
          description: The first line of the address.
        addressTypeFlag:
          type: object
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
          description: A code name or an abbreviation of the address type.
        auditStatus:
          type: string
          description: The audit status of the address.
        city:
          type: string
          description: The name of the city.
        country:
          type: object
          description: The name of the country.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        county:
          type: string
          description: The name of the county.
        customForms:
          items:
            $ref: '#/components/schemas/customAttributeModel'
          type: array
        description:
          type: string
          description: A description of the address.
        direction:
          description: The street direction of the primary address associated with the application.
          type: object
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        distance:
          type: number
          format: double
          description: The distance from another landmark used to locate the address.
        houseAlphaStart:
          type: string
          description: The beginning alphabetic unit in street address.
        houseAlphaEnd:
          type: string
          description: The ending alphabetic unit in street address.
        houseFractionStart:
          type: object
          description: Beginning fraction value used in combination with the Street number fields.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        houseFractionEnd:
          type: object
          description: Ending franction value used in combination with the Street number fields.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        houseNumberEndFrom:
          type: number
          description: The first of the ending house number range.
          format: long
        houseNumberEndTo:
          type: number
          description: The last of the ending house number range.
          format: long
        houseNumberStartFrom:
          type: number
          description: The first of the start house number range.
          format: long
        houseNumberStartTo:
          type: number
          description: The last of the start house number range.
          format: long
        inspectionDistrict:
          type: string
          description: The inspection district where the address is located.
        inspectionDistrictPrefix:
          type: string
          description: The prefix for the inspection district where the address is located.
        isPrimary:
          type: string
          description: Indicates whether or not to designate the address as the primary address. Only one address can be primary at any given time.
        levelStart:
          type: string
          description: The starting level number (floor number) that makes up the address within a complex.
        levelEnd:
          type: string
          description: The ending level number (floor number) that makes up the address within a complex.
        levelPrefix:
          type: string
          description: The prefix for the level numbers (floor numbers) that make up the address.
        neighborhood:
          type: string
          description: The neighborhood where the address is located.
        neighborhoodPrefix:
          type: string
          description: The prefix for neighborhood where the address is located.
        postalCode:
          type: string
          description: The postal ZIP code for the address.
        secondaryStreet:
          type: string
          description: This field (along with the Secondary Road Number field) displays an extra description for the location when two roads that cross or a street with two names makes up the address of the location.
        secondaryStreetNumber:
          type: number
          format: long
          description: This field (along with the Secondary Road field) displays an extra description for the location when two roads that cross or a street with two names makes up the address of the location.
        sourceFlag:
          type: string
          description: The Accela permitting system that stores this address information, such as Civic Platform, Kiva, or Tidemark.
        sourceNumber:
          type: number
          format: long
          description: A number that identifies the Accela permitting system that stores this address information.
        state:
          type: object
          description: The name of the country.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        status:
          type: object
          description: The address status indicating whether the address is active or inactive.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        streetAddress:
          type: string
          description: The street address.
        streetEnd:
          type: number
          format: long
          description: The ending number of a street address range.
        streetName:
          type: string
          description: The name of the street.
        streetPrefix:
          type: string
          description: Any part of an address that appears before a street name or number. For example, if the address is 123 West Main, "West" is the street prefix.
        streetStart:
          type: number
          format: long
          description: The starting number of a street address range.
        streetSuffix:
          type: object
          description: The type of street such as "Lane" or "Boulevard".
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        streetSuffixDirection:
          type: object
          description: The direction appended to the street suffix. For example, if the address is 500 56th Avenue NW, "NW" is the street suffix direction.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        unitStart:
          type: string
          description: The starting value of a range of unit numbers.
        unitEnd:
          type: string
          description: The ending value of a range of unit numbers.
        unitType:
          type: object
          description: The unit type designation of the address.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        xCoordinate:
          type: number
          format: double
          description: The longitudinal coordinate for this address.
        yCoordinate:
          type: number
          format: double
          description: The latitudinal coordinate for this address.
    addressModelWithCustomForms:
      type: object
      properties:
        addressLine1:
          type: string
          description: The first line of the address.
        addressLine2:
          type: string
          description: The first line of the address.
        addressTypeFlag:
          type: object
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
          description: A code name or an abbreviation of the address type.
        auditStatus:
          type: string
          description: The audit status of the address.
        city:
          type: string
          description: The name of the city.
        country:
          type: object
          description: The name of the country.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        county:
          type: string
          description: The name of the county.
        customForms:
          items:
            $ref: '#/components/schemas/customAttributeModel'
          type: array
        description:
          type: string
          description: A description of the address.
        direction:
          description: The street direction of the primary address associated with the application.
          type: object
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        distance:
          type: number
          format: double
          description: The distance from another landmark used to locate the address.
        houseAlphaStart:
          type: string
          description: The beginning alphabetic unit in street address.
        houseAlphaEnd:
          type: string
          description: The ending alphabetic unit in street address.
        houseFractionStart:
          type: object
          description: Beginning fraction value used in combination with the Street number fields.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        houseFractionEnd:
          type: object
          description: Ending franction value used in combination with the Street number fields.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        houseNumberEndFrom:
          type: number
          description: The first of the ending house number range.
          format: long
        houseNumberEndTo:
          type: number
          description: The last of the ending house number range.
          format: long
        houseNumberStartFrom:
          type: number
          description: The first of the start house number range.
          format: long
        houseNumberStartTo:
          type: number
          description: The last of the start house number range.
          format: long
        id:
          format: int64
          type: integer
          description: The unique address id assigned by the Civic Platform server.
        inspectionDistrict:
          type: string
          description: The inspection district where the address is located.
        inspectionDistrictPrefix:
          type: string
          description: The prefix for the inspection district where the address is located.
        isPrimary:
          type: string
          description: Indicates whether or not to designate the address as the primary address. Only one address can be primary at any given time.
        levelStart:
          type: string
          description: The starting level number (floor number) that makes up the address within a complex.
        levelEnd:
          type: string
          description: The ending level number (floor number) that makes up the address within a complex.
        levelPrefix:
          type: string
          description: The prefix for the level numbers (floor numbers) that make up the address.
        neighborhood:
          type: string
          description: The neighborhood where the address is located.
        neighborhoodPrefix:
          type: string
          description: The prefix for neighborhood where the address is located.
        postalCode:
          type: string
          description: The postal ZIP code for the address.
        secondaryStreet:
          type: string
          description: This field (along with the Secondary Road Number field) displays an extra description for the location when two roads that cross or a street with two names makes up the address of the location.
        secondaryStreetNumber:
          type: number
          format: long
          description: This field (along with the Secondary Road field) displays an extra description for the location when two roads that cross or a street with two names makes up the address of the location.
        sourceFlag:
          type: string
          description: The Accela permitting system that stores this address information, such as Civic Platform, Kiva, or Tidemark.
        sourceNumber:
          type: number
          format: long
          description: A number that identifies the Accela permitting system that stores this address information.
        state:
          type: object
          description: The name of the country.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        status:
          type: object
          description: The address status indicating whether the address is active or inactive.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        streetAddress:
          type: string
          description: The street address.
        streetEnd:
          type: number
          format: long
          description: The ending number of a street address range.
        streetName:
          type: string
          description: The name of the street.
        streetPrefix:
          type: string
          description: Any part of an address that appears before a street name or number. For example, if the address is 123 West Main, "West" is the street prefix.
        streetStart:
          type: number
          format: long
          description: The starting number of a street address range.
        streetSuffix:
          type: object
          description: The type of street such as "Lane" or "Boulevard".
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        streetSuffixDirection:
          type: object
          description: The direction appended to the street suffix. For example, if the address is 500 56th Avenue NW, "NW" is the street suffix direction.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        unitStart:
          type: string
          description: The starting value of a range of unit numbers.
        unitEnd:
          type: string
          description: The ending value of a range of unit numbers.
        unitType:
          type: object
          description: The unit type designation of the address.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        xCoordinate:
          type: number
          format: double
          description: The longitudinal coordinate for this address.
        yCoordinate:
          type: number
          format: double
          description: The latitudinal coordinate for this address.
    response_addressModelWithCustomForms:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/addressModelWithCustomForms'
        status:
          type: integer
          description: The HTTP return status.
    recordExpirationModel:
      type: object
      properties:
        expirationDate:
          description: The date when the condition expires.
          format: date-time
          type: string
        expirationStatus:
          type: object
          description: Indicates whether the expiration is enabled or disabled. See [Get All Record Expiration Statuses](./api-settings.html#operation/v4.get.settings.records.expirationStatuses).
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
    response_addressModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/addressModel'
          type: array
        page:
          $ref: '#/components/schemas/pageModel'
        status:
          type: integer
          description: The HTTP return status.
    parcelModel:
      type: object
      properties:
        block:
          description: The block number associated with the parcel.
          type: string
        book:
          description: A reference to the physical location of parcel information in the County Assessor's office.
          type: string
        censusTract:
          description: The unique number assigned by the Census Bureau that identifies the tract to which this parcel belongs.
          type: string
        councilDistrict:
          description: The council district to which the parcel belongs.
          type: string
        customForms:
          items:
            $ref: '#/components/schemas/customAttributeModel'
          type: array
        exemptionValue:
          description: The total value of any tax exemptions that apply to the land within the parcel.
          format: double
          type: number
        gisSequenceNumber:
          description: The GIS object ID of the parcel.
          format: int64
          type: integer
        id:
          description: The system id of the parcel assigned by the Civic Platform server.
          type: string
        improvedValue:
          description: The total value of any improvements to the land within the parcel.
          format: double
          type: number
        isPrimary:
          description: Indicates whether or not to designate the parcel as the primary parcel.
          type: string
        landValue:
          description: The total value of the land within the parcel.
          format: double
          type: number
        legalDescription:
          description: The legal description of the parcel.
          type: string
        lot:
          description: The lot name.
          type: string
        mapNumber:
          description: The unique map number that identifies the map for this parcel.
          type: string
        mapReferenceInfo:
          description: The map reference for this parcel.
          type: string
        page:
          description: A reference to the physical location of the parcel information in the records of the County Assessor (or other responsible department).
          type: string
        parcel:
          description: The official parcel name or number, as determined by the county assessor or other responsible department.
          type: string
        parcelArea:
          description: The total area of the parcel. Your agency determines the standard unit of measure.
          format: double
          type: number
        parcelNumber:
          description: The alpha-numeric parcel number.
          type: string
        planArea:
          description: The total area of the parcel. Your agency determines the standard unit of measure.
          type: string
        range:
          description: When land is surveyed using the rectangular-survey system, range represents the measure of units east and west of the base line.
          type: string
        section:
          description: A piece of a township measuring 640 acres, one square mile, numbered with reference to the base line and meridian line.
          format: int64
          type: integer
        status:
          type: object
          description: The parcel status.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        subdivision:
          type: object
          description: The name of the subdivision.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        supervisorDistrict:
          description: The supervisor district to which the parcel belongs.
          type: string
        township:
          description: When land is surveyed using the rectangular-survey system, township represents the measure of units North or South of the base line. Townships typically measure 6 miles to a side, or 36 square miles.
          type: string
        tract:
          description: The name of the tract associated with this application. A tract may contain one or more related parcels.
          type: string
    recordTypeModel:
      type: object
      properties:
        alias:
          description: The record type alias.
          type: string
        category:
          description: The 4th level in a 4-level record type structure (Group-Type-Subtype-Category).
          type: string
        filterName:
          description: The name of the record type filter which defines the record types to be displayed for the citizen user.
          type: string
        group:
          description: The 1st level in a 4-level record type structure (Group-Type-Subtype-Category).
          type: string
        id:
          description: The record type id.
          type: string
        module:
          description: The module the record type belongs to.
          type: string
        subType:
          description: The 3rd level in a 4-level record type structure (Group-Type-Subtype-Category).
          type: string
        text:
          description: The localized display text.
          type: string
        type:
          description: The 2nd level in a 4-level record type structure (Group-Type-Subtype-Category).
          type: string
        value:
          description: The stored value.
          type: string
    addressModel:
      type: object
      properties:
        addressLine1:
          type: string
          description: The first line of the address.
        addressLine2:
          type: string
          description: The first line of the address.
        addressTypeFlag:
          type: object
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
          description: A code name or an abbreviation of the address type.
        auditStatus:
          type: string
          description: The audit status of the address.
        city:
          type: string
          description: The name of the city.
        country:
          type: object
          description: The name of the country.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        county:
          type: string
          description: The name of the county.
        customForms:
          items:
            $ref: '#/components/schemas/customAttributeModel'
          type: array
        description:
          type: string
          description: A description of the address.
        direction:
          description: The street direction of the primary address associated with the application.
          type: object
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        distance:
          type: number
          format: double
          description: The distance from another landmark used to locate the address.
        houseAlphaStart:
          type: string
          description: The beginning alphabetic unit in street address.
        houseAlphaEnd:
          type: string
          description: The ending alphabetic unit in street address.
        houseFractionStart:
          type: object
          description: Beginning fraction value used in combination with the Street number fields.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        houseFractionEnd:
          type: object
          description: Ending franction value used in combination with the Street number fields.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        houseNumberEndFrom:
          type: number
          description: The first of the ending house number range.
          format: long
        houseNumberEndTo:
          type: number
          description: The last of the ending house number range.
          format: long
        houseNumberStartFrom:
          type: number
          description: The first of the start house number range.
          format: long
        houseNumberStartTo:
          type: number
          description: The last of the start house number range.
          format: long
        id:
          format: int64
          type: integer
          description: The unique address id assigned by the Civic Platform server.
        inspectionDistrict:
          type: string
          description: The inspection district where the address is located.
        inspectionDistrictPrefix:
          type: string
          description: The prefix for the inspection district where the address is located.
        isPrimary:
          type: string
          description: Indicates whether or not to designate the address as the primary address. Only one address can be primary at any given time.
        levelStart:
          type: string
          description: The starting level number (floor number) that makes up the address within a complex.
        levelEnd:
          type: string
          description: The ending level number (floor number) that makes up the address within a complex.
        levelPrefix:
          type: string
          description: The prefix for the level numbers (floor numbers) that make up the address.
        neighborhood:
          type: string
          description: The neighborhood where the address is located.
        neighborhoodPrefix:
          type: string
          description: The prefix for neighborhood where the address is located.
        postalCode:
          type: string
          description: The postal ZIP code for the address.
        secondaryStreet:
          type: string
          description: This field (along with the Secondary Road Number field) displays an extra description for the location when two roads that cross or a street with two names makes up the address of the location.
        secondaryStreetNumber:
          type: number
          format: long
          description: This field (along with the Secondary Road field) displays an extra description for the location when two roads that cross or a street with two names makes up the address of the location.
        sourceFlag:
          type: string
          description: The Accela permitting system that stores this address information, such as Civic Platform, Kiva, or Tidemark.
        sourceNumber:
          type: number
          format: long
          description: A number that identifies the Accela permitting system that stores this address information.
        state:
          type: object
          description: The name of the country.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        status:
          type: object
          description: The address status indicating whether the address is active or inactive.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        streetAddress:
          type: string
          description: The street address.
        streetEnd:
          type: number
          format: long
          description: The ending number of a street address range.
        streetName:
          type: string
          description: The name of the street.
        streetPrefix:
          type: string
          description: Any part of an address that appears before a street name or number. For example, if the address is 123 West Main, "West" is the street prefix.
        streetStart:
          type: number
          format: long
          description: The starting number of a street address range.
        streetSuffix:
          type: object
          description: The type of street such as "Lane" or "Boulevard".
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        streetSuffixDirection:
          type: object
          description: The direction appended to the street suffix. For example, if the address is 500 56th Avenue NW, "NW" is the street suffix direction.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        unitStart:
          type: string
          description: The starting value of a range of unit numbers.
        unitEnd:
          type: string
          description: The ending value of a range of unit numbers.
        unitType:
          type: object
          description: The unit type designation of the address.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        xCoordinate:
          type: number
          format: double
          description: The longitudinal coordinate for this address.
        yCoordinate:
          type: number
          format: double
          description: The latitudinal coordinate for this address.
    pageModel:
      type: object
      properties:
        offset:
          type: integer
          description: The requested offset start.
        limit:
          type: integer
          description: The requested result limit.
        total:
          type: integer
          description: The total number of records found.
        hasmore:
          type: boolean
          description: true if there are more results to fetch; false if all results have been fetched.
    conditionModel:
      type: object
      properties:
        actionbyDepartment:
          type: object
          description: The department responsible for the action.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        actionbyUser:
          type: object
          description: The individual responsible for the action.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        activeStatus:
          type: object
          description: Indicates whether or not the condition is active.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        additionalInformation:
          description: An unlimited text field to use if other fields are filled.
          type: string
        appliedDate:
          description: 'The date when condition is applied. The Applied Date defaults to the current date in any of the following scenarios: 1) you are adding a standard condition, 2) you are creating a new condition, or 3) The condition is auto-assigned to a record.'
          format: date-time
          type: string
        appliedbyDepartment:
          type: object
          description: The department responsible for applying the condition.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        appliedbyUser:
          type: object
          description: The staff member responsible for applying the condition.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        displayNoticeInAgency:
          description: Indicates whether or not to display the condition notice in Civic Platform when a condition is applied.
          type: boolean
        displayNoticeInCitizens:
          description: Indicates whether or not to display the condition notice in Citizen Access when a condition to a record or parcel is applied.
          type: boolean
        displayNoticeInCitizensFee:
          description: Indicates whether or not to display the condition notice in Citizen Access Fee Estimate page when a condition to a record or parcel is applied.
          type: boolean
        effectiveDate:
          description: The date when the condition becomes effective.
          format: date-time
          type: string
        expirationDate:
          description: The date when the condition expires.
          format: date-time
          type: string
        group:
          type: object
          description: The condition group, which is a set of condition types.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        id:
          description: The condition system id assigned by the Civic Platform server.
          format: int64
          type: integer
        inheritable:
          type: object
          description: Indicates whether or not Civic Platform checks for inheritable conditions when a user associates a child record with a parent record.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        isIncludeNameInNotice:
          description: Indicates whether or not to display the condition name in the notice.
          type: boolean
        isIncludeShortCommentsInNotice:
          description: Indicates whether or not to display the condition comments in the notice.
          type: boolean
        longComments:
          description: Narrative comments to help identify the purpose or uses of the standard condition.
          type: string
        name:
          description: The full name for the application contact.
          type: string
        ownerNumber:
          description: (For owner conditions only) The owner number the condition applies to.
          type: string
        parcelNumber:
          description: (For parcel conditions only) The parcel number the condition applies to.
          type: string
        priority:
          type: object
          description: The priority level assigned to the condition.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        publicDisplayMessage:
          description: Text entered into this field displays in the condition notice or condition status bar for the Condition Name for the public user in Accela IVR (AIVR) and Citizen Access (ACA).
          type: string
        resolutionAction:
          description: The action performed in response to a condition.
          type: string
        serviceProviderCode:
          description: The unique agency identifier.
          type: string
        severity:
          type: object
          description: Indicates the severity of the condition.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        shortComments:
          description: A brief description of the condition name. For example, the text may describe the situation that requires the system to apply the condition. You can set these short comments to display when a user accesses an application with this condition applied to it
          type: string
        status:
          type: object
          description: The condition status.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        statusDate:
          description: The date when the current status changed.
          format: date-time
          type: string
        statusType:
          description: The status type for a standard condition or an approval condition, applied or not applied for example.
          type: string
        type:
          type: object
          description: The condition type.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
    customAttributeModel:
      description: 'Contains a custom form consisting of the custom form id and custom field name and value pairs. For example in JSON, "My Custom Field": "My Custom Value". The custom form data uses the configured address-parcel-owner template metadata. The custom fields use the configured address-parcel-owner template metadata. Note the following custom field data types: <br/>**For a Text field**, the maximum length is 256.  <br/>**For a Number field**, any numeric form is allowed, including negative numbers.  <br/>**For a Date field**, the format is MM/dd/yyyy.  <br/>**For a Time field**, the format is hh:mm.  <br/>**For a TextArea field**, the maximum length is 4000 characters, and allows line return characters.  <br/>**For a DropdownList field**, the dropdown list values are in the options[] array.  <br/>**For a CheckBox field**, the (case-sensitive) valid values are "UNCHECKED" and "CHECKED".  <br/>**For a Radio(Y/N) field**, the (case-sensitive) valid values are "Yes" and "No".'
      type: object
      properties:
        id:
          description: The custom form id.
          type: string
        <aCustomFieldName>:
          description: The name of a custom field.
          type: string
        <aCustomFieldValue>:
          description: The value of a custom field.
          type: string
    response_simpleRecordModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/simpleRecordModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
x-api-evangelist-provenance:
  generated: '2026-09-06'
  method: searched
  source: https://developer.accela.com/api/v4/v4-addresses-parcels-owners.json
  note: Harvested verbatim from the Accela Developer Portal API Reference, which renders these Swagger 2.0 documents via ReDoc (spec-url on developer.accela.com/docs/api_reference/api-*.html). The byte-identical original is kept at openapi/_original/. This copy is the same document serialized to YAML.
