openapi: 3.2.0
info:
  description: The Reports API allows an app to get Civic Platform report definitions and create reports.
  title: Settings/Reports API
  version: v4
servers:
- url: https://apis.accela.com/
tags:
- name: Settings/Reports
paths:
  /v4/settings/reports/categories:
    get:
      description: 'Gets a list of report categories.


        **API Endpoint**: GET /v4/settings/reports/categories


        **Scope**: reports


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Get All Report Categories
      operationId: v4.get.settings.reports.categories
      tags:
      - Settings/Reports
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: "Successful request. \n\nNote: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing."
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/response_categoryModelArray'
                type: array
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/settings/reports/definitions:
    get:
      description: 'Gets a list of report definitions in the system.


        **API Endpoint**: GET /v4/settings/reports/definitions


        **Scope**: reports


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Get All Report Definitions
      operationId: v4.get.settings.reports.definitions
      tags:
      - Settings/Reports
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: Filter by report category. See [Get All Report Categories](#operation/v4.get.settings.reports.categories).
        in: query
        name: category
        required: false
        schema:
          type: string
      - description: Filter by module.
        in: query
        name: module
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: "Successful request. \n\nNote: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_reportDefinitionModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/settings/reports/definitions/{reportId}:
    get:
      description: 'Gets the definition for a specific report.


        **API Endpoint**: GET /v4/settings/reports/definitions/{reportId}


        **Scope**: reports


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Get Report Definition
      operationId: v4.get.settings.reports.definitions.reportId
      tags:
      - Settings/Reports
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: The ID of report that needs to fetch.
        in: path
        name: reportId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: "Successful request. \n\nNote: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_reportDefinitionModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
components:
  parameters:
    lang:
      description: Language parameter to support I18N. Default language is en_US.
      in: query
      name: lang
      required: false
      schema:
        type: string
    limit:
      description: Search result size limit.
      in: query
      name: limit
      required: false
      schema:
        type: integer
        format: int64
    fields:
      description: Comma-delimited names of fields to be returned in the response. Note - Field names are case-sensitive and only first-level fields are supported. Invalid field names are ignored.
      in: query
      name: fields
      required: false
      schema:
        type: string
    offset:
      description: The offset position of the first record in the results response array. For example, if offset is 100, the first item in the results array in the response is the 100th record in the search result list.
      in: query
      name: offset
      required: false
      schema:
        type: integer
        format: int64
    authHeaderParam:
      description: Construct oAuth2 authentication token
      in: header
      name: Authorization
      required: true
      schema:
        type: string
  schemas:
    response_categoryModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/categoryModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    reportDefinitionModel:
      type: object
      properties:
        description:
          description: Describes the report definition.
          type: string
        format:
          description: The report format (PDF, XLS and so on)
          type: string
        id:
          description: The report definition system id assigned by the Civic Platform server.
          format: int64
          type: integer
        name:
          description: The name of the report definition.
          type: string
        parameters:
          description: Contains report parameters.
          items:
            $ref: '#/components/schemas/reportParameterModel'
          type: array
        servProvCode:
          description: The unique agency identifier.
          type: string
    reportParameterModel:
      type: object
      properties:
        name:
          description: The report parameter name.
          type: string
        nickname:
          description: The report parameter alias or nickname.
          type: string
        required:
          description: Indicates whether or not the report parameter is required
          type: string
        type:
          description: The report parameter type.
          type: string
    response_reportDefinitionModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/reportDefinitionModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    categoryModel:
      type: object
      properties:
        display:
          description: The display name of the report category.
          type: string
        id:
          description: The report category system id assigned by the Civic Platform server.
          format: int64
          type: integer
        name:
          description: The name of the report category.
          type: string
x-api-evangelist-provenance:
  generated: '2026-09-06'
  method: searched
  source: https://developer.accela.com/api/v4/v4-reports.json
  note: Harvested verbatim from the Accela Developer Portal API Reference, which renders these Swagger 2.0 documents via ReDoc (spec-url on developer.accela.com/docs/api_reference/api-*.html). The byte-identical original is kept at openapi/_original/. This copy is the same document serialized to YAML.
  repairs:
  - removed trailing commas
  - The published JSON did not parse as strict JSON; only syntax was repaired, no content was added or changed.
