openapi: 3.2.0
info:
  description: The Settings API provides configuration values that have been defined in Civic Platform Administration, typically as standard choice values. The Settings APIs are helpful when you need reference or custom-configured values in your API calls.
  title: Settings/Costs API
  version: v4
servers:
- url: https://apis.accela.com/
tags:
- name: Settings/Costs
paths:
  /v4/settings/costs/accounts:
    get:
      description: 'Gets all accounts associated with costs.


        **API Endpoint**: GET /v4/settings/costs/accounts


        **Scope**: settings


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.3'
      summary: Get All Cost Accounts
      operationId: v4.get.settings.costs.accounts
      tags:
      - Settings/Costs
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_settingValueModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/settings/costs/factors:
    get:
      description: 'Gets all factors associated with costs.


        **API Endpoint**: GET /v4/settings/costs/factors


        **Scope**: settings


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.3'
      summary: Get All Cost Factors
      operationId: v4.get.settings.costs.factors
      tags:
      - Settings/Costs
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_settingValueModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/settings/costs/types:
    get:
      description: 'Gets all type values associated with costs.


        **API Endpoint**: GET /v4/settings/costs/types


        **Scope**: settings


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.3'
      summary: Get All Cost Types
      operationId: v4.get.settings.costs.types
      tags:
      - Settings/Costs
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_settingValueModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/settings/costs/types/{typeName}/items:
    get:
      description: 'Gets all items associated to the specified cost type.


        **API Endpoint**: GET /v4/settings/costs/types/{typeName}/items


        **Scope**: settings


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.3'
      summary: Get All Cost Type Items
      operationId: v4.get.settings.costs.types.typeName.items
      tags:
      - Settings/Costs
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - description: The ID of cost type to fetch.
        in: path
        name: typeName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_settingValueModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/settings/costs/unitTypes:
    get:
      description: 'Get the unit types for use with a cost.


        **API Endpoint**: GET /v4/settings/costs/unitTypes


        **Scope**: settings


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.3'
      summary: Get All Cost Unit Types
      operationId: v4.get.settings.costs.unitTypes
      tags:
      - Settings/Costs
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_settingValueModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
  /v4/settings/costs/types/items:
    post:
      description: 'Search Cost Type Items.


        **API Endpoint**: POST /v4/settings/costs/types/items


        **Scope**: settings


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 22.2.0'
      summary: Search Cost Type Items
      operationId: v4.post.settings.costs.types.items
      tags:
      - Settings/Costs
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/lang'
        in: body
        name: body
        required: true
        schema:
          type: object
          properties:
            value:
              description: The setting value.
              type: string
            text:
              description: The setting label.
              type: string
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_settingCostsTypeItems'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
components:
  parameters:
    lang:
      description: Language parameter to support I18N. Default language is en_US.
      in: query
      name: lang
      required: false
      schema:
        type: string
    authHeaderParam:
      description: Construct oAuth2 authentication token
      in: header
      name: Authorization
      required: true
      schema:
        type: string
  schemas:
    settingValueModelAddressTypes:
      type: object
      properties:
        text:
          description: The setting label.
          type: string
        value:
          description: The setting value.
          type: string
        required:
          description: Indicates whether or not it is required for an address type.
          type: boolean
    response_settingCostsTypeItems:
      type: object
      properties:
        result:
          description: Contains the settings.
          items:
            $ref: '#/components/schemas/settingCostsTypeItemsArray'
          type: array
        page:
          $ref: '#/components/schemas/pageModel'
        status:
          type: integer
          description: The HTTP return status.
    pageModel:
      type: object
      properties:
        offset:
          type: integer
          description: The requested offset start.
        limit:
          type: integer
          description: The requested result limit.
        total:
          type: integer
          description: The total number of records found.
        hasmore:
          type: boolean
          description: true if there are more results to fetch; false if all results have been fetched.
    settingValueModel:
      type: object
      properties:
        text:
          description: The setting label.
          type: string
        value:
          description: The setting value.
          type: string
        addressTypes:
          items:
            $ref: '#/components/schemas/settingValueModelAddressTypes'
          type: array
    response_settingValueModelArray:
      type: object
      properties:
        result:
          description: Contains the settings.
          items:
            $ref: '#/components/schemas/settingValueModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    settingCostsTypeItemsArray:
      type: object
      properties:
        value:
          description: The setting value.
          type: string
        text:
          description: The setting label.
          type: string
x-api-evangelist-provenance:
  generated: '2026-09-06'
  method: searched
  source: https://developer.accela.com/api/v4/v4-settings.json
  note: Harvested verbatim from the Accela Developer Portal API Reference, which renders these Swagger 2.0 documents via ReDoc (spec-url on developer.accela.com/docs/api_reference/api-*.html). The byte-identical original is kept at openapi/_original/. This copy is the same document serialized to YAML.
