openapi: 3.2.0
info:
  description: Accela API for transactional records and related record resources
  title: Records/Activities API
  version: v4
servers:
- url: https://apis.accela.com/
tags:
- name: Records/Activities
  description: Activities related to a record can be assigned to a staff member when the activities require further action, such as a follow-up inspection or service maintenance.
paths:
  /v4/records/{recordId}/activities:
    get:
      description: 'Gets all activities related to the specified record.


        **API Endpoint**: GET /v4/records/{recordId}/activities


        **Scope**: records


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Get All Record Activities
      operationId: v4.get.records.recordId.activities
      tags:
      - Records/Activities
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/recordId'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_activityModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
    post:
      description: 'Creates activities associated to the specified record.


        **API Endpoint**: POST /v4/records/{recordId}/activities


        **Scope**: records


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.3.2'
      summary: Create Record Activities
      operationId: v4.post.records.recordId.activities
      tags:
      - Records/Activities
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/recordId'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/request_activityAddModel'
              type: array
        description: The activity information to be added.
        required: true
  /v4/records/{recordId}/activities/{id}:
    put:
      description: 'Updates the activity for the specified record.


        **API Endpoint**: PUT /v4/records/{recordId}/activities/{id}


        **Scope**: records


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.3.2'
      summary: Update Record Activity
      operationId: v4.put.records.recordId.activities.id
      tags:
      - Records/Activities
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/recordId'
      - description: The ID of the record activity to update.
        in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_resultModel'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/request_activityUpdateModel'
        description: The activity information to be updated.
        required: true
components:
  parameters:
    lang:
      description: Language parameter to support I18N. Default language is en_US.
      in: query
      name: lang
      required: false
      schema:
        type: string
    recordId:
      description: The ID of the record to fetch. See [Get All Records](./api-records.html#operation/v4.get.records), [Search Records](./api-search.html#operation/v4.post.search.records), or [Get My Records](./api-records.html#operation/v4.get.records.mine).
      in: path
      name: recordId
      required: true
      schema:
        type: string
    fields:
      description: Comma-delimited names of fields to be returned in the response. Note - Field names are case-sensitive and only first-level fields are supported. Invalid field names are ignored.
      in: query
      name: fields
      required: false
      schema:
        type: string
    authHeaderParam:
      description: Construct oAuth2 authentication token
      in: header
      name: Authorization
      required: true
      schema:
        type: string
  schemas:
    activityModel:
      type: object
      properties:
        activityStatus:
          type: object
          description: The status of the record activity.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        assignedDepartment:
          type: object
          description: The department responsible for the activity.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        assignedUser:
          type: object
          description: The staff member responsible for the activity.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        description:
          description: The activity description
          type: string
        dueDate:
          description: The desired completion date of the task.
          format: date-time
          type: string
        id:
          description: The activity system id assigned by the Civic Platform server.
          format: int64
          type: integer
        name:
          description: The activity name.
          type: string
        priority:
          type: object
          description: The priority level assigned to the activity.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        startDate:
          description: The activity start date.
          format: date-time
          type: string
        status:
          type: object
          description: The activity status.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        type:
          type: object
          description: The activity type.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
    response_resultModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/resultModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    request_activityUpdateModel:
      type: object
      properties:
        activityStatus:
          type: object
          description: The status of the record activity.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        assignedDepartment:
          type: object
          description: The department responsible for the activity.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        assignedUser:
          type: object
          description: The staff member responsible for the activity.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        description:
          description: The activity description
          type: string
        dueDate:
          description: The desired completion date of the task.
          format: date-time
          type: string
        name:
          description: The activity name.
          type: string
        priority:
          type: object
          description: The priority level assigned to the activity.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        startDate:
          description: The activity start date.
          format: date-time
          type: string
        status:
          type: object
          description: The activity status.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        type:
          type: object
          description: The activity type.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
    resultModel:
      type: object
      properties:
        code:
          description: The error code, if an error is encountered.
          type: string
        id:
          description: The system id of the object in this operation.
          format: int64
          type: integer
        isSuccess:
          description: Indicates whether or not the operation on the object is successful.
          type: boolean
        message:
          description: The error message, if an error is encountered
          type: string
    response_activityModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/activityModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    request_activityAddModel:
      type: object
      properties:
        activityStatus:
          type: object
          description: The status of the record activity.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        assignedDepartment:
          type: object
          description: The department responsible for the activity.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        assignedUser:
          type: object
          description: The staff member responsible for the activity.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        description:
          description: The activity description
          type: string
        dueDate:
          description: The desired completion date of the task.
          format: date-time
          type: string
        name:
          description: The activity name.
          type: string
        priority:
          type: object
          description: The priority level assigned to the activity.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        startDate:
          description: The activity start date.
          format: date-time
          type: string
        type:
          type: object
          description: The activity type.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
    response_resultModel:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/resultModel'
        status:
          type: integer
          description: The HTTP return status.
x-api-evangelist-provenance:
  generated: '2026-09-06'
  method: searched
  source: https://developer.accela.com/api/v4/v4-records.json
  note: Harvested verbatim from the Accela Developer Portal API Reference, which renders these Swagger 2.0 documents via ReDoc (spec-url on developer.accela.com/docs/api_reference/api-*.html). The byte-identical original is kept at openapi/_original/. This copy is the same document serialized to YAML.
