openapi: 3.2.0
info:
  description: The Settings API provides configuration values that have been defined in Civic Platform Administration, typically as standard choice values. The Settings APIs are helpful when you need reference or custom-configured values in your API calls.
  title: Settings/Assessments API
  version: v4
servers:
- url: https://apis.accela.com/
tags:
- name: Settings/Assessments
paths:
  /v4/settings/assessments/types:
    get:
      description: 'Returns all active condition assessment types configured in Civic Platform Administration.


        **API Endpoint**: GET /v4/settings/assessments/types


        **Scope**: records


        **App Type**: Agency


        **Authorization Type**: Access token


        **Civic Platform version**: 9.0.0'
      summary: Get All Condition Assessment Types
      operationId: v4.get.settings.assessments.types
      tags:
      - Settings/Assessments
      parameters:
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_conditionAssessmentModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
components:
  parameters:
    lang:
      description: Language parameter to support I18N. Default language is en_US.
      in: query
      name: lang
      required: false
      schema:
        type: string
    fields:
      description: Comma-delimited names of fields to be returned in the response. Note - Field names are case-sensitive and only first-level fields are supported. Invalid field names are ignored.
      in: query
      name: fields
      required: false
      schema:
        type: string
  schemas:
    conditionAssessmentModel:
      type: object
      properties:
        conditionAssessment:
          description: The condition assessment id, as defined on Civic Platform Administration.
          type: string
        description:
          description: The condition assessment description. If the description is null, this field is not returned.
          type: string
    response_conditionAssessmentModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/conditionAssessmentModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
x-api-evangelist-provenance:
  generated: '2026-09-06'
  method: searched
  source: https://developer.accela.com/api/v4/v4-settings.json
  note: Harvested verbatim from the Accela Developer Portal API Reference, which renders these Swagger 2.0 documents via ReDoc (spec-url on developer.accela.com/docs/api_reference/api-*.html). The byte-identical original is kept at openapi/_original/. This copy is the same document serialized to YAML.
