openapi: 3.2.0
info:
  description: Accela API for transactional records and related record resources
  title: Records/Condition Approvals API
  version: v4
servers:
- url: https://apis.accela.com/
tags:
- name: Records/Condition Approvals
paths:
  /v4/records/{recordId}/conditionApprovals:
    get:
      description: 'Gets the conditions of approval for the specified record(s).


        **API Endpoint**: GET /v4/records/{recordId}/conditionApprovals


        **Scope**: records


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Get All Approval Conditions for Record
      operationId: v4.get.records.recordId.conditionApprovals
      tags:
      - Records/Condition Approvals
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/recordId'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/recordConditionModel'
                type: array
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
    post:
      description: 'Adds approval conditions to the specified record.


        **API Endpoint**: POST /v4/records/{recordId}/conditionApprovals


        **Scope**: records


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Create Record Approval Conditions
      operationId: v4.post.records.recordId.conditionApprovals
      tags:
      - Records/Condition Approvals
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/recordId'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/recordConditionModel'
              type: array
        description: Record condition information to be added.
        required: true
  /v4/records/{recordId}/conditionApprovals/{id}:
    get:
      description: 'Gets the specified condition of approvals for the specified record(s).


        **API Endpoint**: GET /v4/records/{recordId}/conditionApprovals/{id}


        **Scope**: records


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Get Record Approval Condition
      operationId: v4.get.records.recordId.conditionApprovals.id
      tags:
      - Records/Condition Approvals
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/recordId'
      - description: The ID of record condition approval to fetch.
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_recordConditionModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
    put:
      description: 'Updates the condition of approvals for the specified record(s).


        **API Endpoint**: PUT /v4/records/{recordId}/conditionApprovals/{id}


        **Scope**: records


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Update Record Approval Condition
      operationId: v4.put.records.recordId.conditionApprovals.id
      tags:
      - Records/Condition Approvals
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/recordId'
      - description: The ID of the condition approval to update.
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_recordConditionModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/request_recordConditionModel'
        description: The condition approval information to be updated.
        required: true
  /v4/records/{recordId}/conditionApprovals/{ids}:
    delete:
      description: 'Deletes approval conditions for the specified record.


        **API Endpoint**: DELETE /v4/records/{recordId}/conditionApprovals/{ids}


        **Scope**: records


        **App Type**: All


        **Authorization Type**: Access token


        **Civic Platform version**: 7.3.2'
      summary: Delete Record Approval Conditions
      operationId: v4.delete.records.recordId.conditionApprovals.ids
      tags:
      - Records/Condition Approvals
      parameters:
      - $ref: '#/components/parameters/authHeaderParam'
      - $ref: '#/components/parameters/recordId'
      - description: Comma-delimited IDs of the approval conditions to be deleted.
        in: path
        name: ids
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: 'Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_resultModelArray'
        '400':
          description: Invalid request.
        '401':
          description: Authorization failed.
        '403':
          description: Forbidden request.
        '404':
          description: Requested resource not found.
        '500':
          description: Internal server error or bad connection.
components:
  parameters:
    lang:
      description: Language parameter to support I18N. Default language is en_US.
      in: query
      name: lang
      required: false
      schema:
        type: string
    recordId:
      description: The ID of the record to fetch. See [Get All Records](./api-records.html#operation/v4.get.records), [Search Records](./api-search.html#operation/v4.post.search.records), or [Get My Records](./api-records.html#operation/v4.get.records.mine).
      in: path
      name: recordId
      required: true
      schema:
        type: string
    fields:
      description: Comma-delimited names of fields to be returned in the response. Note - Field names are case-sensitive and only first-level fields are supported. Invalid field names are ignored.
      in: query
      name: fields
      required: false
      schema:
        type: string
    authHeaderParam:
      description: Construct oAuth2 authentication token
      in: header
      name: Authorization
      required: true
      schema:
        type: string
  schemas:
    response_resultModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/resultModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    request_recordConditionModel:
      type: object
      properties:
        actionbyDepartment:
          type: object
          description: The department responsible for the action.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        actionbyUser:
          type: object
          description: The individual responsible for the action.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        activeStatus:
          type: object
          description: Indicates whether or not the condition is active.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        additionalInformation:
          description: An unlimited text field to use if other fields are filled.
          type: string
        additionalInformationPlainText:
          description: An unlimited text field to use if other fields are filled.
          type: string
        appliedDate:
          description: The date the standard condition was applied.
          format: date-time
          type: string
        appliedbyDepartment:
          type: object
          description: "The department responsible for applying a condition.\t"
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        appliedbyUser:
          type: object
          description: "The staff member responsible for applying a condition.\t"
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        conditionNumber:
          description: The condition sequence number.
          format: int64
          type: integer
        dispAdditionalInformationPlainText:
          description: An unlimited text field to use if other fields are filled.
          type: string
        displayNoticeInAgency:
          description: Indicates whether or not to display the condition notice in Accela Automation when a condition to a record or parcel is applied.
          type: boolean
        displayNoticeInCitizens:
          description: Indicates whether or not to display the condition notice in Accela Citizen Access when a condition to a record or parcel is applied.
          type: boolean
        displayNoticeInCitizensFee:
          description: Indicates whether or not to display the condition notice in Accela Citizen Access Fee Estimate page when a condition to a record or parcel is applied.
          type: boolean
        displayOrder:
          description: The display order of the condition in a list.
          format: int64
          type: integer
        effectiveDate:
          description: The date when you want the condition to become effective.
          format: date-time
          type: string
        expirationDate:
          description: The date when the condition expires.
          format: date-time
          type: string
        group:
          type: object
          description: The condition group is an attribute of a condition that organizes condition types. Your agency defines these groups.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        inheritable:
          type: object
          description: This defines whether or not Accela Automation checks for inheritable conditions when a user associates a child record with a parent record.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        isIncludeNameInNotice:
          description: Indicates whether or not to display the condition name in the notice.
          type: boolean
        isIncludeShortCommentsInNotice:
          description: Indicates whether or not to display the condition comments in the notice.
          type: boolean
        longComments:
          description: Narrative comments to help identify the purpose or uses of the standard condition.
          type: string
        name:
          description: The name of the standard condition.
          type: string
        priority:
          type: object
          description: The priority level assigned to the condition.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        publicDisplayMessage:
          description: Text entered into this field displays in the condition notice or condition status bar for the Condition Name for the public user in Accela IVR (AIVR) and Accela Citizen Access (ACA).
          type: string
        resAdditionalInformationPlainText:
          description: An unlimited text field to use if other fields are filled.
          type: string
        resolutionAction:
          description: he action performed in response to a condition.
          type: string
        serviceProviderCode:
          description: The unique agency identifier.
          type: string
        severity:
          type: object
          description: The severity of the condition.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        shortComments:
          description: A brief description of the condition name. For example, the text may describe the situation that requires the system to apply the condition. You can set these short comments to display when a user accesses an application with this condition applied to it
          type: string
        status:
          type: object
          description: The condition status.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        statusDate:
          description: The date when the current status changed.
          format: date-time
          type: string
        statusType:
          description: The status type for a standard condition or an approval condition, applied or not applied for example.
          type: string
        type:
          type: object
          description: The condition type.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
    recordConditionModel:
      type: object
      properties:
        actionbyDepartment:
          type: object
          description: The department responsible for the action.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        actionbyUser:
          type: object
          description: The individual responsible for the action.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        activeStatus:
          type: object
          description: Indicates whether or not the condition is active.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        additionalInformation:
          description: An unlimited text field to use if other fields are filled.
          type: string
        additionalInformationPlainText:
          description: An unlimited text field to use if other fields are filled.
          type: string
        appliedDate:
          description: The date the standard condition was applied.
          format: date-time
          type: string
        appliedbyDepartment:
          type: object
          description: "The department responsible for applying a condition.\t"
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        appliedbyUser:
          type: object
          description: "The staff member responsible for applying a condition.\t"
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        dispAdditionalInformationPlainText:
          description: An unlimited text field to use if other fields are filled.
          type: string
        displayNoticeInAgency:
          description: Indicates whether or not to display the condition notice in Accela Automation when a condition to a record or parcel is applied.
          type: boolean
        displayNoticeInCitizens:
          description: Indicates whether or not to display the condition notice in Accela Citizen Access when a condition to a record or parcel is applied.
          type: boolean
        displayNoticeInCitizensFee:
          description: Indicates whether or not to display the condition notice in Accela Citizen Access Fee Estimate page when a condition to a record or parcel is applied.
          type: boolean
        displayOrder:
          description: The display order of the condition in a list.
          format: int64
          type: integer
        effectiveDate:
          description: The date when you want the condition to become effective.
          format: date-time
          type: string
        expirationDate:
          description: The date when the condition expires.
          format: date-time
          type: string
        group:
          type: object
          description: The condition group is an attribute of a condition that organizes condition types. Your agency defines these groups.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        id:
          description: The condition system id assigned by the Civic Platform server.
          format: int64
          type: integer
        inheritable:
          type: object
          description: This defines whether or not Accela Automation checks for inheritable conditions when a user associates a child record with a parent record.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        isIncludeNameInNotice:
          description: Indicates whether or not to display the condition name in the notice.
          type: boolean
        isIncludeShortCommentsInNotice:
          description: Indicates whether or not to display the condition comments in the notice.
          type: boolean
        longComments:
          description: Narrative comments to help identify the purpose or uses of the standard condition.
          type: string
        name:
          description: The name of the standard condition.
          type: string
        priority:
          type: object
          description: The priority level assigned to the condition.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        publicDisplayMessage:
          description: Text entered into this field displays in the condition notice or condition status bar for the Condition Name for the public user in Accela IVR (AIVR) and Accela Citizen Access (ACA).
          type: string
        resAdditionalInformationPlainText:
          description: An unlimited text field to use if other fields are filled.
          type: string
        resolutionAction:
          description: he action performed in response to a condition.
          type: string
        serviceProviderCode:
          description: The unique agency identifier.
          type: string
        severity:
          type: object
          description: The severity of the condition.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        shortComments:
          description: A brief description of the condition name. For example, the text may describe the situation that requires the system to apply the condition. You can set these short comments to display when a user accesses an application with this condition applied to it
          type: string
        status:
          type: object
          description: The condition status.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
        statusDate:
          description: The date when the current status changed.
          format: date-time
          type: string
        statusType:
          description: The status type for a standard condition or an approval condition, applied or not applied for example.
          type: string
        type:
          type: object
          description: The condition type.
          properties:
            text:
              description: The localized display value.
              type: string
            value:
              description: The data value.
              type: string
    response_recordConditionModelArray:
      type: object
      properties:
        result:
          items:
            $ref: '#/components/schemas/recordConditionModel'
          type: array
        status:
          type: integer
          description: The HTTP return status.
    resultModel:
      type: object
      properties:
        code:
          description: The error code, if an error is encountered.
          type: string
        id:
          description: The system id of the object in this operation.
          format: int64
          type: integer
        isSuccess:
          description: Indicates whether or not the operation on the object is successful.
          type: boolean
        message:
          description: The error message, if an error is encountered
          type: string
x-api-evangelist-provenance:
  generated: '2026-09-06'
  method: searched
  source: https://developer.accela.com/api/v4/v4-records.json
  note: Harvested verbatim from the Accela Developer Portal API Reference, which renders these Swagger 2.0 documents via ReDoc (spec-url on developer.accela.com/docs/api_reference/api-*.html). The byte-identical original is kept at openapi/_original/. This copy is the same document serialized to YAML.
