{
  "basePath" : "/",
  "host" : "apis.accela.com",
  "info" : {
    "description" : "The Settings API provides configuration values that have been defined in Civic Platform Administration, typically as standard choice values. The Settings APIs are helpful when you need reference or custom-configured values in your API calls.",
    "title" : "Settings",
    "version" : "v4"
  },
  "schemes" : [ "https" ],
  "swagger" : "2.0",
  "paths" : {
    "/v4/settings/activities/priorities" : {
      "get" : {
        "description" : "Gets a list of available priorities.\n\n\n\n**API Endpoint**: GET /v4/settings/activities/priorities\n\n**Scope**:  settings \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.3\n\n",
        "summary" : "Get All Activity Priorities",
        "operationId" : "v4.get.settings.activities.priorities",
        "tags" : [ "Settings/Activities" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/activities/statuses" : {
      "get" : {
        "description" : "Gets all status values associated with activities.\n\n\n\n**API Endpoint**:  GET /v4/settings/activities/statuses \n\n**Scope**:  settings \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.3\n\n",
        "summary" : "Get All Activity Statuses",
        "operationId" : "v4.get.settings.activities.statuses",
        "tags" : [ "Settings/Activities" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/activities/types" : {
      "get" : {
        "description" : "Gets all type values associated with activities.\n\n\n\n**API Endpoint**:  GET /v4/settings/activities/types \n\n**Scope**:  settings \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.3\n\n",
        "summary" : "Get All Activity Types",
        "operationId" : "v4.get.settings.activities.types",
        "tags" : [ "Settings/Activities" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "Filter by entity type.",
          "in" : "query",
          "name" : "entityType",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/addresses/countries" : {
      "get" : {
        "description" : "Gets the countries for use in an address.\n\n\n\n**API Endpoint**:  GET /v4/settings/addresses/countries \n\n**Scope**:  addresses \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Address Countries",
        "operationId" : "v4.get.settings.addresses.countries",
        "tags" : [ "Settings/Addresses" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/addresses/customForms" : {
      "get" : {
        "summary" : "Get Metadata for Address Custom Forms",
        "description" : "Returns the field metadata for all address custom forms (address templates) in the system.\n\n\n\n**API Endpoint**:  GET /v4/settings/addresses/customForms \n\n**Scope**:  addresses \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 9.3.0\n\n",
        "tags" : [ "Settings/Addresses" ],
        "operationId" : "v4.get.settings.addresses.customForms",
        "parameters" : [ {
          "description" : "Construct oAuth2 authentication token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "type" : "string"
        }, {
          "description" : "Language parameter to support I18N. Default language is en_US",
          "in" : "query",
          "name" : "lang",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_apo_customForms_metadata"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/addresses/states" : {
      "get" : {
        "description" : "Gets the states for use in an address.\n\n\n\n**API Endpoint**:  /v4/settings/addresses/states GET \n\n**Scope**:  addresses \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Address States",
        "operationId" : "v4.get.settings.addresses.states",
        "tags" : [ "Settings/Addresses" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/addresses/streetDirections" : {
      "get" : {
        "description" : "Gets the street directions for use in an address.\n\n\n\n**API Endpoint**:  GET /v4/settings/addresses/streetDirections \n\n**Scope**:  addresses \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Address Street Directions",
        "operationId" : "v4.get.settings.addresses.streetDirections",
        "tags" : [ "Settings/Addresses" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/addresses/streetFractions" : {
      "get" : {
        "description" : "Gets the street fractions for use in an address.\n\n\n\n**API Endpoint**:  GET /v4/settings/addresses/streetFractions \n\n**Scope**:  addresses \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Address Street Fractions",
        "operationId" : "v4.get.settings.addresses.streetFractions",
        "tags" : [ "Settings/Addresses" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/addresses/streetSuffixes" : {
      "get" : {
        "description" : "Gets the street types for use in an address.\n\n\n\n**API Endpoint**:  GET /v4/settings/addresses/streetSuffixes \n\n**Scope**:  addresses \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Address Street Suffixes",
        "operationId" : "v4.get.settings.addresses.streetSuffixes",
        "tags" : [ "Settings/Addresses" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/addresses/unitTypes" : {
      "get" : {
        "description" : "Gets the unit types for use in an address.\n\n\n\n**API Endpoint**:  GET /v4/settings/addresses/unitTypes \n\n**Scope**:  addresses \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Address Unit Types",
        "operationId" : "v4.get.settings.addresses.unitTypes",
        "tags" : [ "Settings/Addresses" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/assessments/types" : {
      "get" : {
        "description" : "Returns all active condition assessment types configured in Civic Platform Administration.\n\n\n\n**API Endpoint**:  GET /v4/settings/assessments/types \n\n**Scope**:  records \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 9.0.0\n\n",
        "summary" : "Get All Condition Assessment Types",
        "operationId" : "v4.get.settings.assessments.types",
        "tags" : [ "Settings/Assessments" ],
        "parameters" : [ {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_conditionAssessmentModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/assets/groups" : {
      "get" : {
        "description" : "Get all configured asset groups.\n\n\n\n**API Endpoint**:  GET /v4/settings/assets/groups \n\n**Scope**:  assets \n\n**App Type**:  Agency \n\n**Authorization Type**:  No authorization required \n\n**Civic Platform version**: 9.0.0\n\n",
        "summary" : "Get All Asset Groups",
        "operationId" : "v4.get.settings.assets.groups",
        "tags" : [ "Settings/Assets" ],
        "parameters" : [ {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/assets/sizeUnits" : {
      "get" : {
        "description" : "Gets all configured asset size units.\n\n\n\n**API Endpoint**:  GET /v4/settings/assets/sizeUnits \n\n**Scope**:  assets \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 9.0.0\n\n",
        "summary" : "Get All Asset Size Units",
        "operationId" : "v4.get.settings.assets.sizeUnits",
        "tags" : [ "Settings/Assets" ],
        "parameters" : [ {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/assets/statuses" : {
      "get" : {
        "description" : "Gets all configured asset statuses.\n\n\n\n**API Endpoint**:  GET /v4/settings/assets/statuses \n\n**Scope**:  assets \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 9.0.0\n\n",
        "summary" : "Get All Asset Statuses",
        "operationId" : "v4.get.settings.assets.statuses",
        "tags" : [ "Settings/Assets" ],
        "parameters" : [ {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/assettypes/classTypes" : {
      "get" : {
        "description" : "Returns all out-of-the-box asset class types in Civic Platform.\n\n\n\n**API Endpoint**:  GET /v4/settings/assettypes/classTypes \n\n**Scope**:  assets \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 9.0.0\n\n",
        "summary" : "Get All Asset Class Types",
        "operationId" : "v4.get.settings.assettypes.classTypes",
        "tags" : [ "Settings/Asset Types" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/offset"
        }, {
          "$ref" : "#/parameters/limit"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "description" : "Contains the class types.",
              "type" : "object",
              "properties" : {
                "result" : {
                  "items" : {
                    "type" : "string",
                    "description" : "An asset class type"
                  },
                  "type" : "array"
                },
                "status" : {
                  "type" : "integer",
                  "description" : "The HTTP return status."
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/assettypes/ratingTypes" : {
      "get" : {
        "description" : "Returns all configured asset rating types. Specify both {assetType} and {assetGroup} parameters to filter by asset type and asset group.\n\n\n\n**API Endpoint**:  GET /v4/settings/assettypes/ratingTypes \n\n**Scope**:  assets \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 9.0.0\n\n",
        "summary" : "Get All Asset Rating Types",
        "operationId" : "v4.get.settings.assettypes.ratingTypes",
        "tags" : [ "Settings/Asset Types" ],
        "parameters" : [ {
          "description" : "**NOTE: If this parameter is provided, then assetType is required. If this parameter is omitted, then assetType must also be omitted too.** Filter by asset group. For example: Water or Street. An Asset Group is an agency-defined collection of objects the agency owns or maintains.",
          "in" : "query",
          "name" : "assetGroup",
          "type" : "string"
        }, {
          "description" : "**NOTE: If this parameter is provided, then assetGroup is required. If this parameter is omitted, assetGroup must also be omitted too.** Filter by type of asset. For example: Hydrant or Manhole. An Asset Type is an agencydefined classification of similar objects that share the same standard asset attributes. Related asset types belong to an asset group, and multiple asset types can share the same Class Type. See [Get All Asset Types](./api-settings.html#operation/v4.get.settings.assettypes.types).",
          "in" : "query",
          "name" : "assetType",
          "type" : "string"
        }, {
          "$ref" : "#/parameters/offset"
        }, {
          "$ref" : "#/parameters/limit"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_ratingTypeModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/assettypes/recordtypes" : {
      "get" : {
        "description" : "Returns all configured record types for a given asset type or asset group.\n\n\n\n**API Endpoint**:  GET /v4/settings/assettypes/recordtypes \n\n**Scope**:  settings \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 9.0.0\n\n",
        "summary" : "Get All Record Types for Asset Type",
        "operationId" : "v4.get.settings.assettypes.recordtypes",
        "tags" : [ "Settings/Asset Types" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "Filter by asset group. For example: Water or Street. An Asset Group is an agency-defined collection of objects the agency owns or maintains.",
          "in" : "query",
          "name" : "assetGroup",
          "required" : true,
          "type" : "string"
        }, {
          "description" : "Filter by type of asset. For example: Hydrant or Manhole. An Asset Type is an agencydefined classification of similar objects that share the same standard asset attributes. Related asset types belong to an asset group, and multiple asset types can share the same Class Type. See [Get All Asset Types](./api-settings.html#operation/v4.get.settings.assettypes.types).",
          "in" : "query",
          "name" : "assetType",
          "type" : "string"
        }, {
          "$ref" : "#/parameters/offset"
        }, {
          "$ref" : "#/parameters/limit"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_assetRecordTypeModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/assettypes/types" : {
      "get" : {
        "description" : "Returns all asset types, which can be filtered by asset group.\n\n\n\n**API Endpoint**: GET /v4/settings/assettypes/types \n\n**Scope** : assets\n\n**App Type** : Agency\n\n**Authorization Type** : Access token\n\n**Civic Platform version** : 9.0.0\n\n ",
        "summary" : "Get All Asset Types",
        "operationId" : "v4.get.settings.assettypes.types",
        "tags" : [ "Settings/Asset Types" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "Filter by asset group.",
          "in" : "query",
          "name" : "assetGroup",
          "type" : "string"
        }, {
          "$ref" : "#/parameters/offset"
        }, {
          "$ref" : "#/parameters/limit"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_assetTypeModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/assettypes/usageTypes" : {
      "get" : {
        "description" : "Returns all configured asset usage types.\n\n\n\n**API Endpoint**:  GET /v4/settings/assettypes/usageTypes \n\n**Scope**:  assets \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 9.0.0\n\n",
        "summary" : "Get All Asset Usage Types",
        "operationId" : "v4.get.settings.assettypes.usageTypes",
        "tags" : [ "Settings/Asset Types" ],
        "parameters" : [ {
          "description" : "Asset group filter",
          "in" : "query",
          "name" : "assetGroup",
          "type" : "string"
        }, {
          "description" : "Asset type filter",
          "in" : "query",
          "name" : "assetType",
          "type" : "string"
        }, {
          "$ref" : "#/parameters/offset"
        }, {
          "$ref" : "#/parameters/limit"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_assetUnitTypeModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/comments" : {
      "get" : {
        "description" : "Gets the standard comments available in the system.\n\n\n\n**API Endpoint**:  GET v4/settings/comments \n\n**Scope**:  settings \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Standard Comments",
        "operationId" : "v4.get.settings.comments",
        "tags" : [ "Settings/Comments" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "Filter by group.",
          "in" : "query",
          "name" : "groups",
          "required" : false,
          "type" : "string"
        }, {
          "description" : "Filter by one or more (comma-delimited) standard comment types. For valid values, use types[] in [Get All Standard Comment Groups](./api-settings.html#operation/v4.get.settings.comments.groups).\n\n**Civic Platform version**: 9.3.0\n\n",
          "in" : "query",
          "name" : "types",
          "required" : false,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/lang"
        }, {
          "$ref" : "#/parameters/offset"
        }, {
          "$ref" : "#/parameters/limit"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_standardCommentModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/comments/groups" : {
      "get" : {
        "description" : "Gets available standard comment groups.\n\n\n\n**API Endpoint**:  GET /v4/settings/comments/groups \n\n**Scope**:  settings \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Standard Comment Groups",
        "operationId" : "v4.get.settings.comments.groups",
        "tags" : [ "Settings/Comments" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang"
        }, {
          "$ref" : "#/parameters/offset"
        }, {
          "$ref" : "#/parameters/limit"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_standardCommentGroupModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/conditionApprovals/statuses" : {
      "get" : {
        "description" : "Gets the statuses for use with a conditon of approval.\n\n\n\n**API Endpoint**:  GET /v4/settings/conditionApprovals/statuses \n\n**Scope**:  conditions \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Approval Condition Statuses",
        "operationId" : "v4.get.settings.conditionApprovals.statuses",
        "tags" : [ "Settings/Conditions" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/conditions/priorities" : {
      "get" : {
        "description" : "Gets the priorities for use with a standard condition.\n\n\n\n**API Endpoint**:  GET /v4/settings/conditions/priorities \n\n**Scope**:  conditions \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Standard Conditon Priorities",
        "operationId" : "v4.get.settings.conditions.priorities",
        "tags" : [ "Settings/Conditions" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/conditions/statuses" : {
      "get" : {
        "description" : "Gets the statuses for use with a standard condition.\n\n\n\n**API Endpoint**:  GET /v4/settings/conditions/statuses \n\n**Scope**:  conditions \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Standard Condition Statuses",
        "operationId" : "v4.get.settings.conditions.statuses",
        "tags" : [ "Settings/Conditions" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_conditionStatusModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/conditions/types" : {
      "get" : {
        "description" : "Gets the standard condition types.\n\n\n\n**API Endpoint**:  GET /v4/settings/conditions/types \n\n**Scope**:  conditions \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Standard Condition Types",
        "operationId" : "v4.get.settings.conditions.types",
        "tags" : [ "Settings/Conditions" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_conditionTypeModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/contacts/preferredChannels" : {
      "get" : {
        "description" : "Gets the preferred channels for use with a contact.\n\n\n\n**API Endpoint**:  GET /v4/settings/contacts/preferredChannels \n\n**Scope**:  contacts \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Contact Preferred Channels",
        "operationId" : "v4.get.settings.contacts.preferredChannels",
        "tags" : [ "Settings/Contacts" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/contacts/races" : {
      "get" : {
        "description" : "Gets the races for use with a contact.\n\n\n\n**API Endpoint**:  GET /v4/settings/contacts/races \n\n**Scope**:  contacts \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Contact Races",
        "operationId" : "v4.get.settings.contacts.races",
        "tags" : [ "Settings/Contacts" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/contacts/relations" : {
      "get" : {
        "description" : "Gets the relations for use with a contact.\n\n\n\n**API Endpoint**:  GET /v4/settings/contacts/relations \n\n**Scope**:  contacts \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Contact Relations",
        "operationId" : "v4.get.settings.contacts.relations",
        "tags" : [ "Settings/Contacts" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/contacts/salutations" : {
      "get" : {
        "description" : "Gets the salutations for use with a contact.\n\n\n\n**API Endpoint**:  GET /v4/settings/contacts/salutations \n\n**Scope**:  contacts \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Contact Salutations",
        "operationId" : "v4.get.settings.contacts.salutations",
        "tags" : [ "Settings/Contacts" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/contacts/types" : {
      "get" : {
        "description" : "Gets the contact types for use with a contact.\n\n\n\n**API Endpoint**:  GET /v4/settings/contacts/types \n\n**Scope**:  contacts \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Contact Types",
        "operationId" : "v4.get.settings.contacts.types",
        "tags" : [ "Settings/Contacts" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "Moudle Name",
          "in" : "query",
          "name" : "module",
          "required" : false,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/lang"
        },
        {
          "description" : "Flag to expand the reponse",
          "in" : "query",
          "name" : "expand",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/contacts/types/{id}/customForms" : {
      "get" : {
        "description" : "Get the metadata of all custom forms for the specified contact type.\n\n\n\n**API Endpoint**:  GET /v4/settings/contacts/types/{id}/customForms \n\n**Scope**:  settings \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Custom Forms Metadata for Contact Type",
        "operationId" : "v4.get.settings.contacts.types.id.customForms",
        "tags" : [ "Settings/Contacts" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "The ID of the contact type to fetch.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_customFormMetadataModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/contacts/types/{id}/customTables" : {
      "get" : {
        "description" : "Gets the metadata for all custom tables for the specified contact type.\n\n\n\n**API Endpoint**:  GET /v4/settings/contacts/types/{id}/customTables \n\n**Scope**:  settings \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 8.0.3\n\n",
        "summary" : "Get All Custom Tables Metadata for Contact Type",
        "operationId" : "v4.get.settings.contacts.types.id.customTables",
        "tags" : [ "Settings/Contacts" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "The ID of the contact type to fetch.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_customTableMetadataModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/costs/accounts" : {
      "get" : {
        "description" : "Gets all accounts associated with costs.\n\n\n\n**API Endpoint**:  GET /v4/settings/costs/accounts \n\n**Scope**:  settings \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.3\n\n",
        "summary" : "Get All Cost Accounts",
        "operationId" : "v4.get.settings.costs.accounts",
        "tags" : [ "Settings/Costs" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/costs/factors" : {
      "get" : {
        "description" : "Gets all factors associated with costs.\n\n\n\n**API Endpoint**:  GET /v4/settings/costs/factors \n\n**Scope**:  settings \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.3\n\n",
        "summary" : "Get All Cost Factors",
        "operationId" : "v4.get.settings.costs.factors",
        "tags" : [ "Settings/Costs" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/costs/types" : {
      "get" : {
        "description" : "Gets all type values associated with costs.\n\n\n\n**API Endpoint**:  GET /v4/settings/costs/types \n\n**Scope**:  settings \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.3\n\n",
        "summary" : "Get All Cost Types",
        "operationId" : "v4.get.settings.costs.types",
        "tags" : [ "Settings/Costs" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/costs/types/{typeName}/items" : {
      "get" : {
        "description" : "Gets all items associated to the specified cost type.\n\n\n\n**API Endpoint**:  GET /v4/settings/costs/types/{typeName}/items \n\n**Scope**:  settings \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.3\n\n",
        "summary" : "Get All Cost Type Items",
        "operationId" : "v4.get.settings.costs.types.typeName.items",
        "tags" : [ "Settings/Costs" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "The ID of cost type to fetch.",
          "in" : "path",
          "name" : "typeName",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/costs/unitTypes" : {
      "get" : {
        "description" : "Get the unit types for use with a cost.\n\n\n\n**API Endpoint**:  GET /v4/settings/costs/unitTypes \n\n**Scope**:  settings \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.3\n\n",
        "summary" : "Get All Cost Unit Types",
        "operationId" : "v4.get.settings.costs.unitTypes",
        "tags" : [ "Settings/Costs" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/costs/types/items" : {
      "post" : {
        "description" : "Search Cost Type Items.\n\n\n\n**API Endpoint**:  POST /v4/settings/costs/types/items \n\n**Scope**:  settings \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 22.2.0\n\n",
        "summary" : "Search Cost Type Items",
        "operationId" : "v4.post.settings.costs.types.items",
        "tags" : [ "Settings/Costs" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang",
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "type" : "object",
            "properties" : {
              "value" : {
                "description" : "The setting value.",
                "type" : "string"
              },
              "text" : {
                "description" : "The setting label.",
                "type" : "string"
              }
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingCostsTypeItems"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
		"/v4/settings/documents/types": {
			"get": {
                "description": "Get all document types (including document groups).\n\n\n\n**API Endpoint**:  GET /v4/settings/documents/types \n\n**Scope**:  documents \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 22.1.0\n\n",
                "summary": "Get Document Types",
                "operationId": "v4.get.documents.types",
                "tags": ["Settings/Documents"],				
                "parameters": [{
					"$ref": "#/parameters/authHeaderParam"
				}, {
					"$ref": "#/parameters/offset"
				}, {
					"$ref": "#/parameters/limit"
				}, {
          "description" : "The related objects to be returned with the response. The related object(s) will be returned if data exists; if data does not exist, the requested object(s) will not be included in the response.",
          "in" : "query",
          "name" : "expand",
          "enum" : [ "associations" ],
          "type" : "string"
        }],
				"responses": {
					"200": {
						"description": "Successful request. \n\nNote: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
						"schema": {
							"$ref": "#/definitions/response_documentTypesModel"
						}
					},
					"400": {
						"description": "Invalid request."
					},
					"401": {
						"description": "Authorization failed."
					},
					"403": {
						"description": "Forbidden request."
					},
					"404": {
						"description": "Requested resource not found."
					},
					"500": {
						"description": "Internal server error or bad connection."
					}
				}
			}
		},
    "/v4/settings/departments" : {
      "get" : {
        "description" : "Gets a list of agency departments.\n\n\n\n**API Endpoint**:  GET /v4/settings/departments \n\n**Scope**:  settings \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Department Staff",
        "operationId" : "v4.get.settings.departments",
        "tags" : [ "Settings/Departments" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_departmentModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/departments/{id}/staffs" : {
      "get" : {
        "description" : "Gets the staff members for a specified department. NOTE: To return the users within a department, this API requires an Automation administrator to activate FID 0045 (Admin Organization Hierarchy) and FID 0004 (Admin Users) with read-only access.\n\n\n\n**API Endpoint**:  GET /v4/settings/departments/{id}/staffs \n\n**Scope**:  settings \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Department Staff",
        "operationId" : "v4.get.settings.departments.id.staffs",
        "tags" : [ "Settings/Departments" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "The ID of the department to fetch.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_userModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/documents/folders" : {
      "post" : {
        "description" : "Creates document folders.\n\n\n\n**API Endpoint**:   POST /v4/settings/documents/folders \n\n**Scope**:  documents \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.3\n\n",
        "summary" : "Create Folders",
        "operationId" : "v4.post.settings.documents.folders",
        "tags" : [ "Settings/Documents" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "The document folders to create.",
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "items" : {
              "$ref" : "#/definitions/documentFolderModel"
            },
            "type" : "array"
          }
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_resultModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      },
      "put" : {
        "description" : "Updates document folders.\n\n\n\n**API Endpoint**:  PUT /v4/settings/documents/folders \n\n**Scope**:  documents \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.3\n\n",
        "summary" : "Update Folders",
        "operationId" : "v4.put.settings.documents.folders",
        "tags" : [ "Settings/Documents" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "The document folder information to be updated.",
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "items" : {
              "$ref" : "#/definitions/documentFolderModel"
            },
            "type" : "array"
          }
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_resultModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/documents/folders/{ids}" : {
      "delete" : {
        "description" : "Deletes the specified document folders.\n\n\n\n**API Endpoint**:  DELETE /v4/settings/documents/folders/{ids}  \n\n**Scope**:  documents \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.3\n\n",
        "summary" : "Delete Folders",
        "operationId" : "v4.delete.settings.documents.folders.ids",
        "tags" : [ "Settings/Documents" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "Comma-delimited IDs of the document folders to delete.",
          "in" : "path",
          "name" : "ids",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_resultModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/documents/categories" : {
      "get" : {
        "description" : "Gets the document types.\n\n\n\n**API Endpoint**:  GET /v4/settings/documents/categories \n\n**Scope**:  documents \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Document Categories",
        "operationId" : "v4.get.settings.documents.categories",
        "tags" : [ "Settings/Documents" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_documentTypeModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/documents/folderGroups" : {
      "get" : {
        "description" : "Gets all folder groups in the system.\n\n\n\n**API Endpoint**:  GET /v4/settings/documents/folderGroups \n\n**Scope**:  documents \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.3\n\n",
        "summary" : "Get All Folder Groups",
        "operationId" : "v4.get.settings.documents.folderGroups",
        "tags" : [ "Settings/Documents" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "Filter whether or not the folder gorup is active.",
          "in" : "query",
          "name" : "isActive",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_folderGroupModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      },
      "put" : {
        "description" : "Updates folder groups for documents.\n\n\n\n**API Endpoint**:  PUT /v4/settings/documents/folderGroups  \n\n**Scope**:  documents \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.3\n\n",
        "summary" : "Update Folder Groups",
        "operationId" : "v4.put.settings.documents.folderGroups",
        "tags" : [ "Settings/Documents" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "The document folder group information to be updated.",
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "items" : {
              "$ref" : "#/definitions/folderGroupModel"
            },
            "type" : "array"
          }
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_resultModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/documents/folders/{groupId}" : {
      "get" : {
        "description" : "Gets the folders in the specified folder group.\n\n\n\n**API Endpoint**:  GET /v4/settings/documents/folders/{groupId} \n\n**Scope**:  documents \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.3\n\n",
        "summary" : "Get Folder Group",
        "operationId" : "v4.get.settings.documents.folders.groupId",
        "tags" : [ "Settings/Documents" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "The ID of the folder group to fetch.",
          "in" : "path",
          "name" : "groupId",
          "required" : true,
          "type" : "string"
        }, {
          "description" : "Filter by whether or not the folder is active.",
          "in" : "query",
          "name" : "isActive",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_documentFolderModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/drillDown/{drillId}" : {
      "get" : {
        "description" : "Gets the values for the specified drilldown.\n\n\n\n**API Endpoint**:  GET /v4/settings/drillDown/{drillId} \n\n**Scope**:  settings \n\n**App Type**:  All \n\n**Authorization Type**:  No authorization required \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get Drilldown Settings",
        "operationId" : "v4.get.settings.drillDowns.drillId",
        "tags" : [ "Settings/Drilldowns" ],
        "parameters" : [ {
          "description" : "The ID of of the drilldown field to fetch.",
          "format" : "int64",
          "in" : "path",
          "name" : "drillId",
          "required" : true,
          "type" : "integer"
        }, {
          "description" : "The name of the parent table to which the drilldown values apply.",
          "in" : "query",
          "name" : "parentValue",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_settingValueModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/inspections/checklists" : {
      "get" : {
        "description" : "Gets all checklists you can use for an inspection.\n\n\n\n**API Endpoint**:  GET /v4/settings/inspections/checklists \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Checklists",
        "operationId" : "v4.get.settings.inspections.checklists",
        "tags" : [ "Settings/Inspections" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "Filter by checklist group. See [Get All Checklist Groups](./api-settings.html#operation/v4.get.settings.inspections.checklistsGroups).",
          "in" : "query",
          "name" : "group",
          "required" : false,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/offset"
        }, {
          "$ref" : "#/parameters/limit"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_checklistModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/inspections/checklists/{ids}" : {
      "get" : {
        "description" : "Gets specific checklists.\n\n\n\n**API Endpoint**:  GET /v4/settings/inspections/checklists/{ids} \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get Checklists",
        "operationId" : "v4.get.settings.inspections.checklists.ids",
        "tags" : [ "Settings/Inspections" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "Comma-delimited IDs of the checklists to fetch.",
          "in" : "path",
          "name" : "ids",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_checklistModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/inspections/checklists/{checklistId}/checklistItems/{checklistItemid}/customForms" : {
      "get" : {
        "description" : "Gets the metadata for all custom forms for the specified checklist item.\n\n\n\n**API Endpoint**:  GET /v4/settings/inspections/checklists/{checklistId}/checklistItems/{checklistItemid}/customForms \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Custom Forms Metadata for Checklist Item",
        "operationId" : "v4.get.settings.inspections.checklists.checklistId.checklistItems.checklistItemId.customForms",
        "tags" : [ "Settings/Inspections" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "The ID of the checklist to fetch.",
          "in" : "path",
          "name" : "checklistId",
          "required" : true,
          "type" : "string"
        }, {
          "description" : "The ID of the checklist item to fetch.",
          "format" : "int64",
          "in" : "path",
          "name" : "checklistItemid",
          "required" : true,
          "type" : "integer"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_customFormMetadataModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/inspections/checklists/{checklistId}/checklistItems/{checklistItemid}/customTables" : {
      "get" : {
        "description" : "Gets the metadata of all custom tables for the specified checklist item.\n\n\n\n**API Endpoint**:  GET /v4/settings/inspections/checklists/{checklistId}/checklistItems/{checklistItemid}/customTables \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Custom Tables Metadata for Checklist Item",
        "operationId" : "v4.get.settings.inspections.checklists.checklistId.checklistItems.checklistItemId.customTables",
        "tags" : [ "Settings/Inspections" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "The id of the checklist to fetch.",
          "format" : "int64",
          "in" : "path",
          "name" : "checklistId",
          "required" : true,
          "type" : "integer"
        }, {
          "description" : "The id of the checklist item to fetch.",
          "format" : "int64",
          "in" : "path",
          "name" : "checklistItemid",
          "required" : true,
          "type" : "integer"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_customTableMetadataModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/inspections/checklistsGroups" : {
      "get" : {
        "description" : "Gets the checklist groups for use with an inspection.\n\n\n\n**API Endpoint**:  GET /v4/settings/inspections/checklistsGroups \n\n**Scope**:  inspections \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Checklist Groups",
        "operationId" : "v4.get.settings.inspections.checklistsGroups",
        "tags" : [ "Settings/Inspections" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_checklistGroupModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/inspections/checklists/statuses" : {
      "get" : {
        "description" : "Gets the status values for checklists\n\n\n\n**API Endpoint**:  GET /v4/settings/inspections/checklists/statuses \n\n**Scope**:  inspections \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.3\n\n",
        "summary" : "Get Inspection Checklist Statuses",
        "operationId" : "v4.get.settings.inspections.checklists.statuses",
        "tags" : [ "Settings/Inspections" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "Filter by status group",
          "in" : "query",
          "name" : "group",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_checklistItemStatusModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/inspections/types" : {
      "get" : {
        "description" : "Gets all available inspection types.\n\n\n\n**API Endpoint**:  GET v4/settings/inspections/types \n\n**Scope**:  inspections \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Inspection Types",
        "operationId" : "v4.get.settings.inspections.types",
        "tags" : [ "Settings/Inspections" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "Filter by inspection type group code.",
          "in" : "query",
          "name" : "group",
          "type" : "string"
        }, {
          "description" : "The related objects to be returned with the response. The related object(s) will be returned if data exists; if data does not exist, the requested object(s) will not be included in the response.",
          "in" : "query",
          "name" : "expand",
          "enum" : [ "associations" ],
          "type" : "string"
        }, {
          "$ref" : "#/parameters/limit"
        }, {
          "$ref" : "#/parameters/offset"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_inspectionTypeModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/settings/inspections/types/{ids}" : {
      "get" : {
        "description" : "Gets specific inspection types.\n\n\n\n**API Endpoint**:  GET /v4/settings/inspections/types/{ids} \n\n**Scope**:  inspections \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get Inspection Types",
        "operationId" : "v4.get.settings.inspections.types.ids",
        "tags" : [ "Settings/Inspections" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "Comma-delimited IDs of inspection types to fetch.",
          "in" : "path",
          "name" : "ids",
          "required" : true,
          "type" : "string"
        }, {
          "description" : "The related objects to be returned with the response. The related object(s) will be returned if data exists; if data does not exist, the requested object(s) will not be included in the response.",
          "in" : "query",
          "name" : "expand",
          "enum" : [ "associations" ],
          "type" : "string"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
[...]
