{
  "basePath" : "/",
  "host" : "apis.accela.com",
  "info" : {
    "description" : "Accela API for transactional records and related record resources",
    "title" : "Records",
    "version" : "v4"
  },
  "schemes" : [ "https" ],
  "swagger" : "2.0",
  "tags" : [ {
    "name" : "Records",
    "description" : "A record is a fundamental Civic Platform object that captures an agency's daily process tranactions, such as applications, permits, cases, licenses, service requests, and work orders."
  }, {
    "name" : "Records/Activities",
    "description" : "Activities related to a record can be assigned to a staff member when the activities require further action, such as a follow-up inspection or service maintenance."
  }, {
    "name" : "Records/Addresses",
    "description" : "A record can have at least one associated address, such as the address of the application contact or the location of a permit application, service request, or work order."
  }, {
    "name" : "Records/Addresses/Custom Forms"
  }, {
    "name" : "Records/Assets",
    "description" : "A work order record is linked to assets that require inspection, repair service, or any kind of task that needs to be performed and tracked in the system."
  }, {
    "name" : "Records/Comments",
    "description" : "A staff user can add comments regarding the record, or can choose from standard comments that have been configured for the agency."
  }, {
    "name" : "Records/Conditions",
    "description" : "A condition is a requirement that you can apply to an application (or component of an application), that the application must fulfill to qualify for approval. Although conditions do not necessarily impose holds, they can prolong the permitting process until they met."
  }, {
    "name" : "Records/Condition Approvals"
  }, {
    "name" : "Records/Contacts",
    "description" : "One or more reference contacts can be associated to an application or service request."
  }, {
    "name" : "Records/Contacts/Custom Forms"
  }, {
    "name" : "Records/Contacts/Custom Tables"
  }, {
    "name" : "Records/Costs"
  }, {
    "name" : "Records/Custom Forms"
  }, {
    "name" : "Records/Custom Tables"
  }, {
    "name" : "Records/Documents"
  }, {
    "name" : "Records/Fees"
  }, {
    "name" : "Records/Inspections"
  }, {
    "name" : "Records/Invoices"
  }, {
    "name" : "Records/Owners"
  }, {
    "name" : "Records/Parcels"
  }, {
    "name" : "Records/Part Transactions"
  }, {
    "name" : "Records/Payments"
  }, {
    "name" : "Records/Professionals"
  }, {
    "name" : "Records/Trust Accounts"
  }, {
    "name" : "Records/Workflows"
  } ],
  "paths" : {
    "/v4/records" : {
      "get" : {
        "description" : "Gets record information, based on the specified query parameters.\n\n\n\n**API Endpoint**:  GET /v4/records \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  \tNo authorization required \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Records",
        "operationId" : "v4.get.records",
        "tags" : [ "Records" ],
        "parameters" : [ {
          "description" : "Filter by record type. See [Get All Record Types](./api-settings.html#operation/v4.get.settings.records.types).",
          "in" : "query",
          "name" : "type",
          "type" : "string"
        }, {
          "description" : "Filter by the record's open date range, beginning with this date.",
          "in" : "query",
          "name" : "openedDateFrom",
          "type" : "string"
        }, {
          "description" : "Filter by the record's open date range, ending with this date.",
          "in" : "query",
          "name" : "openedDateTo",
          "type" : "string"
        }, {
          "description" : "Filter by the record custom id.",
          "in" : "query",
          "name" : "customId",
          "type" : "string"
        }, {
          "description" : "Filter by module. See [Get All Modules](./api-settings.html#operation/v4.get.settings.modules).",
          "in" : "query",
          "name" : "module",
          "type" : "string"
        }, {
          "description" : "Filter by record status.",
          "in" : "query",
          "name" : "status",
          "type" : "string"
        }, {
          "description" : "Filter by the assigned department.",
          "in" : "query",
          "name" : "assignedToDepartment",
          "type" : "string"
        }, {
          "description" : "Filter by the assigned user.",
          "in" : "query",
          "name" : "assignedUser",
          "type" : "string"
        }, {
          "description" : "Filter by the record's assigned date range starting with this date.",
          "in" : "query",
          "name" : "assignedDateFrom",
          "type" : "string"
        }, {
          "description" : "Filter by the record's assigned date range ending with this date.",
          "in" : "query",
          "name" : "assignedDateTo",
          "type" : "string"
        }, {
          "description" : "Filter by the record's completed date range starting with this date.",
          "in" : "query",
          "name" : "completedDateFrom",
          "type" : "string"
        }, {
          "description" : "Filter by the record's completed date range ending with this date.",
          "in" : "query",
          "name" : "completedDateTo",
          "type" : "string"
        }, {
          "description" : "Filter by the record's status date range starting with this date.",
          "in" : "query",
          "name" : "statusDateFrom",
          "type" : "string"
        }, {
          "description" : "Filter by the record's status date range ending with this date.",
          "in" : "query",
          "name" : "statusDateTo",
          "type" : "string"
        }, {
          "description" : "Filter by the deparment which completed the application.",
          "in" : "query",
          "name" : "completedByDepartment",
          "type" : "string"
        }, {
          "description" : "Filter by the user who completed the application.",
          "in" : "query",
          "name" : "completedByUser",
          "type" : "string"
        }, {
          "description" : "Filter by the record's closed date range starting with this date.",
          "in" : "query",
          "name" : "closedDateFrom",
          "type" : "string"
        }, {
          "description" : "Filter by the record's closed date range ending with this date.",
          "in" : "query",
          "name" : "closedDateTo",
          "type" : "string"
        }, {
          "description" : "Filter by the department which closed the application.",
          "in" : "query",
          "name" : "closedByDepartment",
          "type" : "string"
        }, {
          "description" : "Filter by the user who closed the application.",
          "in" : "query",
          "name" : "closedByUser",
          "type" : "string"
        }, {
          "description" : "Filter by record class",
          "in" : "query",
          "name" : "recordClass",
          "type" : "string"
        }, {
          "$ref" : "#/parameters/limit"
        }, {
          "$ref" : "#/parameters/offset"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_simpleRecordModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      },
      "post" : {
        "description" : "Creates a new, full record in Civic Platform. The Create Record API triggers the business rules engine event ApplicationSubmitAfter. \n\n Note: The Create Record API does not include custom forms and custom tables in the request body. To add or update custom forms and custom tables, use the [Update Record Custom Forms](./api-records.html#operation/v4.put.records.recordId.customForms) and [Update Record Custom Tables](./api-records.html#operation/v4.put.records.recordId.customForms) after the Create Record request.\n\n\n\n**API Endpoint**:  POST /v4/records \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Create Record",
        "operationId" : "v4.post.records",
        "tags" : [ "Records" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "The create record information to be added.",
          "in" : "body",
          "name" : "body",
          "schema" : {
            "$ref" : "#/definitions/request_createRecordModel"
          }
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_simpleRecordModel"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/describe/create" : {
      "get" : {
        "tags" : [ "Records" ],
        "summary" : "Describe Required Record Attributes",
        "description" : "Gets the field and element values the system requires in order to create a specific type of record.\n\n\n\n**API Endpoint**:  GET /v4/records/describe/create  \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: \t7.3.2\n\n",
        "operationId" : "v4.get.records.describe.create",
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "Filter by record type. See [Get All Record Type](./api-settings.html#operation/v4.get.settings.records.types).",
          "in" : "query",
          "name" : "type",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_describeRecordModel"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/initialize" : {
      "post" : {
        "tags" : [ "Records" ],
        "summary" : "Create Partial Record",
        "description" : "Creates a partial record that allows a user to save an incomplete application that is work in-progress. To submit the completed application, use the [Finalize Record](./api-records.html#operation/v4.post.records.recordId.finalize) method. See [Creating Records](https://developer.accela.com/docs/construct-api-records.html#construct-api-records__creatingRecords) for more information about calling Create Partial Record in tandem with Finalize Record.  \n\nThe Create Partial Record API triggers the business rules engine event ApplicationSubmitAfter. \n\nNote: The Create Partial Record API does not include custom forms and custom tables in the request body. To add or update custom forms and custom tables, use the [Update Record Custom Forms](./api-records.html#operation/v4.put.records.recordId.customForms) and [Update Record Custom Tables](./api-records.html#operation/v4.put.records.recordId.customForms) between the Create Partial Record and Finalize Record requests.\n\n\n\n**API Endpoint**:  POST /v4/records/initialize \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: \t7.3.2\n\n",
        "operationId" : "v4.post.records.initialize",
        "parameters" : [ {
          "description" : "The record information to be initialized.",
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/request_recordModel"
          }
        }, {
          "description" : "Indicates whether or not it is for a fee estimate.",
          "enum" : [ "true", " false" ],
          "in" : "query",
          "name" : "isFeeEstimate",
          "required" : false,
          "type" : "boolean"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_simpleRecordModel"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/mine" : {
      "get" : {
        "description" : "Gets records for the currently logged-in user.\n\n\n\n**API Endpoint**:  GET /v4/records/mine \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  No authorization required \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get My Records",
        "operationId" : "v4.get.records.mine",
        "tags" : [ "Records" ],
        "parameters" : [ {
          "description" : "Filter by record type. See [Get All Record Types](./api-settings.html#operation/v4.get.settings.records.types).",
          "in" : "query",
          "name" : "type",
          "type" : "string"
        }, {
          "description" : "Filter by the record's open date range, beginning with this date.",
          "in" : "query",
          "name" : "openedDateFrom",
          "type" : "string"
        }, {
          "description" : "Filter by the record's open date range, ending with this date.",
          "in" : "query",
          "name" : "openedDateTo",
          "type" : "string"
        }, {
          "description" : "Filter by the record custom id.",
          "in" : "query",
          "name" : "customId",
          "type" : "string"
        }, {
          "description" : "Filter by module. See [Get All Modules](./api-settings.html#operation/v4.get.settings.modules).",
          "in" : "query",
          "name" : "module",
          "type" : "string"
        }, {
          "description" : "Filter by record status.",
          "in" : "query",
          "name" : "status",
          "type" : "string"
        }, {
          "description" : "Filter by the record's assigned date range starting with this date.",
          "in" : "query",
          "name" : "assignedDateFrom",
          "type" : "string"
        }, {
          "description" : "Filter by the record's assigned date range ending with this date.",
          "in" : "query",
          "name" : "assignedDateTo",
          "type" : "string"
        }, {
          "description" : "Filter by the record's completed date range starting with this date.",
          "in" : "query",
          "name" : "completedDateFrom",
          "type" : "string"
        }, {
          "description" : "Filter by the record's completed date range ending with this date.",
          "in" : "query",
          "name" : "completedDateTo",
          "type" : "string"
        }, {
          "description" : "Filter by the record's status date range starting with this date.",
          "in" : "query",
          "name" : "statusDateFrom",
          "type" : "string"
        }, {
          "description" : "Filter by the record's status date range ending with this date.",
          "in" : "query",
          "name" : "statusDateTo",
          "type" : "string"
        }, {
          "description" : "Record update Date From",
          "in" : "query",
          "name" : "updateDateFrom",
          "type" : "string"
        }, {
          "description" : "Record update Date To",
          "in" : "query",
          "name" : "updateDateTo",
          "type" : "string"
        }, {
          "description" : "Filter by the deparment which completed the application.",
          "in" : "query",
          "name" : "completedByDepartment",
          "type" : "string"
        }, {
          "description" : "Filter by the user who completed the application.",
          "in" : "query",
          "name" : "completedByUser",
          "type" : "string"
        }, {
          "description" : "Filter by the record's closed date range starting with this date.",
          "in" : "query",
          "name" : "closedDateFrom",
          "type" : "string"
        }, {
          "description" : "Filter by the record's closed date range ending with this date.",
          "in" : "query",
          "name" : "closedDateTo",
          "type" : "string"
        }, {
          "description" : "Filter by the department which closed the application.",
          "in" : "query",
          "name" : "closedByDepartment",
          "type" : "string"
        }, {
          "description" : "Filter by the user who closed the application.",
          "in" : "query",
          "name" : "closedByUser",
          "type" : "string"
        }, {
          "description" : "Filter by record class",
          "in" : "query",
          "name" : "recordClass",
          "type" : "string"
        }, {
          "description" : "Filter by comma-separated multiple record types.",
          "in" : "query",
          "name" : "types",
          "type" : "string"
        }, {
          "description" : "Filter by comma-separated multiple modules.",
          "in" : "query",
          "name" : "modules",
          "type" : "string"
        }, {
          "description" : "Filter by comma-separated multiple record status types.",
          "in" : "query",
          "name" : "statusTypes",
          "type" : "string"
        }, {
          "description" : "Comma-delimited list of related objects to be returned with the response. The related object(s) will be returned if data exists; if data does not exist, the requested object(s) will not be included in the response.",
          "in" : "query",
          "name" : "expand",
          "enum" : [ "addresses", "parcels", "professionals", "contacts", "owners", "customForms", "customTables" ],
          "type" : "string"
        }, {
          "name" : "expandCustomForms",
          "description" : "Valid values: \"addresses\"\n          \nIf {expand} includes any of addresses, parcels, owners, or contacts, {expandCustomForms} specifies which {expand} objects should include custom forms. By default, custom forms for addresses, parcels, owners, and contacts are not included in the response data. Note that requesting APO custom forms may have performance implications, depending on the amount of data and connectivity to any external data source.\n\nAdded in Civic Platform version: 9.2.0\n",
          "in" : "query",
          "type" : "string",
          "enum" : [ "addresses" ]
        }, {
          "$ref" : "#/parameters/limit"
        }, {
          "$ref" : "#/parameters/offset"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_recordExtModel_1Array"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{ids}" : {
      "delete" : {
        "tags" : [ "Records" ],
        "summary" : "Delete Records",
        "description" : "Deletes the specified record.\n\n\n\n**API Endpoint**:  DELETE /v4/records/{ids} \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: \t7.3.3\n\n",
        "operationId" : "v4.delete.records.ids",
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "Comma-delimited IDs of the records to be deleted.",
          "in" : "path",
          "name" : "ids",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_resultModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      },
      "get" : {
        "tags" : [ "Records" ],
        "summary" : "Get Records",
        "description" : "Gets the requested record(s).\n\n\n\n**API Endpoint**:  GET /v4/records/{ids} \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  No authorization required \n\n**Civic Platform version**: \t7.3.2\n\n",
        "operationId" : "v4.get.records.ids",
        "parameters" : [ {
          "description" : "Comma-delimited IDs of the records to fetch.",
          "in" : "path",
          "name" : "ids",
          "required" : true,
          "type" : "string"
        }, {
          "description" : "Comma-delimited list of related objects to be returned with the response. The related object(s) will be returned if data exists; if data does not exist, the requested object(s) will not be included in the response.",
          "in" : "query",
          "name" : "expand",
          "enum" : [ "addresses", "parcels", "professionals", "contacts", "owners", "customForms", "customTables", "assets" ],
          "type" : "string"
        }, {
          "name" : "expandCustomForms",
          "description" : "Valid values: \"addresses\"\n\nIf {expand} includes any of addresses, parcels, owners, or contacts, {expandCustomForms} specifies which {expand} objects should include custom forms. By default, custom forms for addresses, parcels, owners, and contacts are not included in the response data. Note that requesting APO custom forms may have performance implications, depending on the amount of data and connectivity to any external data source.\n\nAdded in Civic Platform version: 9.2.0\n",
          "in" : "query",
          "type" : "string",
          "enum" : [ "addresses" ]
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_recordModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{id}" : {
      "put" : {
        "tags" : [ "Records" ],
        "summary" : "Update Record",
        "description" : "Updates details for the specified record. \n\n\n\n**API Endpoint**:  PUT /v4/records/{id} \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: \t7.3.2\n\n",
        "operationId" : "v4.put.records.id",
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "The ID of the record to update.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "string"
        }, {
          "description" : "Record information to be updated.",
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/request_simpleRecordModel"
          }
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/simpleRecordModel"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/activities" : {
      "get" : {
        "description" : "Gets all activities related to the specified record.\n\n\n\n**API Endpoint**:  GET /v4/records/{recordId}/activities \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Record Activities",
        "operationId" : "v4.get.records.recordId.activities",
        "tags" : [ "Records/Activities" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_activityModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      },
      "post" : {
        "description" : "Creates activities associated to the specified record.\n\n\n\n**API Endpoint**:  POST /v4/records/{recordId}/activities \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.3.2\n\n",
        "summary" : "Create Record Activities",
        "operationId" : "v4.post.records.recordId.activities",
        "tags" : [ "Records/Activities" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "description" : "The activity information to be added.",
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "items" : {
              "$ref" : "#/definitions/request_activityAddModel"
            },
            "type" : "array"
          }
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_resultModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/activities/{id}" : {
      "put" : {
        "description" : "Updates the activity for the specified record.\n\n\n\n**API Endpoint**:  PUT /v4/records/{recordId}/activities/{id} \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.3.2\n\n",
        "summary" : "Update Record Activity",
        "operationId" : "v4.put.records.recordId.activities.id",
        "tags" : [ "Records/Activities" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "description" : "The ID of the record activity to update.",
          "format" : "int64",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "integer"
        }, {
          "description" : "The activity information to be updated.",
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/request_activityUpdateModel"
          }
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_resultModel"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/additional" : {
      "get" : {
        "tags" : [ "Records" ],
        "summary" : "Get Additional Details for Record",
        "description" : "Gets additional information for the requested record. \n\n\n\n**API Endpoint**:  GET /v4/records/{recordId}/additional \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: \t7.3.2\n\n",
        "operationId" : "v4.get.records.recordId.additional",
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "The ID of record to fetch.",
          "in" : "path",
          "name" : "recordId",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_recordAdditionalModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      },
      "put" : {
        "tags" : [ "Records" ],
        "summary" : "Update Additional Details for Record",
        "description" : "Updates additional information for the specified record. \n\n\n\n**API Endpoint**:  PUT /v4/records/{recordId}/additional \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: \t7.3.2\n\n",
        "operationId" : "v4.put.records.recordId.additional",
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "The ID of the record to fetch.",
          "in" : "path",
          "name" : "recordId",
          "required" : true,
          "type" : "string"
        }, {
          "description" : "Additional record information for update.",
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/recordAdditionalModel"
          }
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_recordAdditionalModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/addresses" : {
      "get" : {
        "tags" : [ "Records/Addresses" ],
        "summary" : "Get All Record Addresses",
        "description" : "Gets the addresses linked to the specified record. \n\n\n\n**API Endpoint**:  GET /v4/records/{recordId}/addresses \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  No auth required \n\n**Civic Platform version**: 7.3.3.2\n\n",
        "operationId" : "v4.get.records.recordId.addresses",
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "Filter by the primary address flag.",
          "in" : "query",
          "name" : "isPrimary",
          "required" : false,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "items" : {
                "$ref" : "#/definitions/recordAddressModel"
              },
              "type" : "array"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      },
      "post" : {
        "tags" : [ "Records/Addresses" ],
        "summary" : "Create Record Addresses",
        "description" : "Creates new address(es) for the specified record.\n\n\n\n**API Endpoint**:  POST /v4/records/{recordId}/addresses \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "operationId" : "v4.post.records.recordId.addresses",
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "description" : "Record address request information to be created.",
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "items" : {
              "$ref" : "#/definitions/recordAddressModel"
            },
            "type" : "array"
          }
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_resultModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/addresses/{id}" : {
      "put" : {
        "description" : "Updates the address for the specified record.\n\n\n\n**API Endpoint**:  PUT /v4/records/{recordId}/addresses/{id} \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Update Record Address",
        "operationId" : "v4.put.records.recordId.addresses.id",
        "tags" : [ "Records/Addresses" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "description" : "The ID of the address to update.",
          "format" : "int64",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "integer"
        }, {
          "description" : "Address information to be updated.",
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/request_recordAddressModel"
          }
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/addressModel"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/addresses/{ids}" : {
      "delete" : {
        "tags" : [ "Records/Addresses" ],
        "summary" : "Delete Record Addresses",
        "description" : "Deletes addresses from the specified record.\n\n\n\n**API Endpoint**:  DELETE /v4/records/{recordId}/addresses/{idS} \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "operationId" : "v4.delete.records.recordId.addresses.ids",
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "description" : "Comma-delimited IDs of of the addresses to be deleted.",
          "in" : "path",
          "name" : "ids",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_resultModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/addresses/{addressId}/customForms" : {
      "get" : {
        "summary" : "Get Record Address Custom Forms",
        "description" : "Returns an array of custom form data associated with a given record address.\n\n\n\n**API Endpoint**:  GET /v4/records/{recordId}/addresses/{addressId}/customForms \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 9.2.0\n\n",
        "operationId" : "v4.get.records.recordId.addresses.addressId.customForms",
        "tags" : [ "Records/Addresses/Custom Forms" ],
        "parameters" : [ {
          "description" : "Construct oAuth2 authentication token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "type" : "string"
        }, {
          "description" : "The ID of the record to be fetched",
          "in" : "path",
          "name" : "recordId",
          "required" : true,
          "type" : "string"
        }, {
          "description" : "The ID of the address to be fetched",
          "format" : "int64",
          "in" : "path",
          "name" : "addressId",
          "required" : true,
          "type" : "integer"
        }, {
          "description" : "Comma-delimited names of fields to be returned in the response. Note that field names are case-sensitive and only first-level fields are supported. Invalid field names are ignored.",
          "in" : "query",
          "name" : "fields",
          "type" : "string"
        }, {
          "description" : "Language parameter to support I18N. Default language is en_US",
          "in" : "query",
          "name" : "lang",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_customAttributeModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/addresses/{addressId}/customForms/meta" : {
      "get" : {
        "summary" : "Get Record Address Custom Forms Metadata",
        "description" : "Returns the field metadata for all custom forms associated with a given record address.\n\n\n\n**API Endpoint**:  GET /v4/records/{recordId}/addresses/{addressId}/customForms/meta \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 9.2.0\n\n",
        "tags" : [ "Records/Addresses/Custom Forms" ],
        "operationId" : "v4.get.records.recordId.addresses.addressId.customForms.meta",
        "parameters" : [ {
          "description" : "Construct oAuth2 authentication token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "type" : "string"
        }, {
          "description" : "ID of record to be fetched",
          "in" : "path",
          "name" : "recordId",
          "required" : true,
          "type" : "string"
        }, {
          "description" : "ID of record address to be fetched",
          "format" : "int64",
          "in" : "path",
          "name" : "addressId",
          "required" : true,
          "type" : "integer"
        }, {
          "description" : "Comma-delimited names of fields to be returned in the response. Note that field names are case-sensitive and only first-level fields are supported. Invalid field names are ignored.",
          "in" : "query",
          "name" : "fields",
          "required" : false,
          "type" : "string"
        }, {
          "description" : "Language parameter to support I18N. Default language is en_US",
          "in" : "query",
          "name" : "lang",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_apo_customForms_metadata"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/assets" : {
      "get" : {
        "description" : "Returns all assets for a given record.\n\n\n\n**API Endpoint**:  GET /v4/records/{recordId}/assets \n\n**Scope**:  records \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 9.0.0\n\n",
        "summary" : "Get All Assets for Record",
        "operationId" : "v4.get.records.recordId.assets",
        "tags" : [ "Records/Assets" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "$ref" : "#/parameters/offset"
        }, {
          "$ref" : "#/parameters/limit"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_assetMasterModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      },
      "post" : {
        "description" : "Adds one or more assets to a given record.\n\n\n\n**API Endpoint**:  POST /v4/records/{recordId}/assets \n\n**Scope**:  records \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Add Assets to Record",
        "operationId" : "v4.post.records.recordId.assets",
        "tags" : [ "Records/Assets" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "description" : "An array of asset IDs to be linked to the record.",
          "in" : "body",
          "name" : "assetIds",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          }
        }, {
          "$ref" : "#/parameters/offset"
        }, {
          "$ref" : "#/parameters/limit"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_resultModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/assets/{ids}" : {
      "delete" : {
        "description" : "Deletes one or more assets from a given record.\n\n\n\n**API Endpoint**:  DELETE /v4/records/{recordId}/assets/{ids} \n\n**Scope**:  records \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 9.0.0\n\n",
        "summary" : "Delete Assets from Record",
        "operationId" : "v4.delete.records.recordId.assets.ids",
        "tags" : [ "Records/Assets" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "description" : "Comma-delimited IDs of the assets to be removed.",
          "in" : "path",
          "name" : "ids",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_resultModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/comments" : {
      "get" : {
        "description" : "Gets comments associated to a record.\n\n\n\n**API Endpoint**:  GET /v4/records/{recordId}/comments \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Comments for Record",
        "operationId" : "v4.get.records.recordId.comments",
        "tags" : [ "Records/Comments" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_recordCommentModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      },
      "post" : {
        "description" : "Add comments to a record.\n\n\n\n**API Endpoint**:  POST /v4/records/{recordId}/comments  \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Add Comments to a Record",
        "operationId" : "v4.post.records.recordId.comments",
        "tags" : [ "Records/Comments" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "description" : "Record comments to be added.",
          "in" : "body",
          "name" : "body",
          "schema" : {
            "items" : {
              "$ref" : "#/definitions/commentModel"
            },
            "type" : "array"
          }
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_resultModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/comments/{id}" : {
      "put" : {
        "description" : "Update a record comment.\n\n\n\n**API Endpoint**:  PUT /v4/records/{recordId}/comments/{id} \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Update Record Comment",
        "operationId" : "v4.put.records.recordId.comments.id",
        "tags" : [ "Records/Comments" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "description" : "The ID of the comment to update.",
          "format" : "int64",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "integer"
        }, {
          "description" : "Comments to be updated.",
          "in" : "body",
          "name" : "body",
          "schema" : {
            "$ref" : "#/definitions/commentModel"
          }
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_recordCommentModel"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/comments/{ids}" : {
      "delete" : {
        "tags" : [ "Records/Comments" ],
        "summary" : "Delete Record Comments",
        "description" : "Deletes the specified comment(s) for the specified record.\n\n\n\n**API Endpoint**:  DELETE /v4/records/{recordId}/comments/{idS} \n\n**Scope**:  \n\n\n\n**API Endpoint**:  \n\n**Scope**:  addresses \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "operationId" : "v4.delete.records.recordId.comments.ids",
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "description" : "Comma-delimited IDs of the record comments to be deleted.",
          "in" : "path",
          "name" : "ids",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_resultModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/conditionApprovals" : {
      "get" : {
        "description" : "Gets the conditions of approval for the specified record(s).\n\n\n\n**API Endpoint**:  GET /v4/records/{recordId}/conditionApprovals \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Approval Conditions for Record",
        "operationId" : "v4.get.records.recordId.conditionApprovals",
        "tags" : [ "Records/Condition Approvals" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "items" : {
                "$ref" : "#/definitions/recordConditionModel"
              },
              "type" : "array"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      },
      "post" : {
        "description" : "Adds approval conditions to the specified record.\n\n\n\n**API Endpoint**:  POST /v4/records/{recordId}/conditionApprovals \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Create Record Approval Conditions",
        "operationId" : "v4.post.records.recordId.conditionApprovals",
        "tags" : [ "Records/Condition Approvals" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "description" : "Record condition information to be added.",
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "items" : {
              "$ref" : "#/definitions/recordConditionModel"
            },
            "type" : "array"
          }
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_resultModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/conditionApprovals/{id}" : {
      "get" : {
        "description" : "Gets the specified condition of approvals for the specified record(s).\n\n\n\n**API Endpoint**: GET /v4/records/{recordId}/conditionApprovals/{id}  \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get Record Approval Condition",
        "operationId" : "v4.get.records.recordId.conditionApprovals.id",
        "tags" : [ "Records/Condition Approvals" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "description" : "The ID of record condition approval to fetch.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_recordConditionModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      },
      "put" : {
        "description" : "Updates the condition of approvals for the specified record(s).\n\n\n\n**API Endpoint**:  PUT /v4/records/{recordId}/conditionApprovals/{id} \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Update Record Approval Condition",
        "operationId" : "v4.put.records.recordId.conditionApprovals.id",
        "tags" : [ "Records/Condition Approvals" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "description" : "The ID of the condition approval to update.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "string"
        }, {
          "description" : "The condition approval information to be updated.",
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/request_recordConditionModel"
          }
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_recordConditionModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/conditionApprovals/{ids}" : {
      "delete" : {
        "description" : "Deletes approval conditions for the specified record.\n\n\n\n**API Endpoint**:  DELETE /v4/records/{recordId}/conditionApprovals/{ids} \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Delete Record Approval Conditions",
        "operationId" : "v4.delete.records.recordId.conditionApprovals.ids",
        "tags" : [ "Records/Condition Approvals" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "description" : "Comma-delimited IDs of the approval conditions to be deleted.",
          "in" : "path",
          "name" : "ids",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_resultModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/conditions" : {
      "get" : {
        "description" : "Gets all conditions for the specified record.\n\n\n\n**API Endpoint**:  GET /v4/records/{recordId}/conditions \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Conditions for Record",
        "operationId" : "v4.get.records.recordId.conditions",
        "tags" : [ "Records/Conditions" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_recordConditionModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      },
      "post" : {
        "description" : "Adds a condition to the specified record.\n\n\n\n**API Endpoint**:  POST /v4/records/{recordId}/conditions \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Create Record Conditions",
        "operationId" : "v4.post.records.recordId.conditions",
        "tags" : [ "Records/Conditions" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "description" : "Condition information to be added.",
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "items" : {
              "$ref" : "#/definitions/recordConditionModel"
            },
            "type" : "array"
          }
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_resultModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/conditions/{id}" : {
      "get" : {
        "description" : "Gets a record condition.\n\n\n\n**API Endpoint**:  GET /v4/records/{recordId}/conditions/{id} \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get Record Condition",
        "operationId" : "v4.get.records.recordId.conditions.id",
        "tags" : [ "Records/Conditions" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "description" : "The ID of record condition to fetch.",
          "format" : "int64",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "integer"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/recordConditionModel"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      },
      "put" : {
        "description" : "Update a record condition.\n\n\n\n**API Endpoint**:  PUT /v4/records/{recordId}/conditions/{id} \n\n**Scope**:  addresses \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Update Record Condition",
        "operationId" : "v4.put.records.recordId.conditions.id",
        "tags" : [ "Records/Conditions" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "description" : "Record condition information to be updated.",
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/recordConditionModel"
          }
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "description" : "The ID of record condition to fetch.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/recordConditionModel"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/conditions/{id}/histories" : {
      "get" : {
        "description" : "Gets the history for a given record condition.\n\n\n\n**API Endpoint**:  GET /v4/records/{recordId}/conditions/{id}/histories \n\n**Scope**:  records \n\n**App Type**:  Agency \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 9.0.0\n\n",
        "summary" : "Get History for Record Condition",
        "operationId" : "v4.get.records.recordId.conditions.id.histories",
        "tags" : [ "Records/Conditions" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "description" : "The ID of record condition to fetch.",
          "format" : "int64",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "integer"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/conditionHistoryModel"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/conditions/{ids}" : {
      "delete" : {
        "description" : "Deletes conditions for the specified record.\n\n\n\n**API Endpoint**:  DELETE /v4/records/{recordId}/conditions/{ids} \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Delete Record Conditions",
        "operationId" : "v4.delete.records.recordId.conditions.ids",
        "tags" : [ "Records/Conditions" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "description" : "Comma-delimited ids of the conditions to be deleted.",
          "in" : "path",
          "name" : "ids",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_resultModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/contacts" : {
      "get" : {
        "description" : "Gets contacts associated to a record.\n\n\n\n**API Endpoint**:  GET /v4/records/{recordId}/contacts \n\n**Scope**:  addresses \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Contacts for Record",
        "operationId" : "v4.get.records.recordId.contacts",
        "tags" : [ "Records/Contacts" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_recordContactSimpleModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      },
      "post" : {
        "description" : "Creates new contact(s) for the specified record.\n\n\n\n**API Endpoint**:  POST /v4/records/{recordId}/contacts \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Create Record Contacts",
        "operationId" : "v4.post.records.recordId.contacts",
        "tags" : [ "Records/Contacts" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "description" : "The contact information to be added.",
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "items" : {
              "$ref" : "#/definitions/recordContactSimpleModel"
            },
            "type" : "array"
          }
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_resultModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/contacts/{id}" : {
      "put" : {
        "description" : "Updates information for a specified contact associated with a specified record.\n\n\n\n**API Endpoint**:  PUT /v4/records/{recordId}/contacts/{id} \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Update Record Contact",
        "operationId" : "v4.put.records.recordId.contacts.id",
        "tags" : [ "Records/Contacts" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "description" : "The contact information to be updated.",
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/recordContactSimpleModel"
          }
        }, {
          "description" : "The ID of the contact to update.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_recordContactSimpleModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/contacts/{ids}" : {
      "delete" : {
        "description" : "Removes the association of specified contacts from a specified record.\n\n\n\n**API Endpoint**:  DELETE /v4/records/{recordId}/contacts/{ids} \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Delete Record Contacts",
        "operationId" : "v4.delete.records.recordId.contacts.ids",
        "tags" : [ "Records/Contacts" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "description" : "Comma-delimited IDs of the contacts to remove.",
          "in" : "path",
          "name" : "ids",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/fields"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_resultModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/contacts/{contactId}/addresses" : {
      "get" : {
        "description" : "Gets the addresses for the specified contacts and specified records.\n\n\n\n**API Endpoint**:  GET /v4/records/{recordId}/contacts/{contactId}/addresses \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Get All Addresses for Contact",
        "operationId" : "v4.get.records.recordId.contacts.contactId.addresses",
        "tags" : [ "Records/Contacts" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "$ref" : "#/parameters/contactId"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_contactAddressArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      },
      "post" : {
        "description" : "Creates addresses for the specified contact for the specified record.\n\n\n\n**API Endpoint**:  POST /v4/records/{recordId}/contacts/{contactId}/addresses \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Create Record Contact Addresses",
        "operationId" : "v4.post.records.recordId.contacts.contactId.addresses",
        "tags" : [ "Records/Contacts" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "$ref" : "#/parameters/contactId"
        }, {
          "description" : "The address information to be added.",
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "items" : {
              "$ref" : "#/definitions/contactAddress"
            },
            "type" : "array"
          }
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/response_resultModelArray"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/contacts/{contactId}/addresses/{id}" : {
      "put" : {
        "description" : "Updates the specified address for the specified contact and specified record.\n\n\n\n**API Endpoint**:  PUT /v4/records/{recordId}/contacts/{contactId}/addresses/{id} \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Update Record Contact Address",
        "operationId" : "v4.put.records.recordId.contacts.contactId.addresses.id",
        "tags" : [ "Records/Contacts" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "$ref" : "#/parameters/contactId"
        }, {
          "description" : "The ID of the address to be updated.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "format" : "int64",
          "type" : "integer"
        }, {
          "description" : "The address information to be updated.",
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/contactAddress"
          }
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request. Note: A successful request may return no data matching the filter criteria. A successful request may also return messages related to Event Manager Scripting Engine back-end processing.",
            "schema" : {
              "$ref" : "#/definitions/contactAddress"
            }
          },
          "400" : {
            "description" : "Invalid request."
          },
          "401" : {
            "description" : "Authorization failed."
          },
          "403" : {
            "description" : "Forbidden request."
          },
          "404" : {
            "description" : "Requested resource not found."
          },
          "500" : {
            "description" : "Internal server error or bad connection."
          }
        }
      }
    },
    "/v4/records/{recordId}/contacts/{contactId}/addresses/{ids}" : {
      "delete" : {
        "description" : "Deletes the specified addresses from the specified contacts and specified records.\n\n\n\n**API Endpoint**:  DELETE /v4/records/{recordId}/contacts/{contactId}/addresses/{ids} \n\n**Scope**:  records \n\n**App Type**:  All \n\n**Authorization Type**:  Access token \n\n**Civic Platform version**: 7.3.2\n\n",
        "summary" : "Delete Record Contact Addresses",
        "operationId" : "v4.delete.records.recordId.contacts.contactId.addresses.ids",
        "tags" : [ "Records/Contacts" ],
        "parameters" : [ {
          "$ref" : "#/parameters/authHeaderParam"
        }, {
          "$ref" : "#/parameters/recordId"
        }, {
          "$ref" : "#/parameters/contactId"
        }, {
          "description" : "Comma-delimited IDs of the addresses to be deleted.",
          "in" : "path",
          "name" : "ids",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/lang"
        } ],
        "responses" : {
          "200" : {
[...]
